
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/SharedWeb/DashBoardMaster.cshtml";
}

@section Navigation
{
    <div class="breads">
        <div class="breads_inner">
            <div class="pageWidth">
                <div class="title">
                    <h3>Bidding View Cart</h3>
                </div>
                <div class="breadcrumbs">
                    <ul>
                        <li><a href="~/Index/Index">Home</a></li>
                        <li><i class="breads_arrow"></i></li>
                        <li><a href="~/Dashboard/Index">Dashboard</a></li>
                        <li><i class="breads_arrow"></i></li>
                        <li>Bidding View Cart</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
}


    <div class="dashInner">
        <div class="order-details">
            <h2>Order ID : SAD12465</h2>
            <p>Order Date : 12-12-2015</p>
            <div class="clear"></div>
        </div>
        <!-- /order-details -->
        <div class="dashboardList dashboardList-whitebg dashboardList-nospace">
            <table class="responsive">
                <thead>
                    <tr>
                        <th style="width:35%">Quatation ID</th>
                        <th style="width:24%">Event Details</th>
                        <th style="width:26%">Event Date/Time</th>
                        <th style="width:15%">Price</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><h4>WEQ89564</h4></td>
                        <td>
                            <h4>Photographer</h4>
                            <p>
                                #311/A, Road No.12,<br>
                                MLA Colony, Banjara Hills,<br>
                                (+91) 40 64640441
                            </p>
                        </td>
                        <td>
                            <div class="event-date-time">
                                <div class="event-dates">
                                    <p>11/12/2015  9:30 AM</p>
                                </div>
                                <div class="clear"></div>
                            </div>
                        </td>
                        <td>
                            <div class="item-price">
                                <p>Rs. 1200.00</p>
                            </div>
                        </td>
                    </tr>



                </tbody>
            </table>
            <div class="clear"></div>
        </div>
        <!-- /dashboardList -->
        <div class="price-information">
            <div class="total-price">
                <div class="price-desc">
                    <h6>Payment Terms & Conditions</h6>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries.</p>
                </div>
                <div class="price-info">
                    <table>
                        <tr>
                            <td style="width:55%;">Sub Total</td>
                            <td style="width:15%;" align="center">:</td>
                            <td style="width:30%;">1200.00</td>
                        </tr>
                        <tr>
                            <td>Tax</td>
                            <td align="center">:</td>
                            <td>99.00</td>
                        </tr>
                        <tr>
                            <td><h5>Payble Total</h5></td>
                            <td align="center"><h5>:</h5></td>
                            <td><h5>1299.00</h5></td>
                        </tr>
                    </table>
                </div>
                <div class="clear"></div>
            </div>
            <!-- /total-price -->
            <div class="paid-amount">
                <h5>Amount Paid&nbsp;&nbsp;:&nbsp;&nbsp;Rs. 650.00</h5>
                <h4>Balance Amount to be Paid&nbsp;&nbsp;:&nbsp;&nbsp;Rs. 1650.00</h4>
            </div>
            <div class="pay-btn btn-right">
                <button class="btn btn-big btn-red"><i class="ti-close"></i> Cancel</button>
                <button class="btn btn-big btn-green"><i class="ti-money"></i> Pay Now</button>
                <div class="clear"></div>
            </div>
            <div class="clear"></div>
        </div>
        <!-- /price-information -->
        <div class="dashboardList m-t-30">
            <h2>Payment Details</h2>
            <table class="responsive">
                <thead>
                    <tr>
                        <th style="width:10%">S.No</th>
                        <th style="width:20%">Paid Date</th>
                        <th style="width:50%">Details</th>
                        <th style="width:20%">Amount</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>17-12-2015</td>
                        <td>Paid with Visa card -  card XXXXXXXX3002</td>
                        <td>Rs. 600</td>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>17-12-2015</td>
                        <td>Paid with Visa card -  card XXXXXXXX3002</td>
                        <td>Rs. 600</td>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>17-12-2015</td>
                        <td>Paid with Visa card -  card XXXXXXXX3002</td>
                        <td>Rs. 600</td>
                    </tr>
                </tbody>
            </table>
            <div class="clear"></div>
        </div>
        <!-- /dashboardList -->
    </div>
    <!-- /dashInner -->


