
@{
    ViewBag.Title = ":: Manage Bookings ::";
    Layout = "~/Views/SharedWeb/NVendorMasterPage.cshtml";
}

    <link href="//cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.4.0/fullcalendar.min.css" rel="stylesheet" />
    <link href="//cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.4.0/fullcalendar.print.css" rel="stylesheet" media="print" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/css/bootstrap-datetimepicker.min.css" rel="stylesheet" />

    <div class="container" style="background-color: #fff;margin-top:25px;margin-bottom:25px;">
        <div align="center">
            <select class="form-control form-control-lg" id="availableservices" name="type" style="width:30%">
                <option selected disabled>Select Type</option>
                @if (ViewBag.venuerecord != null)
            {
                foreach (var item in ViewBag.venuerecord)
                {
                <option value="@item.subid"><span>@item.type - @item.subtype</span></option>}
            }
            </select>
        </div>
        <br />



        <input type="hidden" id="vendorid" value="@ViewBag.vendormasterid" />
        <input type="hidden" id="vendorsubid" />

        <div id='calendar'></div>
        <div id="myModal" class="modal fade" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title"><span id="eventTitle"></span></h4>
                    </div>
                    <div class="modal-body">
                        <button id="btnDelete" class="btn btn-default btn-sm pull-right">
                            <span class="glyphicon glyphicon-remove"></span> Remove
                        </button>
                        <button id="btnEdit" class="btn btn-default btn-sm pull-right" style="margin-right:5px;">
                            <span class="glyphicon glyphicon-pencil"></span> Edit
                        </button>
                        <p id="pDetails"></p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>

        <div id="CalenderModalNew" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">

                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                        <h4 class="modal-title" id="myModalLabel">New Calendar Entry</h4>
                    </div>
                    <div class="modal-body">
                        <div id="testmodal" style="padding: 5px 20px;">
                            <form id="antoform" class="form-horizontal calender" role="form">
                                <input type="hidden" id="hdEventID" value="0" />
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">Title</label>
                                    <div class="col-sm-9">
                                        <input type="text" class="form-control" id="subject" name="title">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">Start Date</label>
                                    <div class="col-sm-9">
                                        <input type="text" class="form-control" id="startdate" name="title">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-sm-3 control-label">Is Full Day event</label>
                                    <div class="col-sm-9">
                                        @*<input type="checkbox" class="form-control">
                                            <span></span>*@
                                        <select class="form-control" id="chkIsFullDay">
                                            <option>False</option>
                                            <option>True</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group" id="divEndDate">
                                    <label class="col-sm-3 control-label">End Date</label>
                                    <div class="col-sm-9">
                                        <input type="text" class="form-control" id="enddate" name="title">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-sm-3 control-label">Description</label>
                                    <div class="col-sm-9">
                                        <textarea class="form-control" style="height:55px;" id="description" name="descr"></textarea>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-sm-3 control-label">Color</label>
                                    <div class="col-sm-9">
                                        <select class="form-control" id="color">
                                            <option>Red</option>
                                            <option>Green</option>
                                            <option>Blue</option>
                                            <option>Black</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-sm-3 control-label">Type</label>
                                    <div class="col-sm-9">
                                        <select class="form-control" id="type">
                                            <option>Corporate</option>
                                            <option>Individual</option>
                                            <option>Government</option>
                                            <option>NRI</option>
                                        </select>
                                    </div>
                                </div>

                                @*<div class="row">
                                        <div class="col-md-5 col-md-offset-1">
                                            <div class="form-group">
                                                <label class="inline-control-label">
                                                    Appointment
                                                    <input type="radio" class="form-control" name="selectBlock" id="appointment">
                                                    <span></span>
                                                </label>
                                            </div>
                                        </div>
                                        <div class="col-md-5">
                                            <div class="form-group margin-bottom-0">
                                                <label class="inline-control-label">
                                                    Price
                                                    <input type="radio" class="form-control" name="selectBlock" id="prices">
                                                    <span></span>
                                                </label>
                                            </div>
                                            <div class="prices">
                                                <p class="margin-bottom-0">Regular Price : Rs <b>1000</b></p>
                                                <p>Deal Price : Rs <input type="text" class="form-control" placeholder="Enter Deal Price" /></p>
                                            </div>
                                        </div>
                                    </div>*@
                            </form>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default antoclose" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary antosubmit" id="btnSave">Save changes</button>
                    </div>
                </div>
            </div>
        </div>
        <div id="CalenderModalEdit" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">

                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                        <h4 class="modal-title" id="myModalLabel2">Edit Calendar Entry</h4>
                    </div>
                    <div class="modal-body">

                        <div id="testmodal2" style="padding: 5px 20px;">
                            <form id="antoform2" class="form-horizontal calender" role="form">
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">Title</label>
                                    <div class="col-sm-9">
                                        <input type="text" class="form-control" id="title2" name="title2">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">Description</label>
                                    <div class="col-sm-9">
                                        <textarea class="form-control" style="height:55px;" id="descr2" name="descr"></textarea>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default antoclose2" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary antosubmit2">Save changes</button>
                    </div>
                </div>
            </div>
        </div>
        <div id="fc_create" data-toggle="modal" data-target="#CalenderModalNew"></div>
        <div id="fc_edit" data-toggle="modal" data-target="#CalenderModalEdit"></div>


    </div>
    

@section scripts{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.4.0/fullcalendar.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/js/bootstrap-datetimepicker.min.js"></script>
<script src="~/Scripts/Ncalendar.js"></script>
    <script>
        //$('.site-menubar').hide();
        $('#availableservices').on('change', function () {
            var selected = $(this).val();
            //alert(selected);
            var events = [];
            var selectedEvent = null;
            var id = $('#vendorid').val();
            var subvid = $('#availableservices').val();
            $('#vendorsubid').val(subvid);
            FetchEventAndRenderCalendar(id,subvid);
        });
    </script>

    
}