
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/SharedWeb/ServicesMaster.cshtml";
}

@section Navigation
{
<div class="breads">
    <div class="breads_inner">
        <div class="pageWidth">
            <div class="title">
                <h3>Quotation</h3>
            </div>
            <div class="breadcrumbs">
                <ul>
                    <li><a href="../index/index">Home</a></li>
                    <li><i class="breads_arrow"></i></li>
                    <li><a href="#">Services</a></li>
                    @*<li><i class="breads_arrow"></i></li>
                    <li>Quatation</li>*@
                </ul>
            </div>
        </div>
    </div>
</div>
}
<article>
    <div class="about_categories">
        <select>
            <option>Beautician</option>
            <option>Photographers</option>
            <option>Cake Vendors</option>
            <option>Caterer Decorators</option>
            <option>Designer Photographers</option>
            <option>Entertainment</option>
            <option>Fireworks</option>
            <option>Godi wale</option>
        </select>
    </div>
    <div class="about_content">
        <div class="about_text">
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries.</p>
            <p>But also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
            <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece .classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia.</p>
        </div>
        <div class="about_video">
            <div class="video">
                @*<a title="" href="https://www.youtube.com/embed/8jKYP24uhzI" class="popup-youtube">*@
                <a title="" href="https://www.youtube.com/watch?v=8jKYP24uhzI" class="popup-youtube">
                    <div class="zoomDiv">
                        <img src="https://i1.ytimg.com/vi/8jKYP24uhzI/maxresdefault.jpg" alt="Hqdefault">
                        <div class="hoverDiv"></div>
                    </div>
                </a>
            </div>
        </div>
        <div class="raiseaLink">
            @if (ViewBag.Userloginstatus != 0)
            {
                <a href="../QuoatationSubmit/Index"><i class="ti-thumb-up"></i> Raise Quotation Request</a>
            }
            else
            {
                <a href="../Signin/Index"><i class="ti-thumb-up"></i> Raise Quotation Request</a>
            }
            
        </div>
        <div class="clear"></div>
        <div class="service_timeline">
            <h1>How It Works</h1>
            <section id="cd-timeline">
                <div class="cd-timeline-block cd-date-align">
                    <div class="cd-timeline-img green_circle"><i class="icon-circle-blank"></i></div>
                    <!-- cd-timeline-img -->
                    <div class="cd-timeline-content">
                        <div class="adjust-div">
                            <h3 class="heading heading-green">
                                <span>01 </span> Letraset sheets
                                <div class="arrow arrow_green_left"></div>
                            </h3>
                            <div class="timeline_inner">
                                <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece .classical Latin literature from 45 BC, making it over 2000 years old. </p>
                            </div>
                        </div>
                        <div class="date-div"><span class="cd-date">Start</span></div>
                    </div>
                    <!-- cd-timeline-content -->
                </div>
                <!-- /timeline-block cd-date-align-->
                <div class="cd-timeline-block">
                    <div class="cd-timeline-img red_circle"><i class="icon-circle-blank"></i></div>
                    <!-- cd-timeline-img -->
                    <div class="cd-timeline-content">
                        <div class="adjust-div">
                            <h3 class="heading heading-red">
                                <div class="arrow arrow_red_right"></div>
                                <span>02 </span> Contrary to popular
                            </h3>
                            <div class="timeline_inner">
                                <p>But also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum. passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                                <img src="../CSSWeb/images/slider/slider-3.jpg" alt="">
                            </div>
                        </div>
                    </div>
                    <!-- cd-timeline-content -->
                </div>
                <!-- /timeline-block -->
                <div class="cd-timeline-block">
                    <div class="cd-timeline-img orange_circle"><i class="icon-circle-blank"></i></div>
                    <!-- cd-timeline-img -->
                    <div class="cd-timeline-content">
                        <div class="adjust-div">
                            <h3 class="heading heading-orange">
                                <div class="arrow arrow_orange_left"></div>
                                <span>03 </span> Neque porro quisquam
                            </h3>
                            <div class="timeline_inner">
                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries.</p>

                            </div>
                        </div>
                    </div>
                    <!-- cd-timeline-content -->
                </div>

                <div class="cd-timeline-block">
                    <div class="cd-timeline-img green_circle"><i class="icon-circle-blank"></i></div>
                    <!-- cd-timeline-img -->
                    <div class="cd-timeline-content">
                        <div class="adjust-div">
                            <h3 class="heading heading-green">
                                <div class="arrow arrow_green_right"></div>
                                <span>04 </span> Quia dolor sit amet
                            </h3>
                            <div class="timeline_inner">
                                <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece .classical Latin literature from 45 BC, making it over 2000 years old. </p>
                                <p>Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia.</p>
                            </div>
                        </div>
                    </div>
                    <!-- cd-timeline-content -->
                </div>
            </section>
        </div>
    </div>
</article>
@section advertisement
{
    @*<div class="ad">
        <div class="pageWidth">
            <div class="ad_728"><img src="../CSSWeb/images/ad_728.jpg" alt="advertise"></div>
        </div>
    </div>*@
}

