.master-slider, .ms-layer.normal-desc {
	font-family: 'Raleway', sans-serif;
}
.ms-layer.bold-title {
	font-weight: 900;
	font-size: 55px;
	color: #fff;
	text-transform: uppercase;
	text-shadow: 0 4px 2px #333;
}
.ms-layer.bold-title span {
	display: block;
	font-size: 35px;
	font-weight: 500;
	text-transform: uppercase;
	text-shadow: 0 4px 2px #333;
	color: #fff;
}
.ms-layer.bold-title2 {
	font-weight: 500;
	font-size: 16px;
	color: #000;
	padding:5px 10px;
	background:#ffcb08;
}
.ms-layer.bold-title2 .sliderArrow{
	background:url(../images/crest-icon.png) no-repeat right;
	height: 30px;
    width: 46px;
    position: absolute;
    margin: -5px 0 0 -10px;
}

.ms-layer.light-title {
	margin: 0;
	font-weight: 700;
	font-size: 50px !important;
	color: #f1f1f1;
	text-align:center;
}
.ms-layer.normal-desc {
	font-size: 18px !important;
	width: 100%;
	text-align:center;
	color: #fff;
	line-height: 30px;
}
.ms-layer.more-link a {
	color: #fff;
	font-size: 18px;
	border: 1px solid #fff;
	padding: 12px 22px;
	text-transform: uppercase;
	font-weight: 500;
	display: inline-block
}