ul.resp-tabs-list, p {
    margin: 30px 0px;
    padding: 0px;
}
.resp-tabs-list li {
    font-size: 16px;
	color:#000;
    display: inline-block;
    padding: 18px 20px;
    margin: 0 5px 0 0;
    list-style: none;
    cursor: pointer;
    float: left;
	font-family: 'aileronsemibold';
	transition: all 0.3s ease 0s;
	-webkit-transition: all 0.3s ease 0s;
	-moz-transition: all 0.3s ease 0s;
	-o-transition: all 0.3s ease 0s;
}
.resp-tabs-list li:hover {
	background:#2d3e50 !important;
	color:#fff;
}

.resp-tabs-container {
    padding: 0px 0 10px 0;
    background-color:#fff;
    clear: left;
	overflow:hidden;
	border:1px solid #ececec;
	border-top:0;
}
.resp-tabs-container p{
	color:#000;
	font-weight:300;
	margin-bottom:0px;
}
h2.resp-accordion {
    cursor: pointer;
    padding: 5px;
    display: none;
}
.resp-tab-content {
    display: none;
    padding: 10px;
}
.resp-tab-active {
	border: 0px solid #68c3d5 !important;
	border-bottom: none;
	margin-bottom: -1px !important;
	padding: 18px 20px !important;
	color:#fff !important;
	
}
.resp-tab-active {
    border-bottom: none;
    background-color: #2d3e50 !important;
}
.resp-content-active, .resp-accordion-active {
    display: block;
}
.resp-tab-content {
	border-top: 1px solid #2d3e50;
}
h2.resp-accordion {
    font-size: 13px;
    border: 1px solid #c1c1c1;
    border-top: 0px solid #c1c1c1;
    margin: 0px;
    padding: 10px 15px;
	color:#000;
}
h2.resp-tab-active {
    border-bottom: 0px solid #c1c1c1 !important;
    margin-bottom: 0px !important;
    padding: 10px 15px !important;
}
h2.resp-tab-title:last-child {
    border-bottom: 12px solid #c1c1c1 !important;
    background: blue;
}



/*Here your can change the breakpoint to set the accordion, when screen resolution changed*/
@media only screen and (max-width: 768px) {
    ul.resp-tabs-list {
        display: none;
    }

    h2.resp-accordion {
        display: block;
		width:100%;
		float:left;
    }

    .resp-vtabs .resp-tab-content {
        border: 1px solid #C1C1C1;
    }

    .resp-vtabs .resp-tabs-container {
        border: none;
        float: none;
        width: 100%;
        min-height: 100px;
        clear: none;
    }

    .resp-accordion-closed {
        display: none !important;
    }

    .resp-vtabs .resp-tab-content:last-child {
        border-bottom: 1px solid #c1c1c1 !important;
    }
}





.resp-tab-content.hor_1.resp-tab-content-active > ul li i{
	color:#000;
	font-size:12px;
	margin-right:5px;
}
.resp-tab-content.hor_1.resp-tab-content-active > ul li{
	list-style:none;
	font-size: 14px;
	line-height:35px;
	font-weight:300;
	color:#000;
}
.resp-tabs-container .hor_1 strong{
	margin-right:10px;
	color:#000;
	font-weight:600;
}

.resp-tabs-container .hor_1 strong:after{
	content:'-';
	font-weight:400;
	padding:0 0 0 10px;
}