
@{
    ViewBag.Title = "test";
    Layout = "~/Views/SharedWeb/VendorMaster.cshtml";
}
@section Navigation
{
    <div class="breads">
        <div class="breads_inner">
            <div class="pageWidth">
                <div class="title">

                    <h3>Bidding Response</h3>
                </div>
                <div class="breadcrumbs">
                    <ul>
                        <li><a href="~/VendorDashboard/index">Home</a></li>
                        <li><i class="breads_arrow"></i></li>
                        <li><a href="~/VendorBiddingslist/index">Bidding Response</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
}
<h2>test</h2>

