@{
    ViewBag.Title = "Index";
    Layout = "~/Views/SharedWeb/MainMaster.cshtml";
}
<center>
    <div class="dashboard-content">
        <div class="dashInner">

            <!-- /dashDetails -->
            <div class="dashboardList dashboardList-nospace">
                @ViewBag.Type
                <table class="sortable" id="movie">
                    <thead>
                        <tr>
                            <th style="width: 10%; cursor: pointer; ">SNo</th>
                            <th style="width: 15%; cursor: pointer">Bill No</th>
                            <th style="width: 25%; cursor: pointer">Service Type</th>
                            <th style="width: 18%; cursor: pointer">Requested Date</th>
                            <th style="width: 15%; cursor: pointer">Advanced Amount</th>
                            <th style="width: 15%; cursor: pointer">Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td><a href="booknow-view-cart.html" class="green-link">SDA15678</a></td>
                            <td>Book Now</td>
                            <td>17-12-2015</td>
                            <td>Rs. 600</td>
                            <td class="active">Active</td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td><a href="booknow-view-cart.html" class="green-link">SDA15678</a></td>
                            <td>Book Now</td>
                            <td>17-12-2015</td>
                            <td>Rs. 600</td>
                            <td class="close">Cancel</td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td><a href="booknow-view-cart.html" class="green-link">SDA15678</a></td>
                            <td>Book Now</td>
                            <td>17-12-2015</td>
                            <td>Rs. 600</td>
                            <td class="pending">Pending</td>
                        </tr>
                        <tr>
                            <td>4</td>
                            <td><a href="booknow-view-cart.html" class="green-link">RED15678</a></td>
                            <td>Book Now</td>
                            <td>17-12-2015</td>
                            <td>Rs. 600</td>
                            <td class="close">Cancel</td>
                        </tr>
                        <tr>
                            <td>5</td>
                            <td><a href="invitation-view-cart.html" class="green-link">AVX13245</a></td>
                            <td>Invitation</td>
                            <td>16-12-2015</td>
                            <td>Rs. 900</td>
                            <td class="active">Active</td>
                        </tr>
                        <tr>
                            <td>5</td>
                            <td><a href="invitation-view-cart.html" class="green-link">SDC13245</a></td>
                            <td>Invitation</td>
                            <td>16-12-2015</td>
                            <td>Rs. 900</td>
                            <td class="pending">Pending</td>
                        </tr>
                        <tr>
                            <td>6</td>
                            <td><a href="invitation-view-cart.html" class="green-link">XZC13245</a></td>
                            <td>Invitation</td>
                            <td>16-12-2015</td>
                            <td>Rs. 1200</td>
                            <td class="active">Delevired</td>
                        </tr>
                        <tr>
                            <td>7</td>
                            <td><a href="quatation-view-cart.html" class="green-link">MAL89564</a></td>
                            <td>Quatation</td>
                            <td>15-12-2015</td>
                            <td>Rs. 1500</td>
                            <td class="pending">Under Process</td>
                        </tr>
                        <tr>
                            <td>8</td>
                            <td><a href="quatation-view-cart-due.html" class="green-link">WEQ89564</a></td>
                            <td>Quatation</td>
                            <td>15-12-2015</td>
                            <td>Rs. 1500</td>
                            <td class="close">Payement Due</td>
                        </tr>

                        <tr>
                            <td>9</td>
                            <td><a href="bidding-view-cart.html" class="green-link">ADS56892</a></td>
                            <td>Bidding</td>
                            <td>15-12-2015</td>
                            <td>Rs. 1500</td>
                            <td class="active">Active</td>
                        </tr>

                        <tr>
                            <td>10</td>
                            <td><a href="quatation-view-cart-due.html" class="green-link">LML89413</a></td>
                            <td>Bidding</td>
                            <td>15-12-2015</td>
                            <td>Rs. 1500</td>
                            <td class="close">Payement Due</td>
                        </tr>

                        <tr>
                            <td>11</td>
                            <td><a href="booknow-view-cart.html" class="green-link">ADS56892</a></td>
                            <td>Return Gifts</td>
                            <td>15-12-2015</td>
                            <td>Rs. 1500</td>
                            <td class="active">Active</td>
                        </tr>



                    </tbody>
                </table>
                <div class="pagination">
                    <ul>
                        <li><a href="javascript:void(0)">Prev</a></li>
                        <li><a href="javascript:void(0)" class="active">1</a></li>
                        <li><a href="javascript:void(0)">2</a></li>
                        <li><a class="pagination-gap">...</a></li>
                        <li><a href="javascript:void(0)">24</a></li>
                        <li><a href="javascript:void(0)">25</a></li>
                        <li><a href="javascript:void(0)">Next</a></li>
                    </ul>
                </div>
                <div class="clear"></div>
            </div>
            <!-- /dashboardList -->

        </div>
        <!-- /dashInner -->
    </div>
</center>
<div class="clear"></div>
<script type='text/javascript'>
        $(function () {
            sort("movie");
        });
        function sort(tableid) {
            var myTable = "#" + tableid;
            var myTableBody = myTable + " tbody";
            var myTableRows = myTableBody + " tr";
            var myTableColumn = myTable + " th";

            // Starting table state
            function initTable() {

                // Increment the table width for sort icon support
                //$(myTableColumn).each(function () {
                //    var width = $(this).width();
                //    $(this).width(width + 40);
                //});

                // Set the first column as sorted ascending
                $(myTableColumn).eq(0).addClass("sorted-asc");

                //Sort the table using the current sorting order
                sortTable($(myTable), 0, "asc");

            }

            // Table starting state
            initTable();

            // Table sorting function
            function sortTable(table, column, order) {
                var asc = order === 'asc';
                var tbody = table.find('tbody');

                // Sort the table using a custom sorting function by switching
                // the rows order, then append them to the table body
                tbody.find('tr').sort(function (a, b) {
                    if (asc) {
                        return $('td:eq(' + column + ')', a).text()
                            .localeCompare($('td:eq(' + column + ')', b).text());
                    } else {
                        return $('td:eq(' + column + ')', b).text()
                            .localeCompare($('td:eq(' + column + ')', a).text());
                    }
                }).appendTo(tbody);

            }

            // Heading click
            $(myTableColumn).click(function () {

                // Remove the sort classes for all the column, but not the first
                $(myTableColumn).not($(this)).removeClass("sorted-asc sorted-desc");

                // Set or change the sort direction
                if ($(this).hasClass("sorted-asc") || $(this).hasClass("sorted-desc")) {
                    $(this).toggleClass("sorted-asc sorted-desc");
                } else {
                    $(this).addClass("sorted-asc");
                }

                //Sort the table using the current sorting order
                sortTable($(myTable),
                            $(this).index(),
                            $(this).hasClass("sorted-asc") ? "asc" : "desc");

            });
        }

    </script>







