@{
    ViewBag.Title = "DashboardMaster";
    Layout = "~/Views/SharedWeb/MainMaster.cshtml";
}
@section css
{
    <link rel="stylesheet" href="~/CSSWeb/bootstrap/css/Datatable_css.css" />
    @*<link rel="stylesheet" href="~/CSSWeb/css/alert.css" />*@
}
@using MaaAahwanam.Web.Custom
<header>
    <div class="sticky-navigation">
    </div>
    <div class="clear"></div>
    @RenderSection("Navigation", required: true)
</header>
@if (System.Web.HttpContext.Current.User.Identity.IsAuthenticated)
{
    var user = (CustomPrincipal)System.Web.HttpContext.Current.User;
    if (user.UserType == "User")
    {
<div class="dashboard-page">
    <div class="pageWidth">
        <div class="dashboard">
            <aside>
                <div class="sidebar">
                    <ul class="userInfo">
                        <li>
                            <div class="userPic">
                                @*<img id="imgPreview" src="../CSSWeb/images/dashboard/img-profile.jpg" alt="img-profile">*@
                                <img id="imgPreview" alt="img-profile">
                                <div class="file_up">
                                    <input type="text" class="inputBtn">
                                    <input type="file" id="FU_imgdp" class="hide" accept="image/gif, image/jpeg, image/png">
                                </div>
                            </div>
                            <div class="userDetails">
                            <p><strong>@user.FirstName  @user.LastName</strong></p>
                            </div>
                        </li>
                    </ul>
                    <!-- /profile pic -->
                    <ul class="sidebar-links">
                    @*@if (System.Web.HttpContext.Current.User.Identity.IsAuthenticated)
                    {
                        var user = (CustomPrincipal)System.Web.HttpContext.Current.User;*@

                        <li><a href="~/Dashboard"><i class="ti-dashboard"></i>Dashboard</a></li>
                        <li><a href="~/MyProfile"><i class="ti-user"></i>My Profile</a></li>
                        <li><a href="~/EditProfile"><i class="ti-pencil-alt"></i>Edit Profile</a></li>
                        <li><a href="~/Notifications"><i class="ti-bell"></i>Notifications</a></li>
                        <li><a href="~/Tickets"><i class="ti-ticket"></i>Tickets</a></li>
                        <li><a href="../AddressBook"><i class="ti-book"></i>Address Book</a></li>
                        @*if (user.UserType == "Vendor")
                        {
                           <li><a href="../Orders"><i class="ti-book"></i>Orders</a></li>
                           <li><a href="../DatesBooked"><i class="ti-pencil-alt"></i>DatesBooked</a></li>
                        }*@
                        <li><a href="../ChangePassword"><i class="ti-key"></i>Change Password</a></li>
                        <li><a href="../Signin/SignOut"><i class="ti-power-off"></i>Logout</a></li>
                        
                    @* } *@
                    </ul>
                    <!-- left menu -->
                </div>
                <!-- /sidebar -->
                <div id="SecondMenu">
                    <div class="MenuHeading"><i class="icon-gears"></i>Dashboard Settings</div>
                </div>
            </aside>
            <div class="dashboard-content">
                @RenderBody()
                <!-- /dashInner -->
            </div>
            <div class="clear"></div>
        </div>
    </div>
    <div class="clear"></div>
</div>
    }
    if (user.UserType == "Vendor")
    {
        Response.Redirect("VendorDashBoard/Index");
    }
}
@section scripts
{
    <script type="text/javascript" src="~/assets/plugins/dataTables/jquery.dataTables.js"></script>
    <script type="text/javascript" src="~/assets/plugins/dataTables/dataTables.bootstrap.js"></script>
    @*<script type="text/javascript" src="~/CSSWeb/js/alert.js" async></script>*@
    <script>
        window.onload = function () {
            $.ajax({
                url: window.location.href.split("/")[0] + '//' + window.location.href.split("/")[2] + '/Dashboard/SetUserDP',
                //url: "/Dashboard/UpdateDP",
                type: "POST",
                processData: false,
                contentType: false,
                data: {},
                success: function (response) {
                    //code after success
                    //$("#txtImg").val(response);
                    //alert(response);
                    $("#imgPreview").attr('src', '/Content/UserDPs/' + response);
                    $("#imgPreviewsmall").attr('src', '/Content/UserDPs/' + response);
                },
                error: function (er) {
                    alert(er);
                }

            });
        };
    </script>
    <script>
        $("#FU_imgdp").change(function (e) {
            //alert('image changed');
            var data = new FormData();
            var files = $("#FU_imgdp").get(0).files;
            if (files.length > 0) {
                data.append("MyImages", files[0]);
            }

            //alert(data);

            $.ajax({
                url: window.location.href.split("/")[0] + '//' + window.location.href.split("/")[2] + '/Dashboard/UpdateDP',
                //url: "/Dashboard/UpdateDP",
                type: "POST",
                processData: false,
                contentType: false,
                data: data,
                success: function (response) {
                    //code after success
                    //$("#txtImg").val(response);
                    //$("#imgPreview").attr('src','../Content/UserDPs/' +response);
                    $("#imgPreview").attr('src', '/Content/UserDPs/' + response);
                    $("#imgPreviewsmall").attr('src', '/Content/UserDPs/' + response);
                },
                error: function (er) {
                    alert(er);
                }

            });
        });


    </script>
}