<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" type="text/css" href="~/newdesign/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="~/newdesign/css/font-awesome.css">
    <link rel="stylesheet" type="text/css" href="~/newdesign/css/customstyles.css">
    <!--------- Lato Font ---------->
    <link rel="stylesheet" type="text/css" href="~/newdesign/css/latofonts.css">
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-6 logo">
                <a href="/HomePage"><img src="~/newdesign/images/logo.png" alt="Logo"></a>
            </div>
            <div class="col-xs-12 col-xs-offset-0 col-md-2 col-md-offset-4 header-simple-phone">
                <p>Customer Service</p>
                <span class="red"><i class="fa fa-phone" aria-hidden="true"></i> 040 65595928</span>
            </div>
        </div>
    </div>
    <div>
        @RenderBody()
    </div>
    <script type="text/javascript" src="~/newdesign/js/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="~/newdesign/js/bootstrap.js"></script>
</body>

</html>
