<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" type="text/css" href="~/newdesign/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="~/newdesign/css/font-awesome.css">
    <link rel="stylesheet" type="text/css" href="~/newdesign/css/customstyles.css">
    <link rel="stylesheet" type="text/css" href="~/newdesign/css/latofonts.css">
    <!-- BX Slider -->
    <link rel="stylesheet" type="text/css" href="~/newdesign/css/jquery.bxslider.css" />
</head>
@using MaaAahwanam.Web.Custom
@if (System.Web.HttpContext.Current.User.Identity.IsAuthenticated)
{
<body class="dashboard">
    @{ Html.RenderAction("ProfileProgressPartial", "SampleStorefront");}
    <div>
        @RenderBody()
    </div>
    <footer class="container-fluid margin-top-30">
        <div class="row">&copy;&nbsp;Ahwanam 2017. All right reserved.</div>
    </footer>
    <script type="text/javascript" language="javascript" src="~/newdesign/js/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" language="javascript" src="~/newdesign/js/bootstrap.min.js"></script>

    @*<script type="text/javascript">
            /*------- Select Business Category -------------*/

            $(".dashboard .top-right-menu > .logged-box").click(function () {
                $(".dashboard .top-right-menu > ul.dropdown").toggle();
            });

        </script>*@
</body>
        }
        else
        {
            Response.Redirect("/Homepage");
        }
</html>
