<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="shortcut icon" href="~/CSSWeb/images/favicon.png" type="image/x-icon">
    <!--CSS SECTION-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="~/newdesignstyles/css/customstyles.css" rel="stylesheet" />
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <!-- semantic -->
    <link rel="stylesheet" href="~/newdesignstyles/css/semantic.css" type="text/css">
    <link rel="stylesheet" href="~/newdesignstyles/css/semantic.min.css" type="text/css">
    <!-- Data Table -->
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css">
    @RenderSection("css", required: false)
    <style>
        .accordion {
            background-color: #eee;
            color: #444;
            cursor: pointer;
            padding: 18px;
            width: 100%;
            border: none;
            text-align: left;
            outline: none;
            font-size: 15px;
            transition: 0.4s;
        }

            .active, .accordion:hover {
                background-color: #ccc;
            }

            .accordion:after {
                content: '\002B';
                color: #777;
                font-weight: bold;
                float: right;
                margin-left: 5px;
            }

        .active:after {
            content: "\2212";
        }

        .panel {
            padding: 0 18px;
            background-color: white;
            max-height: 0;
            overflow: hidden;
            transition: max-height 0.2s ease-out;
        }
        header  a {
        color:black;
        }
    </style>
    <style>
        .overlay {
            background: no-repeat scroll center center #FFF;
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: 9999999;
            background-color: rgba(0,0,0,0.8);
            /* END EXTERNAL S */
        }
    </style>
</head>
<body>
    <header>
        <div class="row" style="height:50px;">
            <div class="col-md-6">
                @*<img src="~/newdesignstyles/img/logo.png" style="visibility:hidden;height:50px;width:50px;"/>*@
            </div>
            <div class="col-md-6" align="right" style="color:black">
                <a href="/ManageStaff">Add User</a>
                <a href="#">Add Service</a>
                <a href="#">Settings</a>
            </div>
        </div>
    </header>
    <div class="overlay" style="display: none;">
        <div style="left: 50%; top: 50%; position: fixed; transform: translate(-50%, -50%); text-align: center;">
            <img src="~/CSSWeb/images/Loader.gif" /><br>
            <p style="color: white; font-style: italic; font-family:serif;" id="loadermsg"></p>
        </div>

    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-2 col-sm-6">
                <div id="profilepipccontent">
                    @{Html.RenderAction("profilepic", "vdb");}
                </div>
                <div id="sidebarcontent">
                    @{Html.RenderAction("sidebar", "vdb");}
                </div>
            </div>
            @RenderBody()
        </div>
    </div>
    <script src="~/Scripts/jquery-1.10.2.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <!-- semantic -->
    <script type="text/javascript" src="~/newdesignstyles/Scripts/semantic.js"></script>
    <script type="text/javascript" src="~/newdesignstyles/Scripts/semantic.min.js"></script>
    <!-- Data Table -->
    <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <script src="~/Scripts/vdb1.js"></script>
    @RenderSection("scripts", required: false)
    <script>
        var acc = document.getElementsByClassName("accordion");
        var i;

        for (i = 0; i < acc.length; i++) {
            acc[i].addEventListener("click", function () {
                this.classList.toggle("active");
                var panel = this.nextElementSibling;
                if (panel.style.maxHeight) {
                    panel.style.maxHeight = null;
                } else {
                    // panel.style.maxHeight = panel.scrollHeight + "px";
                    $(this).next('.panel').css('display', 'block').css('max-height', '500px');
                }
            });
        }
    </script>
    <script>
        $(document).ready(function () {
            $('#addservices').css("display", "none");
            //$('.ui.accordion').accordion();
        });

        function addservice() {
            $('#addservices').css("display", "block");
            $('#addservicesbutton').css("display", "none");
        }


        function addservicenow() {
            var serviceselection = $('#serviceselection1').find(":selected").text();
            var subcategory = '';
            $.ajax({
                url: '/VDashboard/addnewservice?serviceselection=' + serviceselection + '&&subcategory=' + subcategory,
                type: 'post',
                contentType: 'application-json',
                success: function (data) {
                    alert(data);
                    //var url = '/VDashboard/sidebar';
                    //$('#menusidebar').empty().load(url);
                    //$('#addservices').css('display', 'none');
                    location.reload();
                },
                error: function (er) {
                    alert("System Encountered Internal Error!!! Try Again After Some Time");
                }
            });
        }
        function addservice1(Id) {
            //var url = '/VDashboard/Addservices?vsid=' + Id;
            location.href = '/VDashboard/Index?c=first&&vsid=' + Id;
            //$('#addservice').empty().load(url);
        }
        //$('#serviceselection1 > option').each(function () {
        //    if ($(this).text() == selectedcategory) $(this).parent('select').val($(this).val())
        //})

        $('#serviceselection1').on('change', function () {
            var selectedvalue = $(this).val();
            filterdropdown(selectedvalue);
        });

        function filterdropdown(selectedvalue) {
            var subcat = [];
            $.ajax({
                url: "/NVendorManageStoreFront/filtercategories?type=" + selectedvalue,
                success: function (result) {
                    if (result == "Fail") {
                        alert("Failed to Fetch data");
                    }
                    else {
                        var selecttag = $('#subcategory').empty();
                        $.each(result.split(','), function (i, option) {
                            subcat[i] = "<option value='" + result.split(',')[i] + "'>" + result.split(',')[i] + "</option>";
                        });
                        $('#subcategory').empty().append(subcat);
                        $('#subcategory').css('display', 'block');
                    }
                },
                error: function (data) { alert("Something Went Wrong Try Again Later"); }
            });
        }
    </script>
</body>
</html>
