
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/SharedWeb/ServicesMaster.cshtml";
}

@section Navigation{
<div class="breads">
    <div class="breads_inner">
        <div class="pageWidth">
            <div class="title">
                <h3>Security</h3>
            </div>
            <div class="breadcrumbs">
                <ul>
                    <li><a href="../index/index">Home</a></li>
                    <li><i class="breads_arrow"></i></li>
                    <li>Security</li>
                </ul>
            </div>
        </div>
    </div>
</div>
}
<article>
    <div class="about_categories">
        <select>
            <option>Beautician</option>
            <option>Photographers</option>
            <option>Cake Vendors</option>
            <option>Caterer Decorators</option>
            <option>Designer Photographers</option>
            <option>Entertainment</option>
            <option>Fireworks</option>
            <option>Godi wale</option>
        </select>
    </div>
    <div class="about_content">
        <div class="about-services content_text">
            <h5>Nunc vehicula dui ac scelerisque vehicula</h5>
            <p>Praesent ac ultricies metus. Integer egestas, nulla vel efficitur luctus, augue urna condimentum ante, at iaculis dolor libero ut arcu. Sed nisl nunc, semper in vulputate quis, bibendum dictum sem. Donec sed odio non mauris volutpat sollicitudin quis sit amet tortor. Duis varius ultricies volutpat</p>
            <p>Nullam vitae dui metus. Cras eu urna vitae neque volutpat vestibulum eu ut libero. <strong>Etiam laoreet</strong>, ex nec bibendum malesuada, purus justo efficitur nisi, quis viverra ligula augue et lectus. Nullam et scelerisque magna. Mauris mattis vestibulum orci, in elementum nunc hendrerit vitae. Duis facilisis rutrum odio, commodo tempus metus gravida eu. <strong>Quisque arcu risus</strong>, facilisis eget lorem sed, lacinia interdum dui. Phasellus sit amet nunc ullamcorper, dictum sem nec, imperdiet metus. Integer at pretium nunc. Suspendisse malesuada mauris sed urna varius, non commodo sapien porta. Vestibulum justo est, venenatis ut semper ut, sollicitudin non orci. Sed maximus, nibh nec euismod rutrum, nisl lacus facilisis diam, eget ornare ligula augue eu nunc. </p>
            <h5>Donec finibus accumsan urna ac facilisis</h5>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris sit amet urna eu quam aliquet laoreet. Nulla vehicula nulla dolor, nec molestie tortor vulputate sed. Praesent dui eros, malesuada id lacus in, facilisis dictum quam. Nullam eu venenatis urna. Sed rhoncus urna ut pharetra tincidunt. Praesent eget magna in ante vulputate vestibulum eu nec ex. <em>Nam vel tincidunt magna</em>. Integer tempor eleifend purus dapibus faucibus. Quisque ac molestie nisi. Aliquam sagittis libero nec pretium efficitur. Phasellus cursus, lacus non mollis rutrum, nulla sapien luctus elit, eget congue mauris augue ut nulla. Curabitur in lectus mi.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris sit amet urna eu quam aliquet laoreet. Nulla vehicula nulla dolor, nec molestie tortor vulputate sed. <strong>Praesent dui eros</strong>, malesuada id lacus in, facilisis dictum quam. Nullam eu venenatis urna. Sed rhoncus urna ut pharetra tincidunt. Praesent eget magna in ante vulputate vestibulum eu nec ex. Nam vel tincidunt magna. Integer tempor eleifend purus dapibus faucibus. Quisque ac molestie nisi. Aliquam sagittis libero nec pretium efficitur. Phasellus cursus, lacus non mollis rutrum, nulla sapien luctus elit, eget congue mauris augue ut nulla. Curabitur in lectus mi.</p>
        </div>
        <div class="clear"></div>
    </div>
</article>
