
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/SharedWeb/ServicesMaster.cshtml";
}

@section Navigation
{
    <div class="breads">
        <div class="breads_inner">
            <div class="pageWidth">
                <div class="title">
                    <h3>Successful Events</h3>
                </div>
                <div class="breadcrumbs">
                    <ul>
                        <li><a href="../index/index">Home</a></li>
                        <li><i class="breads_arrow"></i></li>
                        <li>Successful Events</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
}
<article>
    <div class="about_content">
        @{Html.RenderAction("EventsAndTipsBindingLayOut", "Index", new { tabname = "Beauty", sptype = 1 });}
        <div class="clear"></div>      
    </div>
</article>