
<!DOCTYPE html>
<html lang="en">

<head>

    <!-- Google Tag Manager -->
    <script>
(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-KD2HPX6');</script>
    <!-- End Google Tag Manager -->

    <script>
        
function gtag_report_conversion(url) {
  var callback = function () {
    if (typeof(url) != 'undefined') {
      window.location = url;
    }
  };
  gtag('event', 'conversion', {
      'send_to': 'AW-787761009/S6g4CNC-wIkBEPGO0fcC',
      'event_callback': callback
  });
  gtag('config', 'AW-787761009');
  return false;
}
    </script>  

    <meta charset="utf-8">
    <meta https-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Party</title>

    <!-- Favicons-->
    <link rel="shortcut icon" href="~/CSSWeb/images/favicon.png" type="image/x-icon">
    @*<link rel="apple-touch-icon" type="image/x-icon" href="http://design.maa-aahwanam.com/landingpages/img/apple-touch-icon-57x57-precomposed.png">
        <link rel="apple-touch-icon" type="image/x-icon" sizes="72x72" href="http://design.maa-aahwanam.com/landingpages/img/apple-touch-icon-72x72-precomposed.png">
        <link rel="apple-touch-icon" type="image/x-icon" sizes="114x114" href="http://design.maa-aahwanam.com/landingpages/img/apple-touch-icon-114x114-precomposed.png">
        <link rel="apple-touch-icon" type="image/x-icon" sizes="144x144" href="http://design.maa-aahwanam.com/landingpages/img/apple-touch-icon-144x144-precomposed.png">*@
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- Bootstrap core CSS -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet">
    <!-- Material Design Bootstrap -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.5.10/css/mdb.min.css" rel="stylesheet">
    <!-- BASE CSS -->
    <link href="~/newdesignstyles/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/newdesignstyles/css/style.css" rel="stylesheet">
    <link href="~/newdesignstyles/css/vendors.css" rel="stylesheet">
    <link href="~/newdesignstyles/css/all_icons.min.css" rel="stylesheet">
    <!-- UIkit CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-rc.14/css/uikit.min.css" />

    <!-- UIkit JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-rc.14/js/uikit.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-rc.14/js/uikit-icons.min.js"></script>

    <!-- ALTERNATIVE COLORS CSS -->
    <link href="#" id="colors" rel="stylesheet">

    <!-- YOUR CUSTOM CSS -->
    <link href="~/newdesignstyles/css/custom2.css" rel="stylesheet" />
    <!--google fonts-->
    <link href="https://fonts.googleapis.com/css?family=Alex+Brush" rel="stylesheet">
    <link href="~/newdesign/css/jquery.datetimepicker.css" rel="stylesheet" />
    <link href="~/newdesignstyles/css/landingpage.css" rel="stylesheet">
    <link href="~/newdesignstyles/css/intlTelInput.css" rel="stylesheet" />

    <style>
        .intl-tel-input.allow-dropdown .flag-container, .intl-tel-input.separate-dial-code .flag-container {
            left: 0;
        }
    </style>
</head>

<body>

    <!-- Google Tag Manager (noscript) -->
    <noscript>
        <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-KD2HPX6"
                height="0" width="0" style="display:none;visibility:hidden"></iframe>
    </noscript>
    <!-- End Google Tag Manager (noscript) -->

    <div id="page">
        <header>
            <img src="~/newdesignstyles/img/logo.png" width="60" height="40" data-retina="true" alt="ahwanam" class="logo_normal" />
        </header>
        <main>

            <div class="vendorimg" style="background-image:url(/newdesignstyles/images/landingpage/theme.png)" align="center">
                <div class="vdiv" style="font-family: roboto">
                    <p class="msg1" style="font-family:Bangla MN;margin:0px 0 9px 0">THEMES FOR ALL OCCASSIONS!</p>
                    <p class="msg1" style="font-family:roboto;font-size: 25px;margin:0">Ahwanam is comprehensive event planning solution specializing in theme parties.From the smallest detail to <br /> the grandest event, we are here to help.</p>
                    <br />   <span style="font-size: 24px;text-transform:capitalize"><u style="color:white">Chat with Planner</u></span>
                </div>
            </div>


            <div class="uk-section uk-section-default" style="background-image: url('/newdesignstyles/images/landingpage/background.png'); ">


                <div class="uk-container">
                    <center>
                        <div class="row gallery" align="center">
                            <img src="~/newdesignstyles/images/venue.png" style="height: 176px;width: 210px;" />
                            @*<img src="http://design.maa-aahwanam.com/landingpages/images/venue.png" style="height: 176px;width: 210px;">*@

                            <div>
                                <div class="uk-card uk-card-default uk-card-body" style="height: 176px;width: 210px;">
                                    <p class="main-text">Caterers </p>
                                    <hr class="serviceseperator" />
                                    <p class="desc">Treat your guests to world-class dining.</p>
                                </div>
                            </div>
                            <img src="~/newdesignstyles/images/decorator5.jpg" style="height: 176px;width: 210px;" />
                            @*<img src="http://design.maa-aahwanam.com/landingpages/images/decorator5.jpg" style="height: 176px;width: 210px;">*@
                            <div>
                                <div class="uk-card uk-card-default uk-card-body" style="height: 176px;width: 210px;">
                                    <p class="main-text">Music </p>
                                    <hr class="serviceseperator" />
                                    <p class="desc">Make your event extra special with the perfect music. </p>
                                </div>
                            </div>
                            <img src="~/newdesignstyles/images/camera-1239384_1920.jpg" style="height: 176px;width: 210px;" />
                            @*<img src="/vendorimages/camera-1239384_1920.jpg" style="height: 176px;width: 210px;">*@
                            @*<img src="http://design.maa-aahwanam.com/landingpages/images/photographer.jpg" style="height: 176px;width: 210px;">*@

                        </div>
                        <div class="row gallery">
                            <div>
                                <div class="uk-card uk-card-default uk-card-body" style="height: 176px;width: 210px;">
                                    <p class="main-text">Venues</p>
                                    <hr class="serviceseperator" />
                                    <p class="desc">Stunning venues make the perfect backdrop for your celebration.</p>
                                </div>
                            </div>
                            <img src="~/newdesignstyles/images/dining.jpg" style="height: 176px;width: 210px;" />
                            @*<img src="http://design.maa-aahwanam.com/landingpages/images/dining.jpg" style="height: 176px;width: 210px;">*@
                            <div>
                                <div class="uk-card uk-card-default uk-card-body" style="height: 176px;width: 210px;">
                                    <p class="main-text">Decorators</p>
                                    <hr class="serviceseperator" />
                                    <p class="desc">
                                        The best decorator partners are available for your event.
                                    </p>
                                </div>
                            </div>
                            <img src="~/newdesignstyles/images/music1.jpg" style="height: 176px;width: 210px;" />
                            @*<img src="http://design.maa-aahwanam.com/landingpages/images/music1.jpg" style="height: 176px;width: 210px;">*@
                            <div>
                                <div class="uk-card uk-card-default uk-card-body" style="height: 176px;width: 210px;">
                                    <p class="main-text">Photographers </p>
                                    <hr class="serviceseperator" />
                                    <p class="desc">Award winning photographs to make the moments last forever.</p>
                                </div>
                            </div>


                        </div>
                    </center>
                </div>
            </div>



            <!-- page -->
            <div class="bg_color_1" style="background-color:#F12250;height:550px" id="contactusdiv">
                <div class="container" style="max-width: 1350px; border: none;height:500px">
                    <div class="row" style="height: 461px;">

                        <div class="col-lg-7">
                            <h5 style="font-family: banglamn;font-size: 36px;text-transform:capitalize;color:white;">Contact Us Today!</h5>
                            <p style="margin-top: 20px;font-family: roboto;font-size: 19px;color: #fff;">Ahwanam expert party planners are standing by. Call us at <a href="tel:+917702053510" style="color:white">+91 7702053510</a> or submit the form below for a custom quote.</p>
                            <div id="message-contact"></div>
                            <form method="post" id="contactform" autocomplete="off">
                                <div class="row">
                                    <div class="col-md-5">
                                        <div class="form-group">
                                            <input type="text" class="text-line" placeholder="First Name*" id="fname" name="fname" title="Enter First Name" />
                                        </div>
                                    </div>
                                    <div class="col-md-7">
                                        <div class="form-group">
                                            <input type="text" class="text-line" placeholder="Last Name*" id="lname" name="lname" title="Enter Last Name" />
                                        </div>
                                    </div>
                                </div>
                                <!-- /row -->
                                <div class="row">
                                    <div class="col-md-5">
                                        <div class="form-group">
                                            <input type="text" class="text-line" placeholder="Email Address*" id="emailid" name="emailid" title="Enter your Email ID" />
                                        </div>
                                    </div>
                                    <div class="col-md-7">
                                        <div class="form-group">
                                            <input type="text" class="text-line" id="phoneno" name="phoneno" title="Enter your Mobile Number" />
                                        </div>
                                        <span id="error-msg" style="color:white"></span>
                                    </div>
                                </div>
                                <!-- /row -->
                                <div class="form-group">
                                    <input class="text-line" id="datetimepicker" type="text" name="datetimepicker" placeholder="Event Date*" readonly="readonly" title="Select Calendar -->">
                                    <img id="calendar" src="~/newdesignstyles/images/landingpage/calendar.png" title="Click to Open Calendar">
                                </div>
                                <div class="form-group">
                                    <button type="button" disabled id="btnsubmit" style="margin-left:0;position:relative;width:50%;margin-top:50px" class="btn btn-dark-green" onclick="contactform('Wedding')">SUBMIT</button>
                                </div>
                            </form>
                        </div>
                        <div class="col-lg-5">
                            <img class="mandlaimg" src="~/newdesignstyles/images/landingpage/Rangoli.png" />
                            <!-- /map -->
                        </div>
                    </div>
                    <!-- /row -->
                </div>
                <!-- /container -->
            </div>

            <div class="container" id="successmsg" style="display:none">
                <div class="taghead">Got It!</div>
                <div class="tagbody">One of our expert party planners will contact you shortly. </div>
                <img src="~/newdesignstyles/images/landingpage/partyimage.png" style="max-width:1300px;max-height:1000px;height:100%;width:100%" />
            </div>
        </main>


        <!-- page -->


        @*<div id="toTop"></div>*@
        <!-- Back to top button -->
    </div>
    <footer>
        <div class="fdiv"></div>
        <div align="center" class="footerdiv">
            <a href="/privacypolicy">Privacy Policy</a> | <a href="/termscondition">Terms & Conditions</a>
            <br />
            <a>Copyright 2018, All rights reserved.</a>
        </div>
    </footer>
    <!-- COMMON SCRIPTS -->
    @*<script data-cfasync="false" src="/cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script>*@
    @*<script src="js\jquery-2.2.4.min.js"></script>*@
    <script src="~/newdesignstyles/Scripts/jquery-2.2.4.min.js"></script>
    <script src="~/newdesignstyles/Scripts/common_scripts.js"></script>
    <script src="~/newdesignstyles/Scripts/validate.js"></script>
    @*<script src="assets\validate.js"></script>*@
    <script src="~/newdesign/js/jquery.datetimepicker.full.js"></script>

    <!-- SPECIFIC SCRIPTS -->
    <script src="~/newdesignstyles/Scripts/intlTelInput.js"></script>
    <script src="~/newdesignstyles/Scripts/landingpage.js"></script>
    <script>
        /*--- Date and Time ----*/
        $('#calendar').datetimepicker({
            dayOfWeekStart: 1,
            lang: 'en',
            timepicker: false,
            format: 'd/m/Y',
            minDate: '-1970/01/01',//yesterday is minimum date(for today use 0 or -1970/01/01)
            maxDate: '+1970/03/02'//tomorrow is maximum date calendar
        }).on('change', function () {
            $('#datetimepicker').val($('#calendar').val());
        });
        /*------------ Date and Time --------------*/
    </script>
</body>
</html>