
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>:: 404 Error ::</title>
    <link rel="icon" href="http://design.maa-aahwanam.com/contest/images/favIcn.png" type="image/png" sizes="32x32">
    <link rel="stylesheet" type="text/css" href="~/newdesign/css/Nbootstrap.css">
    <link rel="stylesheet" type="text/css" href="~/newdesign/css/font-awesome.css">
    <link rel="stylesheet" type="text/css" href="http://design.maa-aahwanam.com/newdesign/css/customstyles.css" />
    <link href="https://fonts.googleapis.com/css?family=Oswald:600,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,900" rel="stylesheet">

    <!------ Date Picker ---------->
    <!--<link rel="stylesheet" type="text/css" href="css/datepicker.css">-->
    <link href="~/newdesign/css/jquery.datetimepicker.css" rel="stylesheet" />

    <!------ Owl Thumb Slider ---------->
    <link rel="stylesheet" type="text/css" href="~/newdesign/css/owl.carousel.css">
    <link rel="stylesheet" type="text/css" href="~/newdesign/css/owl.theme.default.css">

    <!-- Alerts -->
    <link href="~/newdesign/css/alertify.css" rel="stylesheet" />

</head>

<body id="bodyTop">
    <div class="container-fluid px-0">
        <nav class="navbar navbar-toggleable-md navbar-light themeBgColorSecondaryYellow">
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <a class="navbar-brand noteWorthybold text-uppercase logoText" href="/NHomePage">
                Ahwanam
            </a>
            @*<div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="#">Deals <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Login/Signup
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="#">Action</a>
                            <a class="dropdown-item" href="#">Another action</a>
                            <a class="dropdown-item" href="#">Something else here</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Vendor/Service Provider</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link cartToggle" href="#">Cart(0)</a>
                    </li>
                </ul>
            </div>*@
        </nav>
    </div>

    <div class="container">
        <div class="row margin-top-50 oneStopSolution align-items-center">
            <div class="col-12 col-sm-12 col-md-6">
                <h2 class="noteWorthybold mb-5">404 error page not found</h2>

                <div class="row mx-0 my-3">
                    <a href="/NHomePage" class="btnPrimary themeBgColorPrimary border-0 text-white">Go Back to Home</a>
                </div>
            </div>
            <div class="col-12 col-sm-12 col-md-6">
                <img src="http://design.maa-aahwanam.com/newdesign/images/error.png" class="mw-100" alt="Main Image" />
            </div>
        </div>
    </div>

    <footer class="footerBg text-white py-4 margin-top-50">
        <div class="row mx-0">
            <div class="col-6 col-sm-4 col-md-2 offset-md-1">
                <h4 class="noteWorthybold">
                    Main Links
                    <div class="whiteBorder"></div>
                </h4>
                <ul class="pl-0">
                    <li>
                        <a href="#" class="text-white">About Us</a>
                    </li>
                    <li>
                        <a href="#" class="text-white">Blog</a>
                    </li>
                    <li>
                        <a href="#" class="text-white">Contact Us</a>
                    </li>
                </ul>
            </div>
            <div class="col-6 col-sm-4 col-md-2">
                <h4 class="noteWorthybold">
                    Celebrations
                    <div class="whiteBorder"></div>
                </h4>
                <ul class="pl-0">
                    <li>
                        <a href="/NQuestionNaire?servicetype=Wedding" class="text-white">Wedding</a>
                    </li>
                    <li>
                        <a href="/NQuestionNaire?servicetype=Engagement" class="text-white">Engagement</a>
                    </li>
                    <li>
                        <a href="/NQuestionNaire?servicetype=Birthday" class="text-white">Birthday</a>
                    </li>
                    <li>
                        <a href="/NQuestionNaire?servicetype=Party" class="text-white">Parties</a>
                    </li>
                    <li>
                        <a href="/NQuestionNaire?servicetype=Corporate" class="text-white">Corporate</a>
                    </li>
                    <li>
                        <a href="/NQuestionNaire?servicetype=BabyFunction" class="text-white">Baby Functions</a>
                    </li>
                </ul>
            </div>
            <div class="col-6 col-sm-4 col-md-2">
                <h4 class="noteWorthybold">
                    Services
                    <div class="whiteBorder"></div>
                </h4>
                <ul class="pl-0">
                    <li>
                        <a href="/NQuestionNaire?servicetype=Venue" class="text-white">Venues</a>
                    </li>
                    <li>
                        <a href="#" class="text-white">Music & Artists</a>
                    </li>
                    <li>
                        <a href="/NQuestionNaire?servicetype=Catering" class="text-white">Catering</a>
                    </li>
                    <li>
                        <a href="#" class="text-white">Event Services</a>
                    </li>
                    <li>
                        <a href="#" class="text-white">Other</a>
                    </li>
                </ul>
            </div>
            <div class="col-6 col-sm-4 col-md-2">
                <h4 class="noteWorthybold">
                    What's Trending
                    <div class="whiteBorder"></div>
                </h4>
                <ul class="pl-0">
                    <li>
                        <a href="/NQuestionNaire?servicetype=Photography" class="text-white">Photography</a>
                    </li>
                    <li>
                        <a href="#" class="text-white">Makeup Artists</a>
                    </li>
                    <li>
                        <a href="/NQuestionNaire?servicetype=Decorator" class="text-white">Decorators</a>
                    </li>
                    <li>
                        <a href="/NQuestionNaire?servicetype=Pandit" class="text-white">Pandit</a>
                    </li>
                    <li>
                        <a href="#" class="text-white">Bakers</a>
                    </li>
                    <li>
                        <a href="/NQuestionNaire?servicetype=Banquet Hall" class="text-white">Banquet Halls</a>
                    </li>
                </ul>
            </div>
            <div class="col-6 col-sm-4 col-md-2">
                <h4 class="noteWorthybold">
                    Support System
                    <div class="whiteBorder"></div>
                </h4>
                <ul class="pl-0">
                    <li>
                        <a href="#" class="text-white">Customer Support</a>
                    </li>
                    <li>
                        <a href="#" class="text-white">Vendor Support</a>
                    </li>
                    <li>
                        <a href="#" class="text-white">Faq's</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="row mx-0 secondFooter">
            <div class="w-100 text-center">
                <ul class="pl-0 mb-0">
                    <li>
                        <a href="#" class="text-white">Privacy Policy</a>
                    </li>
                    <li>
                        <a href="#" class="text-white">Refund Policy</a>
                    </li>
                    <li>
                        <a href="#" class="text-white">Terms &amp; Conditions</a>
                    </li>
                </ul>
            </div>
            <div class="w-100 text-center">
                <p class="mb-0">Copy Right 2018, All rights reserved.</p>
            </div>
        </div>
    </footer>
</body>
@*<div class="topScroll">
    <div class="icon"><i class="fa fa-arrow-up" aria-hidden="true"></i></div>
</div>*@

@*<script type="text/javascript" src="js/jquery-3.3.1.min.js"></script>
<script type="text/javascript" src="js/bootstrap.js"></script>
<!--<script type="text/javascript" src="js/mdb.min.js"></script>-->
<!-- For Alerts -->
<script type="text/javascript" src="js/jquery.alertable.js"></script>
<script src='js/velocity.min.js'></script>
<script src='js/velocity.ui.min.js'></script>

<!------ Date Picker ---------->
<script type="text/javascript" src="js/jquery.datetimepicker.full.js"></script>


<script type="text/javascript">
  /*--- Date and Time ----*/
$('#datetimepicker').datetimepicker({
dayOfWeekStart : 1,
lang:'en',
timepicker:false,
format:'d/m/Y',
minDate:'-1970/01/01',//yesterday is minimum date(for today use 0 or -1970/01/01)
maxDate:'+1970/03/02'//tomorrow is maximum date calendar
});
/*------------ Date and Time --------------*/
</script>



<!------ Owl Thumb Slider ---------->
<script type="text/javascript" src="js/owl.carousel.min.js"></script>

<script>
            $(document).ready(function() {
              var owl = $('.owl-carousel');
              owl.owlCarousel({
                margin: 10,
                nav: true,
                loop: true,
                responsive: {
                  0: {
                    items: 3
                  },
                  600: {
                    items: 3
                  },
                  1000: {
                    items: 5
                  }
                }
              })
            })
</script>*@

<!------ Auto Complete ---------->

@*<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script>
  $( function() {
    var availableTags = [
      "Hyderabad",
      "Secundrabad",
      "Vizag",
      "Mumbai",
      "Guntur",
	  "Hyderabad",
      "Secundrabad",
      "Vizag",
      "Mumbai",
      "Guntur",
	  "Hyderabad",
      "Secundrabad",
      "Vizag",
      "Mumbai",
      "Guntur",
	  "Hyderabad",
      "Secundrabad",
      "Vizag",
      "Mumbai",
      "Guntur"
    ];
    $( "#tags, #tags1" ).autocomplete({
      source: availableTags
    });
  } );
</script>*@

@*<script>
    /*-- Top Section Area Search --*/
	  var areaSpan = $(".topSearchArea").find("span:last-child"),
	      topThisUiWidget = $(".topSearchArea").next(".ui-widget").find('input');
  $(".topSearchArea").click(function(event){
	  /*-- $(areaSpan).css({"display":"none"}); --*/
    alert("HI");
    //$(areaSpan).css({"display":"none"});
	 // $(topThisUiWidget).css({"display":"block"});
	 // $(topThisUiWidget).focus();
	  });

  $(topThisUiWidget).on('blur', function(){
    if($(this).val() == ''){
      //alert("Empty");
      //$(areaSpan).css({"display":"flex"});
      //$(topThisUiWidget).css("display","none");
    }
  });
	    /*-- Top Section Area Search --*/

  /*-- Index Search Block --*/

    $(".normalSearch input[type='text']").on('input', function(){
      if($(this).val().length >= 2){
        $(".normalSearch > .normalSearchResult").css("display","block");
      }else{
        $(".normalSearch > .normalSearchResult").css("display","none");
      }
    });

/*-- Index Search Block --*/

	/*-- Venue Area Search --*/
	  var venueSearch = $(".venueSearch").find("span"),
	      venueSearchSpan = $(".venueSearch").find("span:first-of-type"),
	      venueUiWidge = $(".venueSearch").find(".ui-widget").find('input');
		  $(venueSearch).click(function(){
			  //$(venueSearchSpan).css({"display":"none"});
			 // $(venueUiWidge).css({"display":"block"});
	     // $(venueUiWidge).focus();
			  });
      $(venueUiWidge).on('blur', function(){
    if($(this).val() == ''){
      //alert("Empty");
      $(venueSearchSpan).css({"display":"flex"});
      $(venueUiWidge).css("display","none");
    }
  });
      $(document).on('click keydown', 'ul#ui-id-2 li.ui-menu-item', function(){
        $(".normalSearch > .normalSearchResult").css("display","block");
      });

        /*$(document).on('keydown', 'ul#ui-id-2 li.ui-menu-item', function(){
          $(".normalSearch > .normalSearchResult").css("display","block");
        });*/
	/*-- Venue Area Search --*/

	/*-- Category Select --*/
	var catgSearch = $(".categorySearch > span"),
	    catgSearchSpanFirst = $(".categorySearch > span:first-child"),
	    catResults = $(".categorySearch .categoryResults")
	$(catgSearch).click(function(e){
    e.stopPropagation();  //New Line Added
		$(catResults).css("display","block");
		});

  /*-- New Script Added --*/
  $(document).click(function(){
            $(catResults).hide();
            });
  /*-- New Script Added --*/

	$(catResults).find('li').click(function(){
		var catResultsText = $(this).text();
		$(catgSearchSpanFirst).empty().append(catResultsText);
		$(catResults).css("display","none");
    $(".normalSearch > .normalSearchResult").css("display","block");
		});
	/*-- Category Select --*/

	/*-- dealProfile Accoding --*/

	 $(".dealProfileTotalDescrption > .block:first-child .content").css("display","block");
  var link = $(".dealProfileTotalDescrption > .block > h6 > a");

  link.on('click', function(event){
	  event.preventDefault();
	  var anchorVal = $(this).attr("href");
	  $(anchorVal).slideDown('fast');
	  $(".dealProfileTotalDescrption > .block .content").not(anchorVal).slideUp('fast');
	  })
	  /*-- dealProfile Accoding --*/

    /*-- Cart Toggle Block --*/
    $('.cartToggle').click(function(){
      $('.cartBlock').toggle();
    });
    /*-- Cart Toggle Block --*/

    /*-- Cart Block Add Remove elements --*/
    $(".cartBlock ul li > i").click(function(){
      var cartLiVal = $(this).prevAll("input[type='hidden']").val();
      $(this).parent("li").remove();
      $(".selectedServices ul li").each(function(){
      var liText = $(this).text();
      if(liText == cartLiVal){
        $(this).css("color","#999");
      }
    });

    });
    /*-- Cart Block Add Remove elements --*/

    /*-- Scroll Top --*/
    $(window).on("scroll", function(){
      var scrollTop = $(this).scrollTop();
      if(scrollTop > 800){
        $(".topScroll").css("display", "block");
      }else{
        $(".topScroll").css("display", "none");
      }
    })
    $(".topScroll").click(function(){
      $("html, body").animate({
        scrollTop: $("#bodyTop").offset().top}, "slow");
    });
    /*-- Scroll Top --*/

    /*-- Alerts --*/
   /*-- $.alertable.alert('Alert Message!', {
  show: function() {
    $(this.overlay).velocity('transition.fadeIn');
    $(this.modal).velocity('transition.flipBounceYIn');
  },
  hide: function() {
    $(this.overlay).velocity('transition.fadeOut');
    $(this.modal).velocity('transition.perspectiveUpOut');
  }
});--*/
    /*-- Alerts --*/

</script>*@
</html>
@*<script type="text/javascript">
  $("a[href='#deals']").click(function(){
    $("html, body").animate({
    scrollTop: $("#deals").offset().top}, "slow");
  });

  $("a[href='#explore']").click(function(){
    $("html, body").animate({
      scrollTop: $("#explore").offset().top}, "slow");
  });

  $("a[href='#startPlaning']").click(function(){
    $("html, body").animate({
      scrollTop: $("#startPlaning").offset().top}, "slow");
  });
</script>*@