
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/SharedWeb/DashBoardMaster.cshtml";
}

@section Navigation
{
<div class="breads">
    <div class="breads_inner">
        <div class="pageWidth">
            <div class="title">
                <h3>Invitation View Cart</h3>
            </div>
            <div class="breadcrumbs">
                <ul>
                    <li><a href="~/Index/Index">Home</a></li>
                    <li><i class="breads_arrow"></i></li>
                    <li><a href="~/Dashboard/Index">Dashboard</a></li>
                    <li><i class="breads_arrow"></i></li>
                    <li>Invitation View Cart</li>
                </ul>
            </div>
        </div>
    </div>
</div>
}

    <div class="dashInner">
        <div class="order-details">
            <h2>Order ID : SAD12465</h2>
            <p>Order Date : 12-12-2015</p>
            <div class="clear"></div>
        </div>
        <!-- /order-details -->
        <div class="dashboardList dashboardList-whitebg dashboardList-nospace">
            <table class="responsive">
                <thead>
                    <tr>
                        <th style="width:35%">Item Details</th>
                        <th style="width:24%">Event Details</th>
                        <th style="width:26%">Event Date/Time</th>
                        <th style="width:15%">Price</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <div class="item-img"><img src="../CSSWeb/images/dashboard/item-img.jpg" alt="item-img" /></div>
                            <div class="item-details">
                                <h4>Neque porro quisquam est qui dolorem ipsum quia</h4>
                            </div>
                            <div class="clear"></div>
                            <div class="item-btns"> <a href="#" class="btn-small btn-green"><i class="ti-rocket"></i>Deliver More</a> <a href="#" class="btn-small btn-delete"><i class="ti-trash"></i>Delete</a> </div>
                        </td>
                        <td>
                            <h4>Wedding Cermony</h4>
                            <p>
                                #311/A, Road No.12,<br>
                                MLA Colony, Banjara Hills,<br>
                                (+91) 40 64640441
                            </p>
                            <a href="#edit_event" class="orange-link upload_address popup-with-move-anim"><i class="ti-pencil"></i> Edit Event</a>
                        </td>
                        <td>
                            <div class="event-date-time">
                                <div class="event-dates">
                                    <p>11/12/2015  9:30 AM</p>
                                </div>
                                <div class="event-date-edit"><a href="#" title="Edit Date & Time"><i class="ti-pencil-alt active"></i></a><a href="#" title="Delete Date & Time"><i class="ti-trash close"></i></a></div>
                                <div class="clear"></div>
                            </div>
                            <a href="#add_new_date" class="orange-link upload_address popup-with-move-anim"><i class="ti-plus"></i> Add Date / Time</a>
                        </td>
                        <td>
                            <div class="item-price">
                                <p>Rs. 1200.00</p>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="item-img"><img src="../CSSWeb/images/dashboard/item-img4.jpg" alt="item-img4" /></div>
                            <div class="item-details">
                                <h4>Qui dolorem ipsum quia</h4>
                            </div>
                            <div class="clear"></div>
                            <div class="item-btns"> <a href="#" class="btn-small btn-green"><i class="ti-rocket"></i>Deliver More</a> <a href="#" class="btn-small btn-delete"><i class="ti-trash"></i>Delete</a> </div>
                        </td>
                        <td>
                            <h4>Wedding Cermony</h4>
                            <p>
                                #311/A, Road No.12,<br>
                                MLA Colony, Banjara Hills
                            </p>
                            <a href="#edit_event" class="orange-link upload_address popup-with-move-anim"><i class="ti-pencil"></i> Edit Event</a>
                        </td>
                        <td>
                            <div class="event-date-time">
                                <div class="event-dates">
                                    <p>11/12/2015  9:30 AM</p>
                                </div>
                                <div class="event-date-edit"><a href="#" title="Edit Date & Time"><i class="ti-pencil-alt active"></i></a><a href="#" title="Delete Date & Time"><i class="ti-trash close"></i></a></div>
                                <div class="clear"></div>
                            </div>
                            <a href="#add_new_date" class="orange-link upload_address popup-with-move-anim"><i class="ti-plus"></i> Add Date / Time</a>
                        <td>
                            <div class="item-price">
                                <p>Rs. 1200.00</p>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="item-img"><img src="../CSSWeb/images/dashboard/item-img.jpg" alt="item-img" /></div>
                            <div class="item-details">
                                <h4>Neque porro quisquam est qui dolorem ipsum quia</h4>
                            </div>
                            <div class="clear"></div>
                            <div class="item-btns"> <a href="#" class="btn-small btn-green"><i class="ti-rocket"></i>Deliver More</a> <a href="#" class="btn-small btn-delete"><i class="ti-trash"></i>Delete</a> </div>
                        </td>
                        <td>
                            <h4>Wedding Cermony</h4>
                            <p>
                                #311/A, Road No.12,<br>
                                MLA Colony, Banjara Hills,<br>
                                (+91) 40 64640441
                            </p>
                            <a href="#edit_event" class="orange-link upload_address popup-with-move-anim"><i class="ti-pencil"></i> Edit Event</a>
                        </td>
                        <td>
                            <div class="event-date-time">
                                <div class="event-dates">
                                    <p>11/12/2015  9:30 AM</p>
                                </div>
                                <div class="event-date-edit"><a href="#" title="Edit Date & Time"><i class="ti-pencil-alt active"></i></a><a href="#" title="Delete Date & Time"><i class="ti-trash close"></i></a></div>
                                <div class="clear"></div>
                            </div>
                            <a href="#add_new_date" class="orange-link upload_address popup-with-move-anim"><i class="ti-plus"></i> Add Date / Time</a>
                        </td>
                        <td>
                            <div class="item-price">
                                <p>Rs. 1200.00</p>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="item-img"><img src="../CSSWeb/images/dashboard/item-img4.jpg" alt="item-img4" /></div>
                            <div class="item-details">
                                <h4>Qui dolorem ipsum quia</h4>
                            </div>
                            <div class="clear"></div>
                            <div class="item-btns"> <a href="#" class="btn-small btn-green"><i class="ti-rocket"></i>Deliver More</a> <a href="#" class="btn-small btn-delete"><i class="ti-trash"></i>Delete</a> </div>
                        </td>
                        <td>
                            <h4>Wedding Cermony</h4>
                            <p>
                                #311/A, Road No.12,<br>
                                MLA Colony, Banjara Hills
                            </p>
                            <a href="#edit_event" class="orange-link upload_address popup-with-move-anim"><i class="ti-pencil"></i> Edit Event</a>
                        </td>
                        <td>
                            <div class="event-date-time">
                                <div class="event-dates">
                                    <p>11/12/2015  9:30 AM</p>
                                </div>
                                <div class="event-date-edit"><a href="#" title="Edit Date & Time"><i class="ti-pencil-alt active"></i></a><a href="#" title="Delete Date & Time"><i class="ti-trash close"></i></a></div>
                                <div class="clear"></div>
                            </div>
                            <a href="#add_new_date" class="orange-link upload_address popup-with-move-anim"><i class="ti-plus"></i> Add Date / Time</a>
                        <td>
                            <div class="item-price">
                                <p>Rs. 1200.00</p>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="item-img"><img src="../CSSWeb/images/dashboard/item-img.jpg" alt="item-img" /></div>
                            <div class="item-details">
                                <h4>Neque porro quisquam est qui dolorem ipsum quia</h4>
                            </div>
                            <div class="clear"></div>
                            <div class="item-btns"> <a href="#" class="btn-small btn-green"><i class="ti-rocket"></i>Deliver More</a> <a href="#" class="btn-small btn-delete"><i class="ti-trash"></i>Delete</a> </div>
                        </td>
                        <td>
                            <h4>Wedding Cermony</h4>
                            <p>
                                #311/A, Road No.12,<br>
                                MLA Colony, Banjara Hills,<br>
                                (+91) 40 64640441
                            </p>
                            <a href="#edit_event" class="orange-link upload_address popup-with-move-anim"><i class="ti-pencil"></i> Edit Event</a>
                        </td>
                        <td>
                            <div class="event-date-time">
                                <div class="event-dates">
                                    <p>11/12/2015  9:30 AM</p>
                                </div>
                                <div class="event-date-edit"><a href="#" title="Edit Date & Time"><i class="ti-pencil-alt active"></i></a><a href="#" title="Delete Date & Time"><i class="ti-trash close"></i></a></div>
                                <div class="clear"></div>
                            </div>
                            <a href="#add_new_date" class="orange-link upload_address popup-with-move-anim"><i class="ti-plus"></i> Add Date / Time</a>
                        </td>
                        <td>
                            <div class="item-price">
                                <p>Rs. 1200.00</p>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="item-img"><img src="../CSSWeb/images/dashboard/item-img4.jpg" alt="item-img4" /></div>
                            <div class="item-details">
                                <h4>Qui dolorem ipsum quia</h4>
                            </div>
                            <div class="clear"></div>
                            <div class="item-btns"> <a href="#" class="btn-small btn-green"><i class="ti-rocket"></i>Deliver More</a> <a href="#" class="btn-small btn-delete"><i class="ti-trash"></i>Delete</a> </div>
                        </td>
                        <td>
                            <h4>Wedding Cermony</h4>
                            <p>
                                #311/A, Road No.12,<br>
                                MLA Colony, Banjara Hills
                            </p>
                            <a href="#edit_event" class="orange-link upload_address popup-with-move-anim"><i class="ti-pencil"></i> Edit Event</a>
                        </td>
                        <td>
                            <div class="event-date-time">
                                <div class="event-dates">
                                    <p>11/12/2015  9:30 AM</p>
                                </div>
                                <div class="event-date-edit"><a href="#" title="Edit Date & Time"><i class="ti-pencil-alt active"></i></a><a href="#" title="Delete Date & Time"><i class="ti-trash close"></i></a></div>
                                <div class="clear"></div>
                            </div>
                            <a href="#add_new_date" class="orange-link upload_address popup-with-move-anim"><i class="ti-plus"></i> Add Date / Time</a>
                        <td>
                            <div class="item-price">
                                <p>Rs. 1200.00</p>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>

            <!-- popup -->
            <div id="edit_event" class="zoom-anim-dialog mfp-hide large-dialog">
                <div class="popup-box pop-content">
                    <div class="popup-head">
                        <h3>Edit Event</h3>
                    </div>
                    <!-- /popup-head -->
                    <div class="popup-space popup-desc-space">
                        <div class="dashboardList dashboardList-nospace">
                            <div class="bidding_form">
                                <ul>
                                    <li>
                                        <label>Event Name</label>
                                        <input type="text" name="event" placeholder="Event Name">
                                    </li>
                                    <li>
                                        <label>Service Type <span>*</span></label>
                                        <select class="selectBox">
                                            <option>Select your Service</option>
                                            <option value="1">Beautician</option>
                                            <option value="2">Designer</option>
                                            <option value="3">Event organizers</option>
                                            <option value="4">Wedding Favors</option>
                                            <option value="5">Wedding collection</option>
                                            <option value="6">Religious priest</option>
                                            <option value="7">Music troop/Band </option>
                                            <option value="8">Cake vendors</option>
                                            <option value="9">Godi wale</option>
                                            <option value="10">Hotels and accommodation</option>
                                            <option value="11">Hospitality Staff</option>
                                            <option value="12">Sangeeth and mehendi</option>
                                            <option value="13">Entertainment</option>
                                            <option value="14">Fireworks</option>
                                            <option value="15">Maids or Helping staff</option>
                                            <option value="16">Sweet shops</option>
                                            <option value="17">Wedding cards</option>
                                        </select>
                                    </li>
                                </ul>
                                <ul>
                                    <li>
                                        <label>Preferences <span>*</span></label>
                                        <textarea name="Preferences" placeholder="Preferences"></textarea>
                                    </li>
                                    <li>
                                        <label>Event Address <span>*</span></label>
                                        <textarea name="Event Address" placeholder="Event Address"></textarea>
                                    </li>
                                </ul>
                                <ul>
                                    <li>
                                        <label>Event Location <span>*</span></label>
                                        <input type="text" name="event" placeholder="Event Location">
                                    </li>
                                    <li>
                                        <label>State <span>*</span></label>
                                        <select class="selectBox">
                                            <option>Select State</option>
                                            <option value="1">Andhrapradesh</option>
                                            <option value="2">Telangana</option>
                                            <option value="3">Kerala</option>
                                            <option value="4">Kanataka</option>
                                            <option value="5">Tamilnadu</option>
                                        </select>
                                    </li>
                                </ul>
                                <ul>
                                    <li>
                                        <label>City <span>*</span></label>
                                        <input type="text" name="city" placeholder="City">
                                    </li>
                                    <li>
                                        <label>Postal Code <span>*</span></label>
                                        <input type="text" name="postcal_code" placeholder="Postal Code">
                                    </li>
                                </ul>
                                <ul>
                                    <li>
                                        <label>Email <span>*</span></label>
                                        <input type="text" name="Email" placeholder="satyam.g@siriinnovations.com">
                                    </li>
                                    <li>
                                        <label>Phone <span>*</span></label>
                                        <input type="text" name="postcal_code" placeholder="96525 44441">
                                    </li>
                                </ul>
                                <ul>
                                    <li>&nbsp;</li>
                                    <li>
                                        <button type="submit" name="submit" class="btn btn-big btn-green float-right" value="submit" onclick="window.location='/BiddingConformation/Index'">Submit <i class="ti-angle-double-right"></i></button>
                                    </li>
                                </ul>
                            </div>
                            <div class="clear"></div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end popup -->
            <!-- popup for Add date & time -->
            <div id="add_new_date" class="zoom-anim-dialog mfp-hide large-dialog">
                <div class="popup-box pop-content">
                    <div class="popup-head">
                        <h3>Add Event Date & Time</h3>
                    </div>
                    <!-- /popup-head -->
                    <div class="popup-space popup-desc-space">
                        <div class="dashboardList dashboardList-nospace">
                            <div class="bidding_form add_new_date">
                                <ul class="subinputs1">
                                    <li>
                                        <label>Event Start Date</label>
                                        <input type="text" name="event" placeholder="Event Start Date" value="" id="datetimepicker1">
                                    </li>
                                    <li>
                                        <label>Event Start Time <span>*</span></label>
                                        <input type="text" name="event" placeholder="Event Start Time" id="datetimepicker3">
                                    </li>
                                    <li>
                                        <label>Event End Date</label>
                                        <input type="text" name="event" placeholder="Event End Date" value="" id="datetimepicker2">
                                    </li>
                                    <li>
                                        <label>Event End Time <span>*</span></label>
                                        <input type="text" name="event" placeholder="Event End Time" id="datetimepicker4">
                                    </li>
                                </ul>

                            </div>
                            <a href="#" class="add_field_button">Add More</a>
                            <div class="clear"></div>
                            <button type="submit" name="submit" class="btn btn-big btn-green float-right" style="margin-bottom:15px;" value="submit" onclick="window.location='bidding-conformation.html'">Submit <i class="ti-angle-double-right"></i></button>
                            <div class="clear"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="clear"></div>
        </div>
        <!-- /dashboardList -->
        <div class="price-information">
            <div class="total-price">
                <div class="price-desc">
                    <h6>Payment Terms & Conditions</h6>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries.</p>
                </div>
                <div class="price-info">
                    <table>
                        <tr>
                            <td style="width:55%;">Sub Total</td>
                            <td style="width:15%;" align="center">:</td>
                            <td style="width:30%;">1200.00</td>
                        </tr>
                        <tr>
                            <td>Tax</td>
                            <td align="center">:</td>
                            <td>99.00</td>
                        </tr>
                        <tr>
                            <td><h5>Payble Total</h5></td>
                            <td align="center"><h5>:</h5></td>
                            <td><h5>1299.00</h5></td>
                        </tr>
                    </table>
                </div>
                <div class="clear"></div>
            </div>
            <!-- /total-price -->
            <div class="paid-amount">
                <h5>Amount Paid&nbsp;&nbsp;:&nbsp;&nbsp;Rs. 650.00</h5>
                <h4>Balance Amount to be Paid&nbsp;&nbsp;:&nbsp;&nbsp;Rs. 1650.00</h4>
            </div>
            <div class="pay-btn btn-right">
                <button class="btn btn-big btn-orange"><i class="ti-notepad"></i> New Invitation</button>
                <button class="btn btn-big btn-red"><i class="ti-close"></i> Cancel</button>
                <button class="btn btn-big btn-green" onclick="window.location.href='/Payment/Index';"><i class="ti-money"></i> Pay Now</button>
                <div class="clear"></div>
            </div>
            <div class="clear"></div>
        </div>
        <!-- /price-information -->
        <div class="dashboardList m-t-30">
            <h2>Payment Details</h2>
            <table class="responsive">
                <thead>
                    <tr>
                        <th style="width:10%">S.No</th>
                        <th style="width:20%">Paid Date</th>
                        <th style="width:50%">Details</th>
                        <th style="width:20%">Amount</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>17-12-2015</td>
                        <td>Paid with Visa card -  card XXXXXXXX3002</td>
                        <td>Rs. 600</td>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>17-12-2015</td>
                        <td>Paid with Visa card -  card XXXXXXXX3002</td>
                        <td>Rs. 600</td>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>17-12-2015</td>
                        <td>Paid with Visa card -  card XXXXXXXX3002</td>
                        <td>Rs. 600</td>
                    </tr>
                </tbody>
            </table>
            <div class="clear"></div>
        </div>
        <!-- /dashboardList -->
    </div>
    <!-- /dashInner -->
