
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/SharedWeb/DashBoardMaster.cshtml";
}

@section Navigation
{
<div class="breads">
    <div class="breads_inner">
        <div class="pageWidth">
            <div class="title">
                <h3>Bidding View Cart</h3>
            </div>
            <div class="breadcrumbs">
                <ul>
                    <li><a href="~/Index/Index">Home</a></li>
                    <li><i class="breads_arrow"></i></li>
                    <li><a href="~/Dashboard/Index">Dashboard</a></li>
                    <li><i class="breads_arrow"></i></li>
                    <li>Bidding View Cart</li>
                </ul>
            </div>
        </div>
    </div>
</div>
}


    <div class="dashInner">
        <div class="order-details">
            <h2>Bidding ID : SAD12465</h2>
            <div class="clear"></div>
        </div>
        <!-- /order-details -->
        <!-- popup -->
        <div id="comments" class="zoom-anim-dialog mfp-hide large-dialog">
            <div class="popup-box pop-content">
                <div class="popup-head">
                    <h3>Description &amp; Preferences</h3>
                </div>
                <!-- /popup-head -->
                <div class="popup-space popup-desc-space">
                    <div class="dashboardList">
                        <table>
                            <thead>
                                <tr>
                                    <th style="width:100%">Description</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries.</p>
                                        <p>But also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries.</p>
                                        <p>But also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <table>
                            <thead>
                                <tr>
                                    <th style="width:100%">Preferences</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        <p>But also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries.</p>
                                        <p>But also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <div class="clear"></div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /popup -->

        <div class="dashboardList dashboardList-nospace dashboardList-whitebg">
            <table class="responsive">
                <thead>
                    <tr>
                        <th style="width:5%">&nbsp;</th>
                        <th style="width:5%">S.No</th>
                        <th style="width:20%">Biddding ID</th>
                        <th style="width:18%">Date</th>
                        <th style="width:40%">Description</th>
                        <th style="width:12%">Amount</th>
                        <th style="width:12%">Comments</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><input type="radio" name="quatation" /></td>
                        <td>1</td>
                        <td><a href="#comments" class="green-link ml-center popup-with-move-anim">ASD12345</a></td>
                        <td>16-12-2015</td>
                        <td>Parking Capacity 100, Air Conditioner, etc..</td>
                        <td>Rs. 1200</td>
                        <td><a href="#comment-section" class="green-link">Comment</a></td>
                    </tr>
                    <tr>
                        <td><input type="radio" name="quatation" /></td>
                        <td>2</td>
                        <td><a href="#comments" class="green-link ml-center popup-with-move-anim">MLA89563</a></td>
                        <td>16-12-2015</td>
                        <td>Power Backup, Air Conditioner, etc..</td>
                        <td>Rs. 1000</td>
                        <td><a href="#comment-section" class="green-link">Comment</a></td>
                    </tr>
                    <tr>
                        <td><input type="radio" name="quatation" /></td>
                        <td>3</td>
                        <td><a href="#comments" class="green-link ml-center popup-with-move-anim">RDA89555</a></td>
                        <td>11-12-2015</td>
                        <td>Parking Capacity 100, Power Backup, etc..</td>
                        <td>Rs. 1200</td>
                        <td><a href="#comment-section" class="green-link">Comment</a></td>
                    </tr>
                    <tr>
                        <td><input type="radio" name="quatation" /></td>
                        <td>4</td>
                        <td><a href="#comments" class="green-link ml-center popup-with-move-anim">PRE56892</a></td>
                        <td>12-12-2015</td>
                        <td>Power Backup, Air Conditioner, etc..</td>
                        <td>Rs. 900</td>
                        <td><a href="#comment-section" class="green-link">Comment</a></td>
                    </tr>
                    <tr>
                        <td><input type="radio" name="quatation" /></td>
                        <td>5</td>
                        <td><a href="#comments" class="green-link ml-center popup-with-move-anim">ASD12345</a></td>
                        <td>13-12-2015</td>
                        <td>Parking Capacity 100, Air Conditioner, etc..</td>
                        <td>Rs. 1200</td>
                        <td><a href="#comment-section" class="green-link">Comment</a></td>
                    </tr>
                    <tr>
                        <td><input type="radio" name="quatation" /></td>
                        <td>6</td>
                        <td><a href="#comments" class="green-link ml-center popup-with-move-anim">MLA89563</a></td>
                        <td>14-12-2015</td>
                        <td>Power Backup, Air Conditioner, etc..</td>
                        <td>Rs. 600</td>
                        <td><a href="#comment-section" class="green-link">Comment</a></td>
                    </tr>
                </tbody>
            </table>
            <div class="clear"></div>
        </div>
        <!-- /dashboardList -->
        <div class="price-information">
            <div class="total-price">
                <div class="price-desc">
                    <h6>Payment Terms & Conditions</h6>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries.</p>
                </div>
                <div class="price-info">
                    <table>
                        <tr>
                            <td style="width:55%;">Sub Total</td>
                            <td style="width:15%;" align="center">:</td>
                            <td style="width:30%;">1200.00</td>
                        </tr>
                        <tr>
                            <td>Tax</td>
                            <td align="center">:</td>
                            <td>99.00</td>
                        </tr>
                        <tr>
                            <td><h5>Payble Total</h5></td>
                            <td align="center"><h5>:</h5></td>
                            <td><h5>1299.00</h5></td>
                        </tr>
                    </table>
                </div>
                <div class="clear"></div>
            </div>
            <!-- /total-price -->
            <div class="paid-amount">
                <h5>Advance Amount to be paid&nbsp;&nbsp;:&nbsp;&nbsp;Rs. 650.00</h5>
            </div>
            <div class="pay-btn btn-right">
                <button class="btn btn-big btn-green"><i class="ti-money"></i> Pay Now</button>
                <div class="clear"></div>
            </div>
            <div class="clear"></div>
        </div>
        <!-- /price-information -->
        <div class="comments-box">
            <form class="form" id="comment-section">
                <ul>
                    <li class="full">
                        <label>Comments</label>
                        <textarea name="comments" placeholder="Enter your comments here ..."></textarea>
                    </li>
                </ul>
                <div class="submit-process">
                    <span>
                        <input type="checkbox" checked class="checkbox" />
                        To Vendor
                    </span> <span>
                        <input type="checkbox" class="checkbox" />
                        To Admin
                    </span>
                </div>
                <button class="btn btn btn-orange m-l-0 btn-right"><i class="ti-thumb-up"></i> &nbsp;Submit</button>
                <div class="clear"></div>
            </form>
            <div class="clear"></div>
        </div>
        <a href="#comments"></a>
        <!-- /comments-box -->
        <div class="replyStyle comments m-t-30">
            <h2>Comments <span>(04)</span></h2>
            <dl class="first-child">
                <dt><img class="person" alt="img-profile1" src="../CSSWeb/images/dashboard/img-profile1.jpg"></dt>
                <dd>
                    <h5>Satyam Ganta</h5>
                    <p>Quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                    <div class="cmntsPublish">
                        <ul>
                            <li><i class="ti-time"></i><span>23 May 2014</span></li>
                        </ul>
                    </div>
                </dd>
            </dl>
            <dl>
                <dt><img class="person" alt="img-profile" src="../CSSWeb/images/dashboard/img-profile.jpg"></dt>
                <dd>
                    <h5>Lorem ipsum dolor</h5>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                    <div class="cmntsPublish">
                        <ul>
                            <li><i class="icon-time"></i><span>23 May 2014</span></li>
                        </ul>
                    </div>
                </dd>
            </dl>
            <dl>
                <dt><img class="person" alt="item-img2" src="../CSSWeb/images/dashboard/item-img2.jpg"></dt>
                <dd>
                    <h5>minim veniam</h5>
                    <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                    <div class="cmntsPublish">
                        <ul>
                            <li><i class="icon-time"></i><span>23 May 2014</span></li>
                        </ul>
                    </div>
                </dd>
            </dl>
        </div>
        <div class="clear"></div>
    </div>
    <!-- /dashInner -->
