@{
    ViewBag.Title = "Aboutus";
    Layout = "~/Views/SharedWeb/MainMaster.cshtml";
}
<div class="breads">
    <div class="breads_inner">
        <div class="pageWidth">
            <div class="title">
                <h3>About Maa Aahwanam</h3>
            </div>
            <div class="breadcrumbs">
                <ul>
                    <li><a href="../index/index">Home</a></li>
                    <li><i class="breads_arrow"></i></li>
                    <li>About Us</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<section>
    <div class="about_main">
        <div class="pageWidth">
            <aside>
                <h4>About Us</h4>
                <span>&nbsp;</span>
                <ul id="selection">
                    <li><a href="#" id="pressrelease"> Press Release</a></li>
                    <li><a href="#" id="promoters"> Promoters</a></li>
                </ul>
            </aside>
            <article>
                <div class="about_categories">
                    <select>
                        <option>Beautician</option>
                        <option>Photographers</option>
                        <option>Cake Vendors</option>
                        <option>Caterer Decorators</option>
                        <option>Designer Photographers</option>
                        <option>Entertainment</option>
                        <option>Fireworks</option>
                        <option>Godi wale</option>
                    </select>
                </div>
                <div class="about_content">
                    <div class="about_text">
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries.</p>
                        <p>But also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                        <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece .classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia.</p>
                    </div>
                    <div class="about_video">
                        <div class="video">
                            @*<a title="" href="https://www.youtube.com/embed/8jKYP24uhzI" class="popup-youtube">*@
                            <a title="" href="https://www.youtube.com/watch?v=8jKYP24uhzI" class="popup-youtube">
                                <div class="zoomDiv">
                                    <img src="https://i1.ytimg.com/vi/8jKYP24uhzI/maxresdefault.jpg" alt="Hqdefault">
                                    <div class="hoverDiv"></div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="clear"></div>
                    
                    <div class="missionVission">
                        <div class="container">
                            <div class="mission">
                                <div class="missionIcon"> <img src="../CSSWeb/images/vision.png" alt=""> </div>
                                <div class="missionContent">
                                    <h5>Our Vission</h5>
                                    <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur.</p>
                                </div>
                            </div>
                            <div class="mission">
                                <div class="missionIcon"> <img src="../CSSWeb/images/mision.png" alt=""> </div>
                                <div class="missionContent">
                                    <h5>Our Mission</h5>
                                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="clear"></div>
                    <div class="about_counters">
                        <div class="smart_counts2">
                            <div class="smart_counts_mask no-parallax"></div>
                            <div class="pageWidth">
                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever when an unknown printer .</p>
                                <div class="counts2">

                                </div>
                                <div class="counts2">
                                    <i class="ti-thumb-up"></i>
                                    <h2><span class="counter">@ViewBag.EventsCount</span>+</h2>
                                    <h4>Successful Events</h4>
                                </div>
                                <div class="counts2">
                                    <i class="ti-receipt"></i>
                                    <h2><span class="counter">@ViewBag.Ticketscount</span>+</h2>
                                    <h4>Answered Tickets</h4>
                                </div>
                                <div class="counts2">

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="clear"></div>
                    <div class="about-services">
                        <h3>Our Services</h3>
                        <div class="acc-container">
                            <div class="acc-btn">
                                <h1>Quotation</h1>
                            </div>
                            <div class="acc-content">
                                <div class="acc-content-inner">
                                    <p>Praesent ultricies risus quis magna convallis, ac condimentum tellus laoreet. Donec dictum velit enim, nec hendrerit leo mattis sit amet.</p>
                                </div>
                            </div>
                            <div class="acc-btn">
                                <h1>Bidding</h1>
                            </div>
                            <div class="acc-content">
                                <div class="acc-content-inner">
                                    <p>Fusce eget ultricies ante. In augue urna, rhoncus ac tellus non, porta malesuada magna. Nulla tincidunt orci in metus rhoncus, at malesuada quam varius. Mauris sed tincidunt massa, ut cursus magna. Pellentesque cursus sapien turpis, id blandit magna tempus at.</p>
                                </div>
                            </div>
                            @*<div class="acc-btn">
                                <h1 class="selected">Book Now</h1>
                            </div>
                            <div class="acc-content open">
                                <div class="acc-content-inner">
                                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                                    <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature.</p>
                                </div>
                            </div>*@
                            @*<div class="acc-btn">
                                <h1>Invitation</h1>
                            </div>
                            <div class="acc-content">
                                <div class="acc-content-inner">
                                    <p>Nulla facilisi. Proin sodales dolor in odio lacinia, ut venenatis massa lobortis. Morbi congue dignissim nisi gravida consequat. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam sed egestas diam. Nunc ut mauris tempus, rutrum massa vel, pellentesque velit. Nullam eget diam sit amet diam pretium scelerisque. Nunc sed odio nisi. Nunc odio est, rhoncus vitae risus a, sagittis ultrices mauris. Fusce scelerisque posuere pulvinar.</p>
                                </div>
                            </div>*@
                            <div class="acc-btn">
                                <h1>Reverse Bidding</h1>
                            </div>
                            <div class="acc-content">
                                <div class="acc-content-inner">
                                    <p>Nulla facilisi. Proin sodales dolor in odio lacinia, ut venenatis massa lobortis. Morbi congue dignissim nisi gravida consequat. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam sed egestas diam. Nunc ut mauris tempus, rutrum massa vel, pellentesque velit. Nullam eget diam sit amet diam pretium scelerisque. Nunc sed odio nisi. Nunc odio est, rhoncus vitae risus a, sagittis ultrices mauris. Fusce scelerisque posuere pulvinar.</p>
                                </div>
                            </div>
                            <div class="acc-btn">
                                <h1>Return Gifts</h1>
                            </div>
                            <div class="acc-content">
                                <div class="acc-content-inner">
                                    <p>Fusce eget ultricies ante. In augue urna, rhoncus ac tellus non, porta malesuada magna. Nulla tincidunt orci in metus rhoncus, at malesuada quam varius. Mauris sed tincidunt massa, ut cursus magna. Pellentesque cursus sapien turpis, id blandit magna tempus at.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="clear"></div>
                </div>
            </article>

            <div class="clear"></div>
            @*<div class="ad">
                <div class="pageWidth">
                    <div class="ad_728"><img src="../CSSWeb/images/ad_728.jpg" alt="advertise"></div>
                </div>
            </div>*@
        </div>
    </div>
</section>
@section scriptfunctions
{
<script>
    window.onload = function() {
        document.getElementById('pressrelease').className = "active";
    }
    $("#selection li a").click(function () {
        var id = $(this).attr('id');
        if (id == 'pressrelease') {
            document.getElementById('pressrelease').className = "active";
            document.getElementById('promoters').className = null;
        }
        else {
            document.getElementById('pressrelease').className = null;
            document.getElementById('promoters').className = "active";
        }
    });
</script>
}