
@{
    Layout = null;
}


<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Partner Registration</title>

    <!-- Favicons-->
    <link rel="shortcut icon" href="~/CSSWeb/images/favicon.png" type="image/x-icon">

    <!-- BASE CSS -->
    <link href="~/newdesignstyles/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/newdesignstyles/css/style.css" rel="stylesheet">
    <link href="~/newdesignstyles/css/vendors.css" rel="stylesheet">
    <link href="~/newdesignstyles/css/all_icons.min.css" rel="stylesheet">


    <!-- SPECIFIC CSS -->
    <!-- ALTERNATIVE COLORS CSS -->
    <link href="#" id="colors" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- YOUR CUSTOM CSS -->
    <link href="~/newdesignstyles/css/custom2.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lato:700" rel="stylesheet">
    <!-- semantic -->
    <link rel="stylesheet" href="~/newdesignstyles/css/semantic.css" type="text/css">
    <link rel="stylesheet" href="~/newdesignstyles/css/semantic.min.css" type="text/css">
    <link href="~/newdesign/css/alertify.css" rel="stylesheet" />
    <style>
        .modal {
            position: relative;
        }
        .kcheckbox {
            height: 25px;
    width: 25px;
    background-color: #eee;
        }
        .kcheckboxname {
            padding-left: 5px;
    padding-right: 40px;
    font-size: 33px;
    font-weight: 300;
        }
        .businesstype input:checked ~ .checkmark {
    background-color: #2196F3;
}
        .kscatego {
                padding-top: 20px;
    font-size: 15px;
    padding-bottom: 10px;
        }
        #registrationblock input {
        background-color:white;
        font-weight:700;
        width:90%;
        }
    </style>

</head>
<body>

    <div id="page">

        <header class="header menu_fixed">
            <div id="preloader"><div data-loader="circle-side"></div></div><!-- /Page Preload -->
            <div id="logo">
                <a href="/home">
                    <img src="~/newdesignstyles/img/logo.png" width="40" height="36" data-retina="true" alt="" class="logo_sticky">
                    <img src="~/newdesignstyles/img/logo.png" width="40" height="36" data-retina="true" alt="" class="logo_normal">
                </a>
            </div>

            <ul id="top_menu"></ul>
            <!-- /top_menu -->
            <a href="#menu" class="btn_mobile">
                <div class="hamburger hamburger--spin" id="hamburger">
                    <div class="hamburger-box">
                        <div class="hamburger-inner"></div>
                    </div>
                </div>
            </a>
            <nav id="menu" class="main-menu">
            </nav>
        </header>
        <!-- /header -->

        <main>
            <section>

                <img src="~/newdesignstyles/images/team1.jpg" class="img-fluid" alt="Responsive image" style="width:1351px;height:584px;"> <h6 class="h6-image">List Your Business & Grow 10X</h6>
                <p style="margin-left: 345px;margin-top: -5px;color: #fff;font-size: 12px;">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut laboreet doloremagna aliqua<br>. Ut enim ad minim veniam consectetur adipiscing elit, sed do eiusmod tempor incididunt ut</p>
                <a href="#registrationblock" class="btn_2 add_top_30">
                    Let's Get Started
                </a>
                </img>
                <div class="col-md-6-1">
                    <div class="uk-column-1-2" style="margin-left:-169px;margin-top:-141px;">
                        <img src="~/newdesignstyles/images/globe.png" style="margin-left:34px;"></img><p>
                            <br>GLOBAL EXPOSURE<br><br>Lorem ipsum dolor sit amet,<br>
                            consectetur adipiscing elit.
                        </p>
                        <img src="~/newdesignstyles/images/analytics.png" style="margin-left:34px;"></img><p>
                            <br>&emsp;ANALYTICS<br><br>Lorem ipsum dolor sit amet,<br>
                            consectetur adipiscing elit.
                        </p>
                        <img src="~/newdesignstyles/images/growth.png" style="margin-left:34px;"></img><p>
                            <br>GROW BUSINESS<br><br>Lorem ipsum dolor sit amet,<br>
                            consectetur adipiscing elit.
                        </p>


                    </div>
                    <div class="uk-column-1-2" style="margin-left:121px;margin-top:-436px;">
                        <img src="~/newdesignstyles/images/payments.png" style="margin-left:34px;"></img><p>
                            <br>HASSLE FREE PAYMENTS<br><br>Lorem ipsum dolor sit amet,<br>
                            consectetur adipiscing elit.
                        </p>
                        <img src="~/newdesignstyles/images/dashboard.png" style="margin-left:34px;"></img><p>
                            <br>POWERFUL DASHBOARD<br><br>Lorem ipsum dolor sit amet,<br>
                            consectetur adipiscing elit.
                        </p>
                        <img src="~/newdesignstyles/images/globe.png" style="margin-left:34px;"></img><p>
                            <br>EASY CONVERSATIONS<br><br>Lorem ipsum dolor sit amet,<br>
                            consectetur adipiscing elit.
                        </p>


                    </div>
                    <div class="uk-column-1-2" style="margin-left:400px;margin-top:-440px;">
                        <img src="~/newdesignstyles/images/cms.png" style="margin-left:34px;"></img><p>
                            <br>&emsp;&emsp;&emsp;CMS<br><br>Lorem ipsum dolor sit amet,<br>
                            consectetur adipiscing elit.
                        </p>
                        <img src="~/newdesignstyles/images/conversation.png" style="margin-left:34px;"></img><p>
                            <br>EASY CONVERSATIONS<br><br>Lorem ipsum dolor sit amet,<br>
                            consectetur adipiscing elit.
                        </p>
                        <img src="~/newdesignstyles/images/globe.png" style="margin-left:34px;"></img><p>
                            <br>EASY CONVERSATIONS<br><br>Lorem ipsum dolor sit amet,<br>
                            consectetur adipiscing elit.
                        </p>


                    </div>
                    <div class="col-md-2-12">
                        <h6 class="h6-in-2" style="color:black;text-transform:uppercase">Register</h6>
                        <p style="margin-left: 107px;margin-top: -17px;">Already Got account?<a  href="#sign-in-dialog" id="sign-in" title="Sign In" class="ui first">Login</a></p>
                        <div class="ui equal width form">
                            <div class="ui equal width form" id="registrationblock">
                                <div class="fields">
                                    <div class="eight field">
                                        <label></label>
                                        <input type="text" id="vname" name="vname" placeholder="Your Name">
                                    </div>
                                </div>
                                <div class="eight field">
                                    <label></label>
                                    <input type="text" id="businessname" name="businessname" placeholder="Business Name">
                                </div>
                                <div class="eight field">
                                    <label></label>
                                    <input type="text" id="mobile" name="mobile" placeholder="Mobile">
                                </div>

                                <div class="eight field">
                                    <label></label>
                                    <input type="text" id="email" name="email" placeholder="Email Address">
                                </div>
                                <div class="eight field">
                                    <label></label>
                                    <input type="Password" id="Password" name="Password" placeholder="Password">
                                </div>
                                <a style="cursor:pointer;color:white" class="btn_3" id="btnregister">
                                    Register

                                </a>
                            </div>
                            
                        </div>
                    </div>
                </div>
            </section>

        </main>
        <!--/main-->
        <div class="ui first coupled modal">
            <div class="header">
Welcome             </div>
            <div class="image content">
                
                <div class="description">
                    <p>Go ahead and fill out you business information</p>
                    <div class="businesstype"> <input class="kcheckbox" type="checkbox" id="business" name="business" value="Individual"/><label class="kcheckboxname">Individual</label><input class="kcheckbox" type="checkbox" id="business" name="business" value="Business"/><label class="kcheckboxname">Business</label> </div>
                        <label class="kscatego">Category of business</label>
                        <p><select class="form-control" id="serviceselection1" name="serviceselection1" style="height:40px;font-size:15px">
    <option disabled selected>Select Service Type</option>
    <option value="Venue">Venue</option>
    <option value="Catering">Catering</option>
    <option value="Photography">Photography</option>
    <option value="Decorator">Decorator</option>
    <option value="Other">Others</option>
</select>  </p>
                </div>
            </div>
            <div class="actions">
                <div class="ui primary button" id="btnregister1">Proceed</div>
            </div>
        </div>
        <div class="ui small second coupled modal">
            <div class="header">
               Almost Done!!!
            </div>
            <div class="content">
                <div class="description">
                    <p>Please check you email and click on the activation link to activate and login to your account</p>
                </div>
            </div>
            <div class="actions">
                <div class="ui approve button">
                    <i class="checkmark icon"></i>
                    All Done
                </div>
            </div>
        </div>
        <div id="sign-in-dialog" class="zoom-anim-dialog mfp-hide ">
            <div class="small-dialog-header">
                <h3>Sign In / Register</h3>
            </div>
            <form>
                <div class="sign-in-wrapper">
                    @*<a href="#0" class="social_bt facebook">Login with Facebook</a>
                    <a href="#0" class="social_bt google">Login with Google</a>
                    <div class="divider"><span>Or</span></div>*@
                    <div class="authenticationBlocks">
                        <div class="form-group">
                            <label>Email</label>
                            <input type="text" class="form-control" placeholder="Email ID" name="UserName" id="UserName" required />

                            @*<input type="email" class="form-control" name="email" id="email">*@
                            <i class="icon_mail_alt"></i>
                        </div>
                        <div class="form-group">
                            <label>Password</label>
                            <input type="Password" class="form-control" placeholder="Password" name="Password1" id="Password1" required />

                            @*<input type="password" class="form-control" name="password" id="password" value="">*@
                            <i class="icon_lock_alt"></i>
                        </div>
                        <div class="clearfix add_bottom_15">
                            @*<div class="checkboxes float-left">
                                <label class="container_check">
                                    Remember me
                                    <input type="checkbox">
                                    <span class="checkmark"></span>
                                </label>
                            </div>*@
                            <div class="float-right mt-1"><a id="forgot" href="javascript:void(0);">Forgot Password?</a></div>
                        </div>
                        <div class="text-center"><input type="button" value="Login" onclick="login(this.value)" class="btn_1 full-width" name="command"></div>

                        
                    </div>
                    @*<div class="float-right mt-1 registerBtn"><a id="signup" href="javascript:void(0);">Sign up</a></div>*@
                    <div id="forgot_pw" class="forgotks" style="min-height: 270px;">
                        <div class="form-group">
                            <label>Please confirm login email below</label>
                            <input type="email" class="form-control" name="email_forgot" id="email_forgot">
                            <i class="icon_mail_alt"></i>
                        </div>
                        <p>You will receive an email containing a link allowing you to reset your password to a new preferred one.</p>
                        <div class="text-center">
                            <div class="text-center"><input type="submit" value="Reset Password" onclick="forgot(this.value)" class="btn_1 full-width" name="command"></div>
                        </div>
                        <div class="float-right mt-1"><a id="forgot" class="loginBtn" href="javascript:void(0);">Login</a></div>

                    </div>
                 
                </div>
            </form>
            <!--form -->
        </div>

    </div>

   
    <div id="toTop"></div><!-- Back to top button -->
    <!-- COMMON SCRIPTS -->
    <script src="~/newdesignstyles/Scripts/jquery-2.2.4.min.js"></script>
    <script src="~/newdesignstyles/Scripts/common_scripts.js"></script>
    <script src="~/newdesignstyles/Scripts/main.js"></script>
    <!-- semantic -->
    <script type="text/javascript" src="~/newdesignstyles/Scripts/semantic.js"></script>
    <script type="text/javascript" src="~/newdesignstyles/Scripts/semantic.min.js"></script>
    <script src="~/newdesign/js/alertify.js"></script>
    <script>



        $('.coupled.modal').modal({
            allowMultiple: false

        });
        // attach events to buttons
       // $('.second.modal').modal('attach events', '.first.modal .button');
        $('#btnregister1').click(function () {
            $('.first.modal').modal('hide');
            var businesstype = '';
            var vname = $('#vname').val();
            var businessname = $('#businessname').val();
            var mobile = $('#mobile').val();
            var email = $('#email').val();
            var serviceselection = $('#serviceselection1').find(":selected").text();
            var emailReg = /^([\w-\.]+\u0040([\w-]+\.)+[\w-]{2,4})?$/;
            var phonepattern = /^[0-9]{10}$/;
            var emailaddressVal = $("#email").val();
            var Password = $("#Password").val();
            var accessBtn = $('#btnregister1');
            accessBtn[0].disabled = true;
            DoSave();


            if ($(".businesstype input[type='checkbox']").is(':checked')) {

                var favorite = [];
                $.each($("input[name='business']:checked"), function () {
                    favorite.push($(this).val());
                    businesstype = favorite.join(", ");
                })
            }
            else {
                alert("Please select businesstype");
            }
           
            if (serviceselection == 'Select Service Type') {
                alert('select services');
            }
            else if (businesstype == '') {
                alert('select business type');
            }
            else {
                $.ajax({
                    url: '/pregister/vendorreg?vname=' + vname + '&&businessname=' + businessname + '&&mobile=' + mobile + '&&email=' + email + '&&businesstype=' + businesstype + '&&serviceselection=' + serviceselection + '&&Password=' + Password,
                    type: 'post',
                    contentType: 'application-json',
                    success: function (data) {
                        //Firing event if File Upload is completed!
                        if (data == 'success') {
                            //alertmsg("Upload Completed");
                            $('.second.modal').modal('show');
                        }
                        else if (data == 'ks') {

                            alert('E-Mail ID Already Registered!!! Try Logging with your Password');
                        }
                        else if (data == 'success1') {
                            alert('Registration Failed');
                        }
                    },

                    error: function (data) {
                        alert('error');
                        //alertify.alertmsg("error");
                    }
                });

            }
        });
        // show first now
        $('#btnregister').click(function () {

            var businesstype = '';
            var vname = $('#vname').val();
            var businessname = $('#businessname').val();
            var mobile = $('#mobile').val();
            var email = $('#email').val();
           // var serviceselection = $('#serviceselection1').find(":selected").text();
            var emailReg = /^([\w-\.]+\u0040([\w-]+\.)+[\w-]{2,4})?$/;
            var phonepattern = /^[0-9]{10}$/;
            var emailaddressVal = $("#email").val();
            var Password = $("#Password").val();
            var passwordpattern = /^[a-z0-9]+$/i;
            var accessBtn = $('#btnregister');
            accessBtn[0].disabled = true;
           // DoSave();
            if (vname == '') {
                alert("Please Enter Your Name");
                $("#vname").focus();
            }
            else if (businessname == '') {
                alert("Please Enter Your business Name");
                $("#businessname").focus();
            
            }
           else if (mobile == '') {
                alert("Please Enter PhoneNumber");
                $("#txtphone").focus();
            }
            else if (!phonepattern.test(mobile)) {
                alert("Please Enter valid 10 digit Phonenumber");
                $("#mobile").focus();
            }
            else if (mobile == '') {
                alert("Please Enter Name");
                $("#mobile").focus();
            }
            else if (emailaddressVal == '') {
                alert("Please Enter Email Address");

                $("#email").focus();
            }
            else if (!emailReg.test(emailaddressVal)) {
                alert("Please Enter a valid Email Address");
                $("#email").focus();
                }
             else if (Password == '') {
                alert("Please Enter Password");
                $("#txtpassword").focus();
            }
            else if (Password.length < 5) {
                alert("Password length must be 5 characters");
                $("#txtpassword").focus();
                $("#txtpassword").alphanum();
            }
            else if (!passwordpattern.test(Password)) {
                alert("Please Enter valid 10 digit Phonenumber");
                $("#txtphone").focus();
            }

            else {
                $('.first.modal').modal('show');

            }

        });

        function login(clickedvalue) {
            var Password = $("#Password1").val();
            var Email = $("#UserName").val();
            var url1 = document.referrer;
            var emailReg = /^([\w-\.]+\u0040([\w-]+\.)+[\w-]{2,4})?$/;
            var passwordpattern = /^[a-z0-9]+$/i;
            var emailaddressVal = $("#UserName").val();
           
            if (Password == '') {
                alert("Please Enter Password");
                $("#txtpassword").focus();
            }

            else if (emailaddressVal == '') {
                alert("Please Enter Email Address");
                $("#txtemail").focus();
            }
            else if (!emailReg.test(emailaddressVal)) {
                alert("Please Enter a valid Email Address");
                $("#txtemail").focus();
            }

            else {
                if (clickedvalue == 'Login') {
                    $.ajax({
                        url: '/Home/login',
                        type: 'POST',
                        data: JSON.stringify({ Password: Password, Email: Email, url1: url1 }),
                        dataType: 'json',
                        contentType: 'application/json',
                        success: function (data) {
                           // alert(data);
                            if (data == "success") {
                                alert("Login Sucessfull");
                                window.location.href='/home';
                            }
                            if (data == "unique") {
                                alert("vendorlogin successfull");
                                //vendorlogin
                            }
                            else if (data == "Failed") {

                                alert("Wrong Credentials,Check Username and password");
                                window.location.reload();
                            }
                            else if (data == "success1") {

                                alert("Login Sucessfull");
                                window.location.reload();
                            }
                        },
                        error: function (data) {
                            alert("Wrong Credentials,Check Username and password");
                        }
                    });
                }
            }
        }
        function forgot(clickedvalue) {
            var Email = $("#email_forgot").val();
            var emailReg = /^([\w-\.]+\u0040([\w-]+\.)+[\w-]{2,4})?$/;
            var emailaddressVal = $("#email_forgot").val();
            if (emailaddressVal == '') {
                alert("Please Enter Email Address");
                $("#txtemail").focus();
            }
            else if (!emailReg.test(emailaddressVal)) {
                alert("Please Enter a valid Email Address");
                $("#txtemail").focus();
            }
            else {
                if (clickedvalue == 'Reset Password') {
                    $.ajax({
                        url: '/Home/forgotpass',//?CustomerPhoneNumber=' + CustomerPhoneNumber + '&CustomerName=' + CustomerName + '&Password=' + Password + '&Address=' + Address + '&Email=' + Email,
                        type: 'POST',
                        data: JSON.stringify({ Email: Email }),
                        //data: JSON.stringify({ CustomerPhoneNumber, CustomerName, Password, Address, Email }),
                        dataType: 'json',
                        contentType: 'application/json',
                        success: function (data) {
                            if (data == "success") {
                                alert("A mail is sent to your email to change password Please check your email");
                                window.location.reload();
                            }

                            else if (data == "Failed") {

                                alert("Wrong Credentials,Check Username and password");
                                window.location.reload();
                            }
                            else if (data == "success1") {

                                alert("Wrong Credentials,Check Username and password");
                                window.location.reload();
                            }
                        },
                        error: function (data) {
                            alert("Wrong Credentials,Check Username and password");
                        }
                    });
                }


            }
        }
    </script>
</body>
</html>