body{
	font-size: 14px;
	font-family: 'lato';
	font-weight: 700;
	overflow-x: hidden;}
.topScroll{
	position: fixed;
	bottom: 10px;
	right: 15px;
	font-size: 18px;
	background: #cd2026;
	color: #fff;
	border-radius: 50%;
	padding: 10px 15px;
	cursor: pointer;
	display: none;
	z-index: 2;
	transition: 1s ease;
	-o-transition: 1s ease;
	-ms-transition: 1s ease;
	-moz-transition: 1s ease;
	-webkit-transition: 1s ease;
}
.topScroll:hover{
	color: #cd2026;
	background: #fff;
	transform: rotate(360deg);
    -o-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);}
.p-relative{
	position: relative;
}
.extraFilteredResultsBlock{
	min-height: 425px;
	max-height: 807px;
	overflow-y: auto;
}
.needHelpBlock{
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0,0,0,.4);
	display: none;
	z-index: 1;
}
.needHelpBlock .block{
	width: 300px;
	height: 200px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-150px, -100px);
}
.needHelpBlock .block div.text-center{
	position: absolute;
    top: 50%;
    left: 4%;
    transform: translateY(-46px);
}
.needHelpBlock .block i.fa-times{
	position: absolute;
	top: -5px;
	right: -6px;
	background: #cd2026;
	border-radius: 50%;
	padding: 5px 6px;
	color: #fff;
	cursor: pointer;
	box-shadow: 0px 0px 5px 3px rgba(0,0,0,.2);
	transition: ease .5s;
	-o-transition: ease .5s;
	-ms-transition: ease .5s;
	-moz-transition: ease .5s;
	-webkit-transition: ease .5s;
}
.needHelpBlock .block i.fa-times:hover{
	transform: rotate(360deg);
	-o-transform: rotate(360deg);
	-ms-transform: rotate(360deg);
	-moz-transform: rotate(360deg);
	-webkit-transform: rotate(360deg);
}
.needHelpBlock .block a{
	color: #cd2026;
	font-size: 20px;
}
.needHelpBlock .block p{
	font-size: 24px;
	margin-top: 10px;
}
.logoText{
	color: #573393 !important;
	font-size: 30px;
}
.mainBg{
	background: url(../images/indexImage.png) no-repeat 0 0;
	background-size: cover;
	background-position: center;
	color: #fff;
    padding: 8% 0 21%;}
.navbar-light .navbar-toggler{
	background: #fff;}
#navbarSupportedContent > ul > li:not(:last-of-type){
	margin-right: 30px;}
#navbarSupportedContent > ul > li > a{
	font-size: 16px;
    color: #573393;
    font-weight: 700;}
/*--nav.navbar + div{
	padding: 8% 0 21%;}--*/
.logo-area > a > img{
	width: 70px;}
.logo-area > a > img + span{
	font-size: 36px;}
.tagLine{
	margin: 6% 0;}
.tagLine > p{
	font-family: 'Oswald';
	font-weight: 700;
	font-size: 50px;
text-transform: uppercase;}
.extraLine{
	/*font-family: 'noteworthybold';*/
	font-size: 20px;
	margin-top: 3%;}
.topSearchArea > span:last-child,
.venueSearch > span:first-of-type{
	display: flex;
	justify-content: center;
    width: 181px;}
.categorySearch .categoryResults{
	position: absolute;
	top: 51px;
	width: calc(100% - 15px);
	z-index: 2;
	height: 150px;
    overflow-y: scroll;
    display: none;}
.categorySearch .categoryResults > ul{
	background: #ececec;
	padding-left: 0;}
.categorySearch .categoryResults > ul > li{
	list-style-type: none;
	padding: 10px 15px;
	cursor: pointer;}
.categorySearch .categoryResults > ul > li:hover{
	background: #2e3192;
	color: #fff;}
#ui-id-1{
	z-index: 3;
}
.topSearchArea > span,
.venueSearch > span,
.categorySearch > span{
	padding: 10px 15px;
	font-size: 18px;
    font-weight: 700;}
.topSearchArea > span > i,
.venueSearch > span > i,
.categorySearch > span > i{
	font-size: 30px;}
.topServiceType > select,
.occasionDate input{
	width: 100%;
	padding: 15px;
font-weight: 700;}
.topServiceType > select > option{
	font-weight: 700;
}
.occasionDate input::placeholder{
	color: #333;}
.celebrateToday{
	position: relative;}
.celebrateToday ul{
	margin-top: 66px;
	margin-bottom: 66px;
}
.celebrateToday ul > li{
	list-style-type: none;
	cursor: pointer;
	display: inline-block;
	margin: 0 4% 25px;
	text-align: center;}
.celebrateToday ul > li > a{
	display: block;
	color: #fff;
}
.celebrateToday ul > li > a:hover{}
.celebrateToday ul > li > a > img{
	height: 70px;}
.celebrateToday ul > li > a > img + span{
	display: block;
	color: #fff;
	margin-top: 22px;
	font-size: 18px;
font-weight: 700;}
.waves{
	background:url(../images/wave-bg.png) no-repeat 0 0;
    background-size: cover;
    background-position: center;
    position: absolute;
    top: -215px;
    z-index: 2;
    width: 100%;
	height: 216px;}
.ui-widget input{
	display: none;}
.ui-widget > input{
	padding: 0 5px;}
.normalSearch input[type='text'],
.ui-widget > input,
.questions input[type='text'],
.questions input[type='number'],
.questions input[type='email'],
.questions input[type='password'],
.questions select{
	border: none;
	border-bottom: 2px solid #303262;
	border-radius: 0;
	height: 50px;}
ul.ui-menu{
 background: #ececec;
 padding-left: 0;
 margin: 10px 0;
 width: 190px !important;
 height: 190px !important;
 overflow-y: scroll;
}
ul.ui-menu > li.ui-menu-item{
  list-style-type: none;
  padding: 10px;
}
ul.ui-menu > li.ui-menu-item:hover{
	background: #2e3192;
	color: #fff;}
.normalSearch > .normalSearchResult,
.commonSearchResults > div{
	display: none;
	margin-top: 22px;
}
div.normalSearchResult p,
div.commonSearchResults p{
	font-family: 'Oswald';
	font-weight: 700px;
	color: #573393;
}
.normalSearch > .normalSearchResult ul{
	overflow-x: scroll;
	margin: 10px 10% 0 17%;}
.commonSearchResults ul{
	overflow-x: scroll;}
.normalSearch > .normalSearchResult li,
.commonSearchResults ul > li{
	list-style-type: none;
	display: inline-block;
    margin: 0 20px 22px;}
.normalSearch > .normalSearchResult li > a > div > img,
.commonSearchResults ul > li > a > div > img{
	width: 60px;
	height: 60px;}
.normalSearch > .normalSearchResult li > a > div + div{
	margin-left: 15px;
}
.normalSearch > .normalSearchResult li > a > div + div > p,
.commonSearchResults li > a > div + div > p{
	margin-bottom: 8px;
	font-size: 18px;
}
.normalSearch > .normalSearchResult li > a > div + div > p + span{
	font-weight: 700;
	font-size: 14px;
}
.letsCelebrationBlock{
	background: url(../images/celebration2.png) no-repeat 0 0;
	background-position: top;
	background-size: cover;}
.letsCelebrationBlock > div{
	margin: 180px 120px;}
.letsCelebrationBlock > div > h2{
	line-height: 80px;
	color: #573393;}
.letsCelebrationBlock > div > a{
	background: #fff;
	color: #000;
	padding: 15px 20px;
	font-size: 18px;}
.letsCelebrationBlock > div > a:hover{
	text-decoration: none;}
.deals{
	padding: 50px 0;}
.deals > div:first-of-type{}
.deals > div:last-of-type{
	padding: 0px 30px 15px;}
.deals > div a > span{
	color: #fff;}
.oneStopSolution p{
	font-size: 18px;}
	
	/*-------- Owl Slider --------*/
.owl-carousel .owl-stage-outer{
	z-index: 1;}
.owl-carousel .owl-stage-outer > .owl-stage > .owl-item > a.item:hover{
	text-decoration: none;}
.owl-theme .owl-nav{
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	margin-top: 0;}
.owl-theme .owl-nav [class*='owl-']{
	position: absolute;
    top: 93px;
    background: none !important;
    color: #000 !important;
    font-size: 49px !important;
    font-family: 'lato';
    line-height: 25px;
    border: 1px solid #573393;
    padding: 5px 5px 8px 5px !important;}
.owl-theme .owl-nav .owl-prev{
	left: -90px;}
.owl-theme .owl-nav .owl-next{
	right: -90px;}
.owl-theme .owl-dots{
	display: none;}
.owl-carousel.owl-drag .owl-item .item > span{
	font-size: 16px;
font-weight: 700;}
.deals .owl-theme .owl-nav [class*='owl-']{
	color: #fff !important;}
	/*-------- Owl Slider --------*/
	
	/*-------- Deals Listing Page --------*/
.totalDealsBlock{
	padding: 0 15px;}
.productBlock img{
	height: 207px;
	overflow: hidden;
}
.dealsCategories .firstBlock{
	height: 460px;
	overflow-y: auto;
}
.dealsCategories .block{
	cursor: pointer;
	display: flex;
	align-items: center;
	margin-bottom: 15px;}
.dealsCategories .block::last-of-type{
	margin-bottom: 0;}
.topVenus .block .topVenueBlockImg{
	margin-bottom: 15px;
}
.dealsCategories .block .topVenueBlockImg img,
.topVenus .block .topVenueBlockImg img{
	width: 110px;
    height: 110px;}
.dealsCategories .block .topVenueDetails > p,
.dealsCategories .block .topVenueDetails a{
	font-family: 'Oswald';
	font-size: 18px;}
.dealsCategories .block .topVenueDetails a{}
/*--.dealsCategories .block .topVenueDetails a{
	margin-top: 15px;
	float: left;
	text-decoration: underline;}--*/
.trendingEvents{
	height: 328px;
	overflow-y: auto;
}
.trendingEvents .block{
	display: block;
	margin-bottom: 0;}
.trendingEvents .block a{
	text-align: center;
	font-size: 16px;}

	/*-------- Deals Listing Page --------*/

	/*-------- Questioner Page --------*/
.question{
	font-size: 24px;
	margin-bottom: 15px;}
.options ul{
	padding-left: 10px;}
.options ul + p{
	display: none;
}
.options ul > li{
	list-style-type: none;
	margin-bottom: 15px;}
.options ul > li > label{
	margin-bottom: 0;}
.options ul > li input[type='radio']{
	display: none;}
.options ul > li input[type='radio'] ~ p,
.options ul > li input[type='checkbox'] ~ p{
	font-size: 18px;}
.filteredQuestions{
	position: relative;
    height: -webkit-fill-available;
    height: -moz-fit-content;
    height: 246px;
    overflow-x: hidden;
    overflow-y: hidden;
}
.filteredQuestions > .questions{
	display: flex;
	justify-content: center;
	position: absolute;
	left: 0;
	/*height: 100%;
    overflow-y: auto;*/
    overflow-x: hidden;
    transition: ease .5s;
    -o-transition: ease .5s;
    -moz-transition: ease .5s;
    -webkit-transition: ease .5s;
    display: none;
}
.filteredQuestions > .questions .options > div:first-of-type{
	height: 170px;
	overflow-x: hidden;
	overflow-y: auto;
	margin-bottom: 15px;
	margin-top: 15px;
}
.filteredQuestions > .questions:not(:first-child){}
.questionery .prevNext > div{
	float: right;}
.questionery .prevNext > div:first-of-type > span{
	text-decoration: underline;}
.prevNext .continueBtn{
	display: block;
}
	/*-------- Questioner Page --------*/

	/*-------- Cart Block --------*/
.cartBlock{
	width: 300px;
    background: #fff;
    /* box-shadow: 0px 1px 5px 2px rgba(0,0,0, .1); */
    border: 1px solid rgba(0,0,0,.2);
    margin-top: 35px;
    position: absolute;
    z-index: 4;
    right: 10px;
    top: -46px;
    display: none;
}
.cartBlock .arrow{
	width: 30px;
	height: 30px;
	position: relative;
	top: -29px;
	right: -256px;
}
.cartBlock .arrow::after,
.cartBlock .arrow::before{
	content: '';
	position: absolute;
	border-style: solid;
	border-width: 10px;
	border-color: transparent;
}
.cartBlock .arrow::after{
	top: 1px;
	border-bottom-color: rgba(255,255,255, 1);
}
.cartBlock .arrow::before{
	top: 0;
	border-bottom-color: rgba(0,0,0,.2);
}
.cartBlock ul{
	margin-bottom: 0;
	max-height: 250px;
    overflow-y: auto;
}
.cartBlock ul li{
	list-style-type: none;
	display: flex;
    align-items: center;
    background: #ececec;
    padding: 10px;
    margin-bottom: 10px;
    position: relative;
}
.cartBlock ul li > div p{
	float: left;
	margin-bottom: 0;
}
.cartBlock ul li > div:not(:first-of-type){
	margin-left: 15px;
}
.cartBlock img{
	height: 50px;
}
.cartBlock .title{
	width: 100px;
	overflow-x: hidden;
	margin-left: 15px;
}
.cartBlock ul li > i{
	position: absolute;
	top: 5px;
	right: 5px;
	cursor: pointer;
}
	/*-------- Cart Block --------*/

    /*-------- User Profile Page --------*/
.userProfile{
	min-height: 700px;
    background: #ececec;}
.userProfile .sideBar{
	position: fixed !important;
	top: 0;
	bottom: 0;
	background: #fff;}
.userProfile .sideBar > ul{
	padding-left: 0;
    margin-top: 10px;}
.userProfile .sideBar > ul > li{
	list-style-type: none;
	padding: 15px;}
.userProfile .sideBar > ul > li:not(:last-child){
	border-bottom: 1px solid #000;}
.userProfile .sideBar > ul > li > a{
	color: #000;
	font-size: 16px;}
.userProfile .sideBar > ul > li > a:hover,
.userProfile .sideBar > ul > li > a:focus{
	text-decoration: none;}
.userProfile .tableData{
	overflow-x: scroll;}
.userProfile #userTicketDetails > .tableData#bookingHistory,
.userProfile #userTicketDetails > .tableData#wishList{
	display: none;
}
.userProfile table td,
.userProfile table th{
	font-size: 16px !important;}
.userTotalInfo .form-group{
	width: 360px;}
.userTotalInfo .form-group > .form-control{
	border: 1px solid #818181;
	border-radius: 0;
    font-family: 'lato';
    font-weight: 700;
	color: #333;
	padding: 15px;}
.userTotalInfo .form-group > .form-control:placeholder{
	color: #dadada;}
.userTotalInfo #profileDetails,
.userTotalInfo #profileSettings{
	display: none;
}
    /*-------- User Profile Page --------*/

    /*-------- Common Search Block --------*/
.commonSearch .form-group{
	position: relative;
}
.commonSearch .form-group > span > i{
	position: absolute;
    right: 5px;
    top: 50%;
    transform: translateY(-10px);
    font-size: 20px;
}
.commonSearch .form-group > select{
	border-radius: 0;
}
    /*-------- Common Search Block --------*/

	
	/*--------- Deal Profile Page -------*/
.dealProfile .bannerImg{
	max-height: 400px;
	overflow: hidden;}
.dealProfile .dealProfileName > .title{
	font-size: 24px;}
.dealProfile .dealProfileName > .price{
	font-size: 20px;}
.dealProfile .dealProfileTotalDescrption > .block a:hover,
.dealProfile .dealProfileTotalDescrption > .block a:focus{
	text-decoration: none;}
.dealProfile .dealProfileTotalDescrption > .block > .content{
	display: none;
	font-size: 16px;}
.dealProfile .dealProfileForm select{
	border: 1px solid #cecece;
    font-weight: 700;}
.dealProfile .dealProfileForm select > option{
	font-weight: 700;
}
.dealProfile .dealProfileForm .eventDate .date-picker{
	height: auto;
	max-height: 40px;}
.dealProfile .dealProfileForm .eventDate .date-picker.open{
	max-height: 400px;}
.dealProfile .dealProfileForm .eventDate .date-picker .input{
	height: 40px;
	border: 1px solid #cecece;}
.dealProfile .dealProfileForm .eventDate .date-picker .input > .result{
	width: calc(100% - 40px);
	line-height: 40px;}
.dealProfile .dealProfileForm .eventDate button{
	width: 40px;
	height: 40px;
	line-height: 40px;}
.dealProfile .dealProfileForm .noOfPeoples input,
 input.form-control{
	border-radius: 0;
	border: 1px solid #cecece;
	color: #000;}
.dealProfile .dealProfileForm .slotTime p{
	font-size: 18px;}
.dealProfile .dealProfileForm .totalAmount p{
	font-size: 18px;}
    /*--------- Deal Profile Page -------*/

    /*--------- Vendor Profile Page -------*/
.vendorProfileTotalDescrption .hrTabs > ul > li{
	list-style-type: none;
	display: inline-block;
}
.vendorProfileTotalDescrption .hrTabs > ul > li.active{
	background: #2e3192;
}
.vendorProfileTotalDescrption .hrTabs > ul > li > a{
	font-size: 16px;
	color: #000;
}
.vendorProfileTotalDescrption .hrTabs > ul > li > a:hover,
.vendorProfileTotalDescrption .hrTabs > ul > li > a:focus{
	text-decoration: none;
}
.gallery > .block{
	width: 150px;
	margin: 5px;
}
.gallery > .block > img{
	height: 150px;
}
.gallery > .block > img + span{
	font-size: 18px;
}
.address,
.contact{
	text-align: center;
}
.address{
	border-right: 1px solid #cecece;
}
.address p,
.contact p{
	display: block;
	margin-bottom: 5px;
	font-size: 16px;
}
.packages > .packageDetails{
	background-color: #ececec;
	border-radius: 5px;
	padding-top: 15px;
	padding-bottom: 15px;
	margin-bottom: 15px;
}
.packages > .packageDetails .productMaxPrice span{
	color: #573393;
	text-decoration: line-through;
}
.appendedData .packages{
	max-width: 100%;
    margin-right: 0;
    margin-left: 0;
}
.packages > .packageDetails > div:first-of-type{
	line-height: 30px;
}
.packages .packageName{
	font-size: 16px;
}
.packages .packageContent{
	font-size: 15px;
	line-height: 25px;
}
.packages .packageCheckbox{
	width: 100px;
	height: 30px;
	background: #cecece;
	margin-left: 15px;
}
.packages .packageCheckbox > label{
	width: 100%;
    height: 100%;
    margin-bottom: 0;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.packages .packageCheckbox > label > p{
	font-size: 16px;
	margin-bottom: 0;
	color: #000;
}

    /*--------- Vendor Profile Page -------*/

    /*---------- userAuthentication Page -------*/
#userAuthentication{
	background-image: url("../images/defaultimg.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}
.authenticationBlocks > div{
	display: none;
}
.authenticationBlocks > div.login{
	display: block;
}
.registerBtn, .loginBtn, .forgotPasswordBtn{
	cursor: pointer;
}
.prevNext > p{
	margin-left: 5px;
    font-size: 16px;
    margin-top: 5px;
    float: left;
    margin-bottom: 0;
}
    /*---------- userAuthentication Page -------*/

    /*---------- Results Page Popup -------*/
    .resultsPopUp{
    	position: fixed;
    	top: 0;
    	right: 0;
    	bottom: 0;
    	left: 0;
    	overflow-x: hidden;
    	overflow-y: scroll;
    	background: rgba(0,0,0,.3);
    	z-index: 1;
    	display: none;
    }
    .resultsPopUp .content{
    	background: #fff;
        position: absolute;
        top: 5%;
        left: 50%;
        transform: translateX(-50%);
        padding: 15px;
        border-radius: 3px;
    }
    .dealProfile .resultsPopUp .bannerImg{
    	height: 338px;
    	overflow: hidden;
    }
    .dealProfile .resultsPopUp .bannerImg > img.img-fluid{
        width: 100%;
        height: 100%;
    }
    .dealProfile .resultsPopUp .basicDetails h3{
        background: #573393;
        color: #fff;
        padding: 5px;
        font-size: 24px;
    }
    .dealProfile .resultsPopUp .basicDetails h3 + p,
    .dealProfile .resultsPopUp .basicDetails h3 + div ul{
    	padding: 5px;
    	margin-top: 10px;
    	margin-bottom: 0;
    }
    .dealProfile .resultsPopUp .basicDetails h3 + div ul > li{
    	list-style-type: none;
    	display: inline-block;
    	background: #cecece;
    	padding: 5px 15px;
    	margin-right: 10px;
    	font-size: 16px;
    }
    .dealProfile .resultsPopUp .content > i{
    	position: absolute;
        top: 5px;
        right: 5px;
        background: #573393;
        color: #fff;
        padding: 5px 6px;
        border-radius: 50%;
        cursor: pointer;
        transition: .5s ease;
        -o-transition: .5s ease;
        -ms-transition: .5s ease;
        -moz-transition: .5s ease;
        -webkit-transition: .5s ease;
    }
    .dealProfile .resultsPopUp .content > i:hover{
        box-shadow: 1px 0px 5px 3px rgba(0,0,0,.3);
        transform: scale(0.9,0.9);
        -o-transform: scale(0.9,0.9);
        -ms-transform: scale(0.9,0.9);
        -moz-transform: scale(0.9,0.9);
        -webkit-transform: scale(0.9,0.9);
    }
    .resultsPopUp .dealProfileName a{
        color: #000;
    }
    .resultsPopUp .dealProfileName a:hover{
        text-decoration: none;
    }
    .resultsPopUp .vendorPrice{
        font-size: 18px;
    }
    /*---------- Results Page Popup -------*/

	/*-------- Media Quries -------*/
@media only screen and (max-width: 576px){
	
.normalSearch > .normalSearchResult ul{
	margin: 10px 10px 0 10px;}
	
	.owl-theme .owl-nav [class*='owl-']{
  font-size: 40px !important;
}

.owl-theme .owl-nav .owl-prev{
 left: 243px;
 top: -103px;
}

.owl-theme .owl-nav .owl-next{
  right: -15px;
  top: -103px;
}

.letsCelebrationBlock > div{
  margin: 100px 0;
}

.userProfile .sideBar{
	position: static !important;}
.hrResponsiveTabs dt{
	background: #2e3192;
    color: #fff;}

.vrResponsiveTabs > p + span{
	display: none !important;
}
.vrResponsiveTabs > p.active + span{
	display: block !important;
}
.vrResponsiveTabs + .appendedData{
	display: none !important;
	}
.vrResponsiveTabs > p{
	max-width: 100% !important;
}

	}


@media only screen and (min-width: 768px){
	.owl-theme .owl-nav .owl-prev{
 left: -52px;
}

.owl-theme .owl-nav .owl-next{
  right: -52px;
}
.hrResponsiveTabs dt{
	display: inline-block !important;
}
.hrResponsiveTabs dt + dd{
	display: none !important;
}
.responsive-tabs-placeholder{
	display: block !important;
}
.responsive-tabs-placeholder{
	display: none;
	padding: 10px 15px;
	position: relative;
}
.responsive-tabs-placeholder .appendedData{
	position: absolute;
	left: 200px;
	top: 10px;
}
.filteredResultsBlock{
	height: 807px;
	overflow-y: auto;
	position: relative;
}
.filteredResultsBlock .moreButton{
	/*--position: absolute;
	left: 50%;
	transform: translateX(-52px);
	bottom: 0px;--*/
}

}

@media only screen and (min-width: 992px){
	.owl-theme .owl-nav .owl-prev{
 left: -75px;
}

.owl-theme .owl-nav .owl-next{
  right: -75px;
}
	}


@media only screen and (min-width: 1200px){}
	/*-------- Media Quries -------*/
	
/*---- Date Time Picker -----*/
.datentime{
	position: relative;
}
.datentime i{
	position: absolute;
    top: 0;
    z-index: 3;
    color: #fff;
    right: 0;
    font-size: 22px;
    background: #573393;
    padding: 15px;
}
.eventDate input{
	font-weight: 700;
}
.eventDate .datentime i{
	font-size: 19px;
	padding: 9px;
}
.xdsoft_datetimepicker{
	font-family: 'lato' !important;
}
.xdsoft_datetimepicker .xdsoft_datepicker{
	width: 350px !important;
	overflow-x: auto;
}
.xdsoft_datetimepicker *{
	text-align: center;
}
.xdsoft_datetimepicker .xdsoft_calendar td:hover{
	background: red !important;
}
.xdsoft_datetimepicker .xdsoft_calendar td, 
.xdsoft_datetimepicker .xdsoft_calendar th{
	padding: 5px !important;
	font-size: 14px !important;
}
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_current{
	background: #2e3192 !important;
	box-shadow: #2e3192 0 1px 3px 0 inset !important;
}
.xdsoft_datetimepicker .xdsoft_month{
	width: 89px !important;
	text-align: center !important;
}
.xdsoft_datetimepicker .xdsoft_year{
	width: 65px !important;
}
.xdsoft_datetimepicker .xdsoft_calendar th{
}
.xdsoft_datetimepicker .xdsoft_calendar td{
}
/*---- Date Time Picker -----*/
	/*---- Common Styles --*/
.hrResponsiveTabs dt{
	display: block;
	padding: 10px 15px;
	margin-right: 5px;
	cursor: pointer;
	font-size:  16px;
}
.hrResponsiveTabs dt + dd{
	display: none;
	font-size: 16px;
	padding: 0 15px;
}
.hrResponsiveTabs dt.active{
	background: #2e3192;
	color: #fff;}
.hrResponsiveTabs dt.active + dd{
	display: block;
}
.responsive-tabs-placeholder{
	display: none;
	padding: 10px 15px;
	position: relative;
	/*height: -webkit-fill-available;*/
	height: 310px;
	max-height: 310px;
	overflow-x: hidden;
	overflow-y: auto;
}
.responsive-tabs-placeholder:empty::before{
	content: 'No Content Available';
    color: #cecece;
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 30px;
    transform: translate(-100px, -22px);
}
.responsive-tabs-placeholder .appendedData{
	position: absolute;
	left: 200px;
	top: 10px;
	max-height: 300px;
	overflow-x: hidden;
	overflow-y: auto;
}
.vrResponsiveTabs > p{
	max-width: 152px;
    padding: 10px 5px;
    background: #fff;
    margin-bottom: 0;
    cursor: pointer;
    border: 1px solid #cecece;
}
.vrResponsiveTabs > p:not(:last-of-type){
    border-bottom: none;}
.vrResponsiveTabs > p + span{
	display: none;
}
.vrResponsiveTabs > p.active{
	background: #2e3192;
	color: #fff;
}
.vrResponsiveTabs > p.active + span{
	display: none;
}
.vrResponsiveTabs + .appendedData{
	width: calc(100% - 215px);
}
.navbar{
	z-index: 1;}
.fontSize-16{
	font-size: 16px;
}
.fontSize-18{
	font-size: 18px;
}
.fbBg{
	background-color: #36539b;
}
.gmailBg{
	background-color: #f24439;
}
.textUnderline{
	text-decoration: underline;;
}
.cursorPointer{
	cursor: pointer;
}
.boxShadow{
	box-shadow:0px 1px 10px 5px rgba(0,0,0,.1);}
.innerPagesBg{
	background: #ececec;}
.productBlock{
	margin-bottom: 15px;}
.productBlock .vendorDescrption,
.productBlock .vendorAmenities{
	display: none;
}
.productBlock .productName,
.productBlock a.productName{
	font-size: 18px;
	cursor: pointer;
	color: #292b2c;
	width: 153px;
	height: 27px;
	overflow: hidden;
	}
.productBlock a.productName:hover{
	text-decoration: none;
}
.totalReviewCount{
	line-height: 22px;}
.productBlock .productDiscountPrice,
.productBlock .productMrp,
.productBlock .productMinPrice,
.productBlock .productMaxPrice,
.topVenueDetails .productMinPrice,
.topVenueDetails .productMaxPrice{
	font-size: 16px;}
.productBlock .productName + span{
	cursor: pointer;
	}
.productBlock .productName + span > i,
i.addCartIcn{
	padding: 3px 5px;
	background: #8854d0;
	color: #fff;}
.productBlock .productMrp > span,
.productBlock .productMrp > small,
.dealProfile .dealProfileName > .price .productMrp > span,
.dealProfile .dealProfileName > .price .productMrp > small,
.topVenueDetails .productMaxPrice > span,
.topVenueDetails .productMaxPrice > small{
	text-decoration: line-through;}
.block > a:hover{
	text-decoration: none;}
.block > a > p{
	font-size: 16px;
font-weight: 700;}
.bgWhite{
	background: #fff;}
.yellowFont{
	color: #f5c53b;}
.greyColor{
	color: #c3c3c3;}
.greyBg{
	background-color: #c3c3c3;}
.themeBgColorPrimary{
	background: #cd2026;}
.themeBgColorSecondary{
	background: #cd2026;}
.themeBgColor{
	background: #573393;}
.themeColor{
	color: #573393 !important;}
.themeFontColor{
	color: #2e3192;}
.btnPrimary{
	font-size: 18px;
	padding: 12px 18px;
	cursor: pointer;
font-weight: 700;}
a.btnPrimary:hover{
	text-decoration: none;
}
.btnSecondary{
	font-size: 16px;
    padding: 7px 25px;
    cursor: pointer;
    border: none;}
.btnSecondary > i{
	font-size: 14px;}
select, button, input{
	font-family: 'lato' !important;
	font-size: 16px;
	outline: none;
	-webkit-appearance: none !important;
	-moz-appearance: none;}
input[type='radio']{
	-webkit-appearance: radio;
	-moz-appearance: radio;}
input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button{
	-webkit-appearance: none;
}
.form-control:focus{
	outline: none !important;
	border-color: #cecece;
}
button:focus{
	outline: 0;}
.noteWorthybold{
	font-family: 'Oswald';
	font-weight: 700;
}
.primaryFont{
	font-family: 'Oswald';
	font-weight: 700;
	text-transform: uppercase;
}
.secondaryFont{
	font-family: 'lato';
	font-weight: 700;
}
.thirdFont{
	font-family: 'lato';
	font-weight: 400;
}
.themeBgColorPrimaryPurple{
	background: #573393;
}
.themeBgColorSecondaryYellow{
	background: #fee737;
	color: #573393;
}
h2.noteWorthybold{
	font-size: 50px;
text-transform: uppercase;}
h3.noteWorthybold{
	font-size: 30px;
margin-bottom: 22px;
text-transform: uppercase;}
h3.noteWorthybold > div{
	display: none;
}
.nexaBold{
	font-family: 'lato';
font-weight: 700;}
.whiteBorder{
	width: 25%;
	margin-top: 10px;
	border-top: 2px solid rgba(255,255,255,.5);}
.blackBorder{
	width: 60%;
	margin-top: 10px;
	border-top: 2px solid rgba(0,0,0,.5);}
.margin-top-50{
	margin-top: 66px;}
.margin-bottom-50{
	margin-bottom: 50px;}
.mx-15{
	margin-left: 15px;
	margin-right: 15px;}
.my-15{
	margin-top: 15px;
	margin-bottom: 15px;}
.m-15{
	margin: 15px;}
.px-15{
	padding-left: 15px;
	padding-right: 15px;}
.py-15{
	padding-top: 15px;
	padding-bottom: 15px;}
.p{
	padding: 15px;}
.footerBg{
	background: #333;}
.footerBg ul > li{
	list-style-type: none;
	margin: 10px 0;}
.footerBg ul > li > a{
	font-size: 16px;
font-weight: 700;}
.footerBg ul > li > a:hover{
	text-decoration: underline;}
.footerBg .secondFooter ul > li{
	display: inline;
	margin: 0 5px;}
.footerBg .secondFooter ul > li > a{
	font-size: 14px;}

input[type='radio'] + span,
input[type='checkbox'] + span{
	width: 18px;
	height: 18px;
	border: 2px solid #8854d0;
	display: inline-block;
	margin-right: 10px;
	position: relative;}
input[type='radio'] + span{
	border-radius: 50%;}
input[type='radio']:checked + span{}
input[type='radio']:checked + span:after,
input[type='radio']:checked + span:before{
	position: absolute;
	top: 4px;
	left: 4px;
	content:'';
	width: 6px;
	height: 6px;
	border-radius: 50%;
	background: #2e3192;}
input[type='checkbox']{
	display: none;}
input[type='checkbox']:checked + span{
	background: #2e3192;
	border: 2px solid #2e3192;
	position: relative;}
input[type='checkbox']:checked + span:after,
input[type='checkbox']:checked + span:before{
	content: '';
	position: absolute;
	width: 2px;
	height: 6px;
	background: #fff;
	transform: rotate(-45deg);}
input[type='checkbox']:checked + span:after{
	top: 5px;
    left: 2px;}
input[type='checkbox']:checked + span:before{
	left: 8px;
    top: 1px;
    height: 12px;
    transform: rotate(45deg) !important;}
.starRating{
	font-family: 'FontAwesome';
	font-size: 18px;
	position: relative;
	height: 22px;
	padding-left: 19px;}
.starRating > .emptyStar:before{
	content: "\f006 \f006 \f006 \f006 \f006";
    color: rgba(188,188,186,.5);
    text-shadow: 0 1px 1px rgba(0,0,0,.25);
    position: absolute;
    top: 0;}
.starRating > .scoreStar{
	width: 0%;
	overflow: hidden;
	position: absolute;
	top: 0;}
.starRating > .scoreStar:before{
	content: "\f005 \f005 \f005 \f005 \f005";}

/*-- Sweet Alerts --*/
.ajs-button{
   background: #573393;
   color: #fff;
   border: none;
   min-width: 60px !important;
}
.ajs-content{
   font-size: 16px;
   font-family: 'Lato';}