:root{
	--themeColor: #573393; /*-- Written By me --*/
	--themeYellow: #fee737; /*-- Written By me --*/
	--space-15: 15px; /*-- Written By me --*/
	--space-30: 30px; /*-- Written By me --*/
	--space-100: 100px; /*-- Written By me --*/
}
body{
	font-family: 'Lato';
	font-size: 16px;
	font-weight: 700;
}
.themeFontColor{
	color: var(--themeColor);}
.themeBgColor{
	background: var(--themeColor);}
.bgWhite{
	background: #fff;}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0;}
.sectionOne {
    background: url('../../prelaunchbg.png') 0 0;
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 125px;
    height: 100vh;
}
.logo{
	padding: 30px;
}
.logo a{
	font-family: 'Oswald';
	font-size: 32px;
	font-weight: 700;
	color: var(--themeColor);
}
.logo a:hover{
	color: #573393;
	text-decoration: none;
}
.content{
	margin: 60px 0 30px 0;
}
h3{
	font-family: Oswald;
	font-size: 70px;
	font-weight: 700;}
.content h3 + p{
	margin-top: 30px;
	font-size: 24px;
}
.timer{
	margin-top: var(--space-100);}
.sectionTwo{
	margin-top: var(--space-100);
	margin-bottom: var(--space-30);
}
.sectionTwo h3 + p{
	margin-top: var(--space-15);
	font-size: 24px;}
.sectionTwo h3 ~ p a{
	cursor: pointer;
    text-decoration: underline !important;}
.hiddenForm{
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0,0,0,.4);
    display: none;}
.hiddenForm form input[type='button']{
	color: #fff;
	font-weight: 700;
}
.hiddenForm .form{
	position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-225px, -132px);}
.hiddenForm .form i.fa-times{
	position: absolute;
	top: 5px;
	right: 5px;
	cursor: pointer;
	padding: 5px 7px;
	border-radius: 50%;
	color: #fff;
	font-size: 14px;
	background: var(--themeColor);
	transition: ease .5s;
	-o-transition: ease .5s;
	-ms-transition: ease .5s;
	-moz-transition: ease .5s;
	-webkit-transition: ease .5s;
}
.hiddenForm .form i.fa-times:hover{
	transform: rotate(360deg);
	box-shadow: 0px 0px 3px 3px rgba(0,0,0,.3);
}
footer div.row div{
	text-align: center;
	padding: var(--space-30);
}
footer div.row div a{
	display: block;
	font-family: 'Oswald';}
footer div.row div a:hover{
	text-decoration: none;
}
footer div.row div i{
	font-size: var(--space-100);}
footer div.row div i + span{
	font-size: var(--space-30);
	font-weight: 700;
	margin-top: var(--space-15);
    display: block;}
footer div.row div:nth-child(odd){
	background: var(--themeYellow);}
footer div.row div:nth-child(odd) a{
	color: var(--themeColor);}
footer div.row div:nth-child(even){
	background: var(--themeColor);}
footer div.row div:nth-child(even) a{
	color: var(--themeYellow);}


/*-- Timer --*/
.dsCountDown.ds-white{
	background: transparent;
	border: none;
}
.ds-white .ds-element{
	border-right: none;
	width: 125px;
	height: 155px;
    font-family: 'Oswald';
    /*margin-right: var(--space-15);*/
    margin: 0 36px;}
.ds-white .ds-element .ds-element-title{
	margin-top: var(--space-15);
	font-size: 22px;
	text-transform: uppercase;}
.ds-white .ds-element-value{
	text-shadow: none;
	color: var(--themeColor);
	border: 1px solid var(--themeColor); 
	padding-top: var(--space-15);
	padding-bottom: var(--space-15);
}
/*-- Timer --*/