@*<div class="card" id="profilepipccontent">*@
    <div class="content">
        <div class="header-1">
            @*<img src="http://design.maa-aahwanam.com/panagea/images/banquet1.jpg" style="height:126px;width:231px;">*@

            <div class="avatar avatar-100 margin-bottom-20 profilepic" id="profilepic">
                @if (ViewBag.profilepic != "" && ViewBag.profilepic != null)
                {
                    <img id="profilepic1" src="/ProfilePictures/@ViewBag.profilepic" style="height:126px;width:231px;" />
                    @*<input type="file" class="form-control" id="profileimage" name="file" style="display:none" />*@<br>
                    <div style="background-color:yellow;padding: 0;border-radius: 0;height: 30px;width: 30px;">
                        @*<text>Upload Pic</text>*@
                        <p class="caption">
                            <img src="~/newdesignstyles/VenueIcons/camera.png" id="spc">
                        </p>
                    </div>
                }
                else
                {
                    <img id="profilepic1" src="~/noimages.png" style="height:126px;width:231px;" />
                    @*<input type="file" class="form-control" id="profileimage" name="file" style="display:none"/>*@<br>
                    <div style="background-color:yellow;padding: 0;border-radius: 0;height: 30px;width: 30px;">
                        @*<text>Upload Pic</text>*@
                        <p class="caption">
                            <img src="~/newdesignstyles/VenueIcons/camera.png" id="spc">
                        </p>
                    </div>

                }
            </div>
            <input type="hidden" id="Item1_EmailId" name="Item1.EmailId" class="form-control" value="@ViewBag.Vendor.EmailId">
            <input type="file" class="form-control" id="profileimage" name="file" style="display:none" /><br>

        </div>
    </div>


    <div class="card-1">
        <div class="content">
            <h5 class="h5-1" style="padding-top:4px;">
                @ViewBag.Vendor.BusinessName &nbsp;
                <a class="ui violet label">
                    @ViewBag.Vendor.ServicType
                </a>
            </h5><br>
            <a href="#" style="padding-left: 17px;margin-top: 3px; color:#dc3545;">View Profile&nbsp;&nbsp;&nbsp;|</a><a href="/Home/SignOut" style="padding-left:17px; margin-top:3px;color:#dc3545;">Log Out</a>



        </div>
    </div>
@*</div>*@
