
@{
    ViewBag.Title = ":: Dashboard ::";
    Layout = "~/Views/SharedWeb/VendorMasterPage.cshtml";
}

<div class="container-fluid admin-home">
  <div class="container">
    <div class="row blocks">
      <div class="col-xs-12 col-sm-4 col-md-2 col-lg-2 col-md-offset-1 col-lg-offset-1 text-center">
        <div class="item-count">
          <i class="fa fa-envelope-o" aria-hidden="true"></i>
          <span>1</span>
        </div>
        <div class="item-description">
          <p><strong>Received enquiries</strong>the last 12 months</p>
        </div>
      </div>
      <div class="col-xs-12 col-sm-4 col-md-2 col-lg-2 text-center">
        <div class="item-count">
          <i class="fa fa-envelope-o" aria-hidden="true"></i>
          <span>2</span>
        </div>
        <div class="item-description">
          <p><strong>Received enquiries</strong>the last 12 months</p>
        </div>
      </div>
      <div class="col-xs-12 col-sm-4 col-md-2 col-lg-2 text-center">
        <div class="item-count">
          <i class="fa fa-envelope-o" aria-hidden="true"></i>
          <span>3</span>
        </div>
        <div class="item-description">
          <p><strong>Received enquiries</strong>the last 12 months</p>
        </div>
      </div>
      <div class="col-xs-12 col-sm-4 col-md-2 col-lg-2 text-center">
        <div class="item-count">
          <i class="fa fa-envelope-o" aria-hidden="true"></i>
          <span>4</span>
        </div>
        <div class="item-description">
          <p><strong>Received enquiries</strong>the last 12 months</p>
        </div>
      </div>
      <div class="col-xs-12 col-sm-4 col-md-2 col-lg-2 text-center">
        <div class="item-count">
          <i class="fa fa-envelope-o" aria-hidden="true"></i>
          <span>5</span>
        </div>
        <div class="item-description">
          <p><strong>Received enquiries</strong>the last 12 months</p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container admin-main margin-top-100 margin-bottom-100">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-7 col-lg-7">
      <div class="inside-info">
        <p>Your business information is being verified</p>
        <p>Once your storefront has at least 8 photos and our Content Team has verified your information, your storefront will be live. Telephone: 22 000 0000 Email: <a href="mailto:info@ahwanam.in">info@ahwanam.in</a></p>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-5 col-lg-5">
      <div class="progress-status">
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
          <strong>Complete your storefront</strong>
          <p>You are just 7 steps away from completing your Ahwanam.com storefront</p>
        </div>
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
            <a href="/availableservices?id=@ViewBag.id">
                <div class="progress-info">
                    <p>Complete your store front<small>25%</small></p>
                    <span class="percent-bar">
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                    </span>
                    <span class="progress-success"></span>
                </div>
                </a>
</div>
      </div>
    </div>
  </div>
</div>

