
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/SharedWeb/DashBoardMaster.cshtml";
}

@section Navigation
{
    <div class="breads">
        <div class="breads_inner">
            <div class="pageWidth">
                <div class="title">
                    <h3>Comments</h3>
                </div>
                <div class="breadcrumbs">
                    <ul>
                        <li><a href="~/Index/Index">Home</a></li>
                        <li><i class="breads_arrow"></i></li>
                        <li><a href="~/Dashboard/Index">Dashboard</a></li>
                        <li><i class="breads_arrow"></i></li>
                        <li><a href="notifications.html">Notifications</a></li>
                        <li><i class="breads_arrow"></i></li>
                        <li>Comments</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
}
<div class="comments-page">
    <div class="comments-box comments-div">
        <form id="contact_form" class="form">
            <ul>
                <li class="full">
                    <label>Comments</label>
                    <textarea id="comments" name="comments" placeholder="Enter your comments here ..."></textarea>
                </li>
            </ul>
            <button type="submit" class="btn btn btn-orange m-l-0 btn-right"><i class="ti-thumb-up"></i> &nbsp;Submit</button>
            <div class="clear"></div>
        </form>
        <div class="clear"></div>
    </div>
    <!-- /comments-box -->
    <div class="replyStyle comments m-t-30">
        <h2>Comments <span>(06)</span></h2>
        <dl class="first-child">
            <dt><img class="person" alt="img-profile1" src="images/dashboard/img-profile1.jpg"></dt>
            <dd>
                <h5>Satyam Ganta</h5>
                <p>Quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                <div class="cmntsPublish">
                    <ul>
                        <li><i class="ti-time"></i><span>23 May 2014</span></li>
                    </ul>
                </div>
            </dd>
        </dl>
        <dl>
            <dt><img class="person" alt="img-profile" src="images/dashboard/img-profile.jpg"></dt>
            <dd>
                <h5>Lorem ipsum dolor</h5>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                <div class="cmntsPublish">
                    <ul>
                        <li><i class="icon-time"></i><span>23 May 2014</span></li>
                    </ul>
                </div>
            </dd>
        </dl>
        <dl>
            <dt><img class="person" alt="item-img2" src="images/dashboard/item-img2.jpg"></dt>
            <dd>
                <h5>minim veniam</h5>
                <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                <div class="cmntsPublish">
                    <ul>
                        <li><i class="icon-time"></i><span>23 May 2014</span></li>
                    </ul>
                </div>
            </dd>
        </dl>
        <dl class="first-child">
            <dt><img class="person" alt="img-profile1" src="images/dashboard/img-profile1.jpg"></dt>
            <dd>
                <h5>Satyam Ganta</h5>
                <p>Quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                <div class="cmntsPublish">
                    <ul>
                        <li><i class="ti-time"></i><span>23 May 2014</span></li>
                    </ul>
                </div>
            </dd>
        </dl>
        <dl>
            <dt><img class="person" alt="img-profile" src="images/dashboard/img-profile.jpg"></dt>
            <dd>
                <h5>Lorem ipsum dolor</h5>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                <div class="cmntsPublish">
                    <ul>
                        <li><i class="icon-time"></i><span>23 May 2014</span></li>
                    </ul>
                </div>
            </dd>
        </dl>

    </div>
    <div class="clear"></div>
</div>
