
    <div class="heading-title">
    <h2>What Our Customers Say!</h2>
</div>
<div id="testimonials" class="owl-carousel owl-theme">
    <div class="item">
        <div class="studentPic">
            <div class="studentPic-inner">
                <div> <img src="images/test-1.png" alt="student"> </div>
            </div>
        </div>
        <div class="studentTest">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed vitae felis commodo, rhoncus tellus ut, ullamcorper enim. Nulla ut est lectus. Pellentesque mattis lorem urna</p>
            <div class="stuTitle">Praesent vel libero</div>
            <small>Donec ipsum ante</small>
        </div>
    </div>
    <div class="item">
        <div class="studentPic">
            <div class="studentPic-inner">
                <div> <img src="images/test-2.png" alt="student"> </div>
            </div>
        </div>
        <div class="studentTest">
            <p>Nunc lacinia blandit feugiat. Praesent sed orci sit amet libero tincidunt auctor. Sed non erat a neque lobortis blandit eu vitae ipsum. Donec velit nisi, sodales aliquet sodales</p>
            <div class="stuTitle">Praesent vel libero</div>
            <small>Donec ipsum ante</small>
        </div>
    </div>
    <div class="item">
        <div class="studentPic">
            <div class="studentPic-inner">
                <div> <img src="images/test-3.jpg" alt="student"> </div>
            </div>
        </div>
        <div class="studentTest">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed vitae felis commodo, rhoncus tellus ut, ullamcorper enim. Nulla ut est lectus. Pellentesque mattis lorem urna</p>
            <div class="stuTitle">Praesent vel libero</div>
            <small>Donec ipsum ante</small>
        </div>
    </div>
    <div class="item">
        <div class="studentPic">
            <div class="studentPic-inner">
                <div> <img src="images/test-4.jpg" alt="student"> </div>
            </div>
        </div>
        <div class="studentTest">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed vitae felis commodo, rhoncus tellus ut, ullamcorper enim. Nulla ut est lectus. Pellentesque mattis lorem urna</p>
            <div class="stuTitle">Praesent vel libero</div>
            <small>Donec ipsum ante</small>
        </div>
    </div>
</div>
  
 <div class="loadmore">
        <a href="#"> <i class="ti-reload"></i> Load More</a>
    </div>
    


