@{
    ViewBag.Title = ViewBag.Pagetitle;
    Layout = "~/Areas/Admin/Views/Shared/Master.cshtml";
}
@section header{
    <!-- PAGE LEVEL STYLES -->
    <link href="~/Assets/plugins/dataTables/dataTables.bootstrap.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/Assets/plugins/validationengine/css/validationEngine.jquery.css" />
    <link href="~/Assets/css/jquery-ui.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/Assets/plugins/uniform/themes/default/css/uniform.default.css" />
    <link rel="stylesheet" href="~/Assets/plugins/inputlimiter/jquery.inputlimiter.1.0.css" />
    <link rel="stylesheet" href="~/Assets/plugins/chosen/chosen.min.css" />
    <link rel="stylesheet" href="~/Assets/plugins/colorpicker/css/colorpicker.css" />
    <link rel="stylesheet" href="~/Assets/plugins/tagsinput/jquery.tagsinput.css" />
    <link rel="stylesheet" href="~/Assets/plugins/switch/static/stylesheets/bootstrap-switch.css" />
    <link rel="stylesheet" href="~/Assets/css/bootstrap-fileupload.min.css" />
    <link href="~/Assets/plugins/jquery.fancybox-1.3.4/fancybox/jquery.fancybox-1.3.4.css" rel="stylesheet" />
    <!-- END PAGE LEVEL  STYLES -->
}

<h2>@ViewBag.Pagetitle</h2>

    <div class="container">
        <table class="table" style="width:500px;margin-left:170px;margin-top:30px">
            <tr>
                <td>Tilte:</td>
                <td><input id="Text1" type="text" /></td>
            </tr>
            <tr>
                <td>Description:</td>
                <td><input id="Text2" type="text" /></td>
            </tr>
            <tr>
                <td>Location:</td>
                <td><input id="Text3" type="text" /></td>
            </tr>
            <tr>
                <td>Link:</td>
                <td><input id="Text4" type="text" /></td>
            </tr>
            <tr>
                <td>Price:</td>
                <td><input id="Text5" type="text" /></td>
            </tr>
            <tr>
                <td>Person:</td>
                <td><input id="Text6" type="text" /></td>
            </tr>
            <tr>
                <td>Phone:</td>
                <td><input id="Text7" type="text" /></td>
            </tr>
            <tr>
                <td>Eventstartdate:</td>
                <td><input id="Text8" type="text" /></td>
            </tr>
            <tr>
                <td>Eventenddate:</td>
                <td><input id="Text9" type="text" /></td>
            </tr>
            <tr>
                <td>
                    Upload Design
                </td>
                <td>
                    <div class="col-lg-8">
                       
                            <div class="fileupload fileupload-new" data-provides="fileupload">
                                <div class="fileupload-new thumbnail" style="width: 200px; height: 150px;"><img src="~/Assets/img/demoUpload.jpg" alt="" /></div>
                                <div class="fileupload-preview fileupload-exists thumbnail" style="max-width: 200px; max-height: 150px; line-height: 20px;"></div>
                                <div>
                                    <span class="btn btn-file btn-primary">
                                        <span class="fileupload-new">Select image</span><span class="fileupload-exists">Change</span>
                                        <input type="file" name="file" />
                                    </span> <a href="#" class="btn btn-danger fileupload-exists" data-dismiss="fileupload">Remove</a>
                                </div>
                            </div>
                       
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div style="text-align:center" class="form-actions no-margin-bottom">
                       
                        @*@Html.ActionLink("Save", "UserProfileSave", "DashBoard", new { @class = "btn btn-primary btn-lg " })*@
                        <input id="Button1" type="button" value="Submit" />
                    </div>
                </td>
            </tr>
        </table>
    </div>


<div class="table-responsive" style="margin-left:230px;margin-top:30px">

    <table class="table table-striped">
        <h5><b><u>List of @ViewBag.Pagetitle</u></b></h5>
        <thead>
            <tr>
                <th>Image</th>
                <th>Title</th>
                @*<th>Description</th>*@
                <th>location,phone</th>
                <th>price</th>
                <th>person</th>
                <th>Eventstartdate - Eventenddate</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
           
                <tr>
                    <td><a id="example7" href="/Content/EventsandtipsFiles/image1" title="Lorem ipsum dolor sit amet"><img width="100px" height="100px" src="/Content/EventsandtipsFiles/@item.image" alt="" /></a></td>
                    <td>Title</td>
                    @*<td><label class="control-label col-lg-4">@item.Description</label></td>*@
                    <td>location,phone</td>
                    <td>price</td>
                    <td>person</td>
                    <td>Eventstartdate - Eventenddate</td>
                    <td>
                        <a href="/admin/Eventsandtips/index" class="btn btn-default btn-xs">Update</a> ||
                        <a href="/admin/giftdesigns/Delete" class="btn btn-default btn-xs">Delete</a>
                    </td>
                </tr>


            
        </tbody>
    </table>
</div>







<!--END PAGE CONTENT -->
@section Bottom{
    <script src="~/Assets/plugins/jquery-2.0.3.min.js"></script>
    <script src="~/Assets/plugins/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/Assets/plugins/modernizr-2.6.2-respond-1.1.0.min.js"></script>

    <script src="~/Assets/plugins/dataTables/jquery.dataTables.js"></script>
    <script src="~/Assets/plugins/dataTables/dataTables.bootstrap.js"></script>
    <script src="~/Assets/plugins/jasny/js/bootstrap-fileupload.js"></script>

    <script>
        $(document).ready(function () {
            $('#dataTables-example').dataTable();
        });
    </script>
}
<!-- PAGE LEVEL SCRIPTS -->
<script src="~/Assets/plugins/dataTables/jquery.dataTables.js"></script>
<script src="~/Assets/plugins/dataTables/dataTables.bootstrap.js"></script>
<script src="~/Assets/plugins/validationengine/js/jquery.validationEngine.js"></script>
<script src="~/Assets/plugins/validationengine/js/languages/jquery.validationEngine-en.js"></script>
<script src="~/Assets/plugins/jquery-validation-1.11.1/dist/jquery.validate.min.js"></script>
<script src="~/Assets/js/validationInit.js"></script>
<script src="~/Assets/js/jquery-ui.min.js"></script>
<script src="~/Assets/plugins/uniform/jquery.uniform.min.js"></script>
<script src="~/Assets/plugins/inputlimiter/jquery.inputlimiter.1.3.1.min.js"></script>
<script src="~/Assets/plugins/chosen/chosen.jquery.min.js"></script>
<script src="~/Assets/plugins/tagsinput/jquery.tagsinput.min.js"></script>
<script src="~/Assets/plugins/validVal/js/jquery.validVal.min.js"></script>
<script src="~/Assets/plugins/switch/static/js/bootstrap-switch.min.js"></script>
<script src="~/Assets/plugins/jquery.dualListbox-1.3/jquery.dualListBox-1.3.min.js"></script>
<script src="~/Assets/plugins/autosize/jquery.autosize.min.js"></script>
<script src="~/Assets/plugins/jasny/js/bootstrap-inputmask.js"></script>
<script src="~/Assets/plugins/jasny/js/bootstrap-fileupload.js"></script>
<script src="~/Assets/plugins/jquery.fancybox-1.3.4/jquery-1.4.3.min.js"></script> <!--important for gallery-->
<script src="~/Assets/plugins/jquery.fancybox-1.3.4/fancybox/jquery.mousewheel-3.0.4.pack.js"></script>
<script src="~/Assets/plugins/jquery.fancybox-1.3.4/fancybox/jquery.fancybox-1.3.4.js"></script>
<script src="~/Assets/js/image_gallery.js"></script>
<script>
    $(function () { formValidation(); });
</script>
<!-- END PAGE LEVEL SCRIPTS -->
