
@{
    ViewBag.Title = " :: Corporate Events :: ";
    Layout = "~/Views/SharedWeb/MasterPage.cshtml";
}

<div class="container margin-top-30">
    <embed src="~/newdesign/uddpas_Ahwanam_2.pdf" width="100%" height="1000"/>
    @*<a href="~/newdesign/uddpas_Ahwanam_2.pdf">~/newdesign/uddpas_Ahwanam_2.pdf</a>*@
</div>

