.ui-datepicker {
    width: 40em;
    padding: .2em .2em 0;
    display: none;
    background-color: white;
}

.ui-datepicker table {
    width: 100%;
    font-size: .7em;
    border-collapse: collapse;
    margin: 0 0 .4em;
}

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
    background: #ffffff;
}

.ui-datepicker td span, .ui-datepicker td a {
    padding: 20px 15px !important;
    background-color: white;
}

.ui-datepicker td.myclass > span {
    background: green;
    font-size: large;
    color: black;
}

.ui-datepicker td.ui-state-disabled {
    opacity: 70;
}

td.ui-state-highlight a.ui-state-default {
    background: #DC7633;
}

.ui-widget-content .ui-state-highlight {
    border: 2px solid #d3d3d3;
    background: #F6F79F;
}
/*.ui-datepicker-today a.ui-state-highlight {
    border-color: #d3d3d3;
    background: #e6e6e6 ; 
    color: #555555;    
}
.ui-state-highlight{
    border:1px solid #d3d3d3/ !important;
    background:#e6e6e6
}
.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active{
     border:1px solid #aaaaaa !important;
    background:#ffffff
}*/