.ui-dropdownchecklist {
    height: 38px;
    border: 1px solid #ddd;
    border-right: 0;
    width: 435px;
    background: #fdfcfc;
    margin: 5px 0;
    -webkit-border-radius: 3px;
    font-size:14px;
}

.ui-dropdownchecklist-hover, .ui-dropdownchecklist-active {
    background-image: url(dropdown_hover.png);
    border-color: #5794bf;
}

.ui-dropdownchecklist-text {
    /*font-size: 14px;*/
    height: 28px;
    line-height: 20px;
    margin-right: 17px;
    font-size: 13px;
    font-family: 'aileronregular';
    padding: 5px;
}

.ui-dropdownchecklist-dropcontainer {
    background-color: #fff;
    border: 1px solid #999;
}

.ui-dropdownchecklist-item {
}

.ui-dropdownchecklist-item-hover {
    background-color:  	#33A1C9;
    /*background-color: #256ca1;*/
}

    .ui-dropdownchecklist-item-hover .ui-dropdownchecklist-text {
        color: #fff;
    }

.ui-dropdownchecklist-group {
    font-weight: bold;
    font-style: italic;
}

    .ui-dropdownchecklist-group.nolabel {
        border-bottom: dotted #CCCCCC 1px;
    }

        .ui-dropdownchecklist-group.nolabel:last-child {
            border-bottom: none;
        }

.ui-dropdownchecklist-indent {
    padding-left: 20px;
