
@{
    ViewBag.Title = "ResetPassword";
    Layout = "~/Views/SharedWeb/MainMaster.cshtml";
}

@section Navigation
{
    <div class="breads">
        <div class="breads_inner">
            <div class="pageWidth">
                <div class="title">
                    <h3>Members Area</h3>
                </div>
                <div class="breadcrumbs">
                    <ul>
                        <li><a href="index.html">Home</a></li>
                        <li><i class="breads_arrow"></i></li>
                        <li>Members Area</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
}
<section>
    <div class="about_main">
        <div class="pageWidth">
            <div class="login-register">
                <div class="form register wow fadeInLeft animated animated" style="visibility: visible; animation-name: fadeInLeft;">
                    <h4>Reset PassWord Here<span></span></h4>                   
                        <ul>
                            <li>
                                <label>Password<span>*</span></label>
                                <input id="Text1" type="text"  />                               
                               
                            </li>
                            </ul>
                        <ul>
                            <li>
                                <label>Confirm Password<span>*</span></label>
                                <input id="Text2" type="text" />
                            </li>
                        </ul>
                        <div class="clear"></div>
                        <div class="submit-btn">
                            <input id="Button1" type="button" value="Reset Password"  />
                           
                        </div>
                        <div class="clear"></div>
                    }

              
                </div>
                <div class="form login wow fadeInRight animated animated" style="visibility: visible; animation-name: fadeInRight;">              

                </div>
                <div class="clear"></div>
            </div>

        </div>

    </div>
</section>

