@model MaaAahwanam.Models.UserDetail

@*@using MaaAahwanam.Web.Custom
    @{
      //  var user = (CustomPrincipal)HttpContext.Current.User;
    }*@

@if (Model.UserLoginId != 0)
{
    <div class="signin-area after_login">
        <div class="loginDiv">
            <ul>
                <li>
                    <a class="dropdown-toggle" href="javascript:void(0)">
                        <img id="imgPreviewsmall" src="../Content/UserDPs/user1.jpg" alt="img-profile">
                        <span>@this.Model.FirstName @this.Model.LastName</span> <i class="ti-angle-down"></i>
                        <div class="clear"></div>
                    </a>
                    <div class="loginForm">
                        <span class="arrowUp"></span>
                        <div class="dropdownList">
                            <span class="arrowUp"></span>
                            <ul>
                                <li><a href="~/Dashboard"><i class="ti-dashboard"></i>Dashboard</a></li>
                                <li><a href="~/Myprofile"><i class="ti-user"></i>My Profile</a></li>
                                @*@if (user.UserType == "User")
                                    {
                                        <li><a href="../AddressBook"><i class="ti-book"></i>Address Book</a></li>
                                    }
                                    @if (user.UserType == "Vendor")
                                    {
                                        <li><a href="../DatesBooked"><i class="ti-book"></i>Dates Booked</a></li>
                                    }*@
                                <li><a href="~/Signin/SignOut"><i class="ti-power-off"></i>Logout</a></li>
                            </ul>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <!-- /loginDiv -->
        <div class="top-social-icons">
            <ul>
                <li><a href="#"><i class="ti-facebook fb"></i></a></li>
                <li><a href="#"><i class="ti-google gplus"></i></a></li>
                <li><a href="#"><i class="ti-linkedin in"></i></a></li>
                <li><a href="#"><i class="ti-twitter twitter"></i></a></li>
            </ul>
        </div>
    </div>
}
else
{
    <div class="signin-area wow fadeInRight animated">
        <ul>
            <li><a href="../Signin"><i class="ti-lock"></i><span class="display-none">Sign In</span> </a></li>
            <li><a href="../Signin"><i class="ti-lock"></i><span class="display-none">Sign Up</span> </a></li>
            <li class="cart-mobile"><a href="#"><i class="ti-shopping-cart"></i></a></li>
        </ul>
        <div class="top-social-icons">
            <ul>
                <li><a href="#"><i class="ti-facebook fb"></i></a></li>
                <li><a href="#"><i class="ti-google gplus"></i></a></li>
                <li><a href="#"><i class="ti-linkedin in"></i></a></li>
                <li><a href="#"><i class="ti-twitter twitter"></i></a></li>
            </ul>
        </div>
    </div>
}
 <script>
     //window.onload = function () {
         //alert('s');
            //$.ajax({
            //    url: window.location.href.split("/")[0] + '//' + window.location.href.split("/")[2] + '/Dashboard/SetUserDP',
            //    //type: "GET",
            //    //processData: false,
            //    //contentType: false,
            //    //data: {},
            //    method: 'POST',
            //    dataType: "json",
            //    success: function (response) {
            //        //code after success
            //       // if (response==null)
            //        alert(response);
            //        //$("#imgPreviewsmall").attr('src', '/Content/UserDPs/' + response);
            //    },
            //    error: function (er) {
            //        alert(er);
            //    }

            //});
        //};
    </script>