@using MaaAahwanam.Web.Models
@model Tuple<MaaAahwanam.Models.UserLogin, MaaAahwanam.Models.UserDetail>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/SharedWeb/NMasterPage.cshtml";
}

<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-12 col-sm-10 col-md-6 bgWhite my-4 authenticationBlocks">
            <div class="login p-5">
                <div class="row mx-0 margin">
                    <h4>
                        Change Password
                        <div class="blackBorder"></div>
                    </h4>
                </div>
                <div class="row mx-0 fontSize-18 my-2">
            
                </div>
                @*@using (Html.BeginForm("Index", "NUserRegistration", FormMethod.Post))
                {*@
                    <input type="hidden" class="form-control" value="@ViewBag.email" name="UserName" id="UserName" required />

                    <div class="row mx-0 my-2">
                        <div class="form-group w-100">
                            <input type="password" class="form-control" placeholder="New Password" id="Password">
                            @*<input type="password" class="form-control" name="" placeholder="Password">*@
                        </div>
                    </div>
                    <div class="row mx-0 my-2">
                        <div class="form-group w-100">
                            <input type="password" class="form-control" placeholder="Confirm Password" id="Password1">                       
                        </div>
                    </div>
                    <div class="row mx-0 align-items-center">
                        <button type="submit" class="themeBgColorPrimary btnSecondary text-white text-center loginBtn" value="Login" name="command" onclick="load1('password')">change password</button>

                    </div>
                @*}*@
           
            </div>



        </div>
    </div>
</div>

@section scripts{
<script>
        function alertmsg(msg) {
            alertify.alert("" + msg + "", function () {
                //alertify.message('OK');
            });
        }
</script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('body').attr("id", "userAuthentication");
        });
        $('.container').hide();
        $('.search').hide();


        function load1(password) {
            Password = document.getElementById("Password").value
            Password1 = document.getElementById("Password1").value
            UserName = document.getElementById("UserName").value

            if (Password != Password1) {
                //  alert("password doesnot match")
                alertmsg("Password doesnot Match");

            }
            else {
                var userLogin = {
                    Password: document.getElementById("Password").value,
                    UserName: document.getElementById("UserName").value
                }
                $.ajax({
                    url: '/NUserRegistration/changepassword',
                    type: "POST",
                    datatype: "json",
                    data: { userLogin: userLogin },
                    success: function (response) {
                        if (response == 'success') {
                            //alert('Password Updated Successfully Please Login');
                            alertmsg("Password Updated Successfully Please Login");

                            window.location.href = "/NHomePage/Index";
                        }
                    }
                })
            }
        }
    </script>

   

}