<h1>sdsd</h1>
<div class="rating">
    <span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
</div>
<div class="rating" style="width: 100%; height: 23px; overflow: hidden; position: absolute; top: 0px; display: block; white-space: nowrap; color:orange;"><span>★</span><span>★</span><span>★</span><span>★</span><span>★</span></div>
<style>
    .rating {
        unicode-bidi: bidi-override;
        direction: rtl;
        text-align: center;
    }

        .rating > span {
            display: inline-block;
            position: relative;
            width: 1.1em;
        }

            .rating > span:hover,
            .rating > span:hover ~ span {
                color: transparent;
            }

                .rating > span:hover:before,
                .rating > span:hover ~ span:before {
                    content: "\2605";
                    position: absolute;
                    left: 0;
                    color: gold;
                }
</style>