
@{
    Layout = null;
}

<!DOCTYPE html>

@*<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div> 
        SuccessFully Registered
    </div>
</body>
</html>*@

<html>
<head>
    <title>:: Thank You ::</title>
    <link rel="stylesheet" type="text/css" href="~/newdesign/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="~/newdesign/css/font-awesome.css">
    <link rel="stylesheet" type="text/css" href="~/newdesign/css/customstyles.css">
    <link rel="stylesheet" type="text/css" href="~/newdesign/css/latofonts.css">
</head>
<body>
    <div class="container thankyou text-center">
        <a href="/HomePage"><img src="~/newdesign/images/logo.png" alt="Logo"></a>
        <h3>Thank You for Registration</h3>
        <a href="/HomePage"><i class="fa fa-check fa-lg" aria-hidden="true"></i></a>
        <p>Our back office executive will get back to you as soon as possible</p>
        <!--<a href="index.html" class="btn btn-default red-bg white margin-left"><i class="fa fa-home fa-2x" aria-hidden="true"></i></a>-->
        <a href="/HomePage" class="btn btn-default red-bg white margin-left"><i class="fa fa-arrow-left" aria-hidden="true"></i>&nbsp; &nbsp; Home</a>
    </div>
    <script type="text/javascript" language="javascript" src="~/newdesign/js/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" language="javascript" src="~/newdesign/js/bootstrap.min.js"></script>
</body>
</html>

