<li class="dropdown">
    <a class="navbar-avatar dropdown-toggle" data-toggle="dropdown" href="#" aria-expanded="false"
       data-animation="scale-up" role="button">
        <span class="avatar avatar-online">
            @if (ViewBag.profilepic != "" && ViewBag.profilepic != null)
            {
                <img src="~/ProfilePictures/@ViewBag.profilepic" alt="@ViewBag.profilepic" style="height:30px">
            }
            else
            {
                <img src="~/noimages.png" alt="~/noimages.png">
            }
        </span>
    </a>
    <ul class="dropdown-menu" role="menu">
        <li role="presentation">
            <a href="/NVendorProfile/Index?ks=@ViewBag.id" role="menuitem"><i class="icon wb-user" aria-hidden="true"></i> Profile</a>
        </li>
        @*  <li role="presentation">
                <a href="javascript:void(0)" role="menuitem"><i class="icon wb-payment" aria-hidden="true"></i> Billing</a>
            </li>
            <li role="presentation">
                <a href="javascript:void(0)" role="menuitem"><i class="icon wb-settings" aria-hidden="true"></i> Settings</a>
            </li>*@
        <li class="divider" role="presentation"></li>
        <li role="presentation">
            <a href="/NUserRegistration/SignOut" role="menuitem"><i class="icon wb-power" aria-hidden="true"></i> Logout</a>
        </li>
    </ul>
</li>
