<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>Payment Print - Welcome to Maa Aahwanam</title>
    <link rel="icon" type="image/png" href="../CSSWeb/images/favicon.png">
    <link rel="stylesheet" href="../CSSWeb/css/hover.css" />
    <link rel="stylesheet" href="../CSSWeb/css/menu.css">
    <link rel="stylesheet" href="../CSSWeb/css/aileron.css">
    <link rel="stylesheet" href="../CSSWeb/css/ms-layers-style.css" />
    <link rel="stylesheet" href="../CSSWeb/css/themify-icons.css">
    <link rel="stylesheet" href="../CSSWeb/css/animate.min.css">
    <link rel="stylesheet" href="../CSSWeb/css/maa-aahwanam.css">
    <link rel="stylesheet" href="../CSSWeb/css/responsive.css">

    <!--[if gte IE 7]>
    <script type="text/javascript" src="js/html5shiv.js"></script>
    <link rel="stylesheet" href="css/fonts-ie7.css">
    <link rel="stylesheet" href="css/ie.css">
    <![endif]-->
    <script src="../CSSWeb/js/jquery-1.9.1.js"></script>
</head>

<body>
    <header>
        <div class="payment_header">
            <div class="pageWidth">
                <div class="logo"><img src="../CSSWeb/images/logo.png" alt="logo"></div>
                <h5><i class="ti-mobile"></i> +1800 180 1800</h5>
            </div>
        </div>
        <div class="clear"></div>
        <div class="breads">
            <div class="breads_inner breads_inner2 ">
                <div class="pageWidth">
                    <div class="title">
                        <h3>Total Amout to be made: Rs. 645.00</h3>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <section>
        <div class="about_main">
            <div class="pageWidth">
                <div class="dashboard margin_top_40 margin_bottom_20">
                    <div class="dashInner">
                        <!-- /order-details -->
                        <div class="dashboardList dashboardList-whitebg dashboardList-nospace">
                            <table class="responsive">
                                <thead>
                                    <tr>
                                        <th style="width:35%">Item Details</th>
                                        <th style="width:24%">Event Details</th>
                                        <th style="width:26%">Event Date/Time</th>
                                        <th style="width:15%">Price</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>
                                            <div class="item-details">
                                                <h4>Neque porro quisquam est qui dolorem ipsum quia</h4>
                                                <p>Jubileehills, Hyderabad</p>
                                            </div>
                                            <div class="clear"></div>
                                        </td>
                                        <td>
                                            <h4>Wedding Cermony</h4>
                                            <p>
                                                #311/A, Road No.12,<br>
                                                MLA Colony, Banjara Hills,<br>
                                                (+91) 40 64640441
                                            </p>
                                        </td>
                                        <td>
                                            <div class="event-date-time">
                                                <div class="event-dates">
                                                    <p><i class="ti-calendar"></i> 11/12/2015  9:30 AM</p>
                                                    <p><i class="ti-calendar"></i> 11/12/2015  9:30 AM</p>
                                                </div>
                                                <div class="clear"></div>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="item-price">
                                                <p>Rs. 1200.00</p>
                                                <p>Rs. 1200.00</p>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="item-details">
                                                <h4>Neque porro quisquam est qui dolorem ipsum quia</h4>
                                                <p>Jubileehills, Hyderabad</p>
                                            </div>
                                            <div class="clear"></div>
                                        </td>
                                        <td>
                                            <h4>Wedding Cermony</h4>
                                            <p>
                                                #311/A, Road No.12,<br>
                                                MLA Colony, Banjara Hills,<br>
                                                (+91) 40 64640441
                                            </p>
                                        </td>
                                        <td>
                                            <div class="event-date-time">
                                                <div class="event-dates">
                                                    <p><i class="ti-calendar"></i> 11/12/2015  9:30 AM</p>
                                                    <p><i class="ti-calendar"></i> 11/12/2015  9:30 AM</p>
                                                </div>
                                                <div class="clear"></div>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="item-price">
                                                <p>Rs. 1200.00</p>
                                                <p>Rs. 1200.00</p>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="item-details">
                                                <h4>Neque porro quisquam est qui dolorem ipsum quia</h4>
                                                <p>Jubileehills, Hyderabad</p>
                                            </div>
                                            <div class="clear"></div>
                                        </td>
                                        <td>
                                            <h4>Wedding Cermony</h4>
                                            <p>
                                                #311/A, Road No.12,<br>
                                                MLA Colony, Banjara Hills,<br>
                                                (+91) 40 64640441
                                            </p>
                                        </td>
                                        <td>
                                            <div class="event-date-time">
                                                <div class="event-dates">
                                                    <p><i class="ti-calendar"></i> 11/12/2015  9:30 AM</p>
                                                    <p><i class="ti-calendar"></i> 11/12/2015  9:30 AM</p>
                                                </div>
                                                <div class="clear"></div>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="item-price">
                                                <p>Rs. 1200.00</p>
                                                <p>Rs. 1200.00</p>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>

                            <div class="clear"></div>
                        </div>
                        <!-- /dashboardList -->
                        <div class="price-information">
                            <div class="total-price">
                                <div class="price-desc">
                                    <h6>Payment Terms & Conditions</h6>
                                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries.</p>
                                </div>
                                <div class="price-info">
                                    <table>
                                        <tr>
                                            <td style="width:55%;">Sub Total</td>
                                            <td style="width:15%;" align="center">:</td>
                                            <td style="width:30%;">1200.00</td>
                                        </tr>
                                        <tr>
                                            <td>Tax</td>
                                            <td align="center">:</td>
                                            <td>99.00</td>
                                        </tr>
                                        <tr>
                                            <td><h5>Payble Total</h5></td>
                                            <td align="center"><h5>:</h5></td>
                                            <td><h5>1299.00</h5></td>
                                        </tr>
                                    </table>
                                </div>
                                <div class="clear"></div>
                            </div>
                            <!-- /total-price -->

                        </div>

                    </div>
                </div>
                <div class="paid-amount">
                    <h5>Total Paid Amount &nbsp;&nbsp;:&nbsp;&nbsp;Rs. 650.00</h5>
                </div>
                <div class="clear"></div>

                <div class="payment_desc">
                    <p>If you did not create this account on Paytm and you think someone else has used your Email ID to create an account, please remove your Email ID from this account by clicking <a href="#">here</a></p>
                    <div class="clear"></div>
                    <div class="payment_logo"><img src="images/pay-logo.png" alt="Payment logo"></div>
                    <div class="payment_hints">
                        <p>At Paytm we value your trust. Your money is yours unless you get what you paid for.</p>
                        <p>We are here 24 X 7 for you! Please Click Here to reach us.</p>
                        <p>Or call us at 9999391234 from your registered mobile number.</p>
                    </div>
                    <p>You will receive your cash back in 1 hour.</p>
                    <p>** Always carry ticket printout and your ID proof while travelling</p>
                </div>

                <div class="cancellation">
                    <h4>CANCELLATION POLICY</h4>
                    <table style="width:40%;">
                        <tr>
                            <th style="width:50%;">Hours before Departure</th>
                            <th style="width:50%;">Refund</th>
                        </tr>
                        <tr>
                            <td>B/W 0-5 hours of bus start time</td>
                            <td>0%</td>
                        </tr>
                        <tr>
                            <td>Above 5 hours of bus start time</td>
                            <td>90%</td>
                        </tr>
                    </table>
                    <p><i>&nbsp;</i> Refund policy mentioned above is indicative. The actual cancellation charges are determined by bus operators and bus providers at the actual time of cancellation. Paytm has no role in governing cancellation charges.</p>
                    <p><i>&nbsp;</i>Cancellation charges are calculated on the actual fare of the ticket, if any discount coupons are used while purchasing the ticket, the discounted value would be used to calculate the refund amount when a ticket is cancelled.</p>
                    <h4>PAYTM IS RESPONSIBLE FOR</h4>
                    <p><i>&nbsp;</i>Issuing a valid ticket (a ticket that will be accepted by the bus operator) for its’ network of bus operators.</p>
                    <p><i>&nbsp;</i>Providing refund and support in the event of cancellation.</p>
                    <p><i>&nbsp;</i>Providing customer support and information in case of any delays / inconvenience.</p>
                    <h4>PAYTM’S RESPONSIBILITIES DO NOT INCLUDE</h4>
                    <p><i>&nbsp;</i>The bus operator’s bus not departing / reaching on time.</p>
                    <p><i>&nbsp;</i>The bus operator’s employees being rude.</p>
                    <p><i>&nbsp;</i>The bus operator’s bus seats etc not being up to the customer’s expectation.</p>
                    <p><i>&nbsp;</i>The bus operator canceling the trip due to unavoidable reasons.</p>
                    <p><i>&nbsp;</i>The baggage of the customer getting lost / stolen / damaged.</p>
                    <p><i>&nbsp;</i>The bus operator changing a customer’s seat at the last minute to accommodate a lady / child.</p>
                    <p><i>&nbsp;</i>The customer waiting at the wrong boarding point (please call the bus operator to find out the exact boarding point if you are not a regular traveler on that particular bus).</p>
                    <p><i>&nbsp;</i>The bus operator changing the boarding point and/or using a pick-up vehicle at the boarding point to take customers to the bus departure point</p>
                </div>

                <div class="clear"></div>

            </div>

        </div>
    </section>


    <div class="clear"></div>
    <script type="text/javascript" src="../CSSWeb/js/jquery.easing.min.js"></script>
    <script type="text/javascript" src="../CSSWeb/js/wow.min.js"></script>
    <script type="text/javascript" src="../CSSWeb/js/nicescroll.min.js"></script>
    <script>
        // Show / Hide div
        $(document).ready(function () {
            $(".slidingDiv").hide();
            $(".show_hide").show();

            $("body").not(".show_hide,.slidingDiv").click(function () {
                $(".slidingDiv").fadeOut("slow");
            });

            $(".show_hide").click(function (e) {
                $(".slidingDiv").fadeIn('slow');
                e.stopPropagation();
            });

        });
    </script>
</body>
</html>
