@{
    Layout = "~/Views/SharedWeb/DashboardMaster.cshtml";
    ViewBag.Title = "DatesBooked";
}

@section Navigation
{
    <div class="breads">
        <div class="breads_inner">
            <div class="pageWidth">
                <div class="title">
                    <h3>Dates Booked</h3>
                </div>
                <div class="breadcrumbs">
                    <ul>
                        @if (ViewBag.Type == "User")
                        {
                            <li><a href="~/index/Index">Home</a></li>
                        }
                        <li><i class="breads_arrow"></i></li>
                        <li><a href="../Dashboard">Dashboard</a></li>
                        <li><i class="breads_arrow"></i></li>
                        <li>Dates Booked</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
}
<div class="my-profile">
    <div class="dashboardList dashboardList-nospace">
        <table class=" responsive">
            <thead>
                <tr>
                    <th style="width:10%">S.No</th>
                    <th style="width:20%">Start Date</th>
                    <th style="width:20%">End Date</th>
                    <th style="width:30%">Event Name</th>
                    <th style="width:45%">Event Address</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="green-link">1</td>
                    <td>02-12-2015</td>
                    <td>02-12-2015</td>
                    <td>Birthday function</td>
                    <td>Banjarahills,Hyderabad</td>
                </tr>
                <tr>
                    <td class="green-link">2</td>
                    <td>02-12-2015</td>
                    <td>02-12-2015</td>
                    <td>Birthday function</td>
                    <td>Banjarahills,Hyderabad</td>
                </tr>
                <tr>
                    <td class="green-link">3</td>
                    <td>02-12-2015</td>
                    <td>02-12-2015</td>
                    <td>Birthday function</td>
                    <td>Banjarahills,Hyderabad</td>
                </tr>
                <tr>
                    <td class="green-link">4</td>
                    <td>02-12-2015</td>
                    <td>02-12-2015</td>
                    <td>Birthday function</td>
                    <td>Banjarahills,Hyderabad</td>
                </tr>
                <tr>
                    <td class="green-link">5</td>
                    <td>02-12-2015</td>
                    <td>02-12-2015</td>
                    <td>Birthday function</td>
                    <td>Banjarahills,Hyderabad</td>
                </tr>
                <tr>
                    <td class="green-link">5</td>
                    <td>02-12-2015</td>
                    <td>02-12-2015</td>
                    <td>Birthday function</td>
                    <td>Banjarahills,Hyderabad</td>
                </tr>
                <tr>
                    <td class="green-link">6</td>
                    <td>02-12-2015</td>
                    <td>02-12-2015</td>
                    <td>Birthday function</td>
                    <td>Banjarahills,Hyderabad</td>
                </tr>
                <tr>
                    <td class="green-link">7</td>
                    <td>02-12-2015</td>
                    <td>02-12-2015</td>
                    <td>Birthday function</td>
                    <td>Banjarahills,Hyderabad</td>
                </tr>
                <tr>
                    <td class="green-link">8</td>
                    <td>02-12-2015</td>
                    <td>02-12-2015</td>
                    <td>Birthday function</td>
                    <td>Banjarahills,Hyderabad</td>
                </tr>

                <tr>
                    <td class="green-link">9</td>
                    <td>02-12-2015</td>
                    <td>02-12-2015</td>
                    <td>Birthday function</td>
                    <td>Banjarahills,Hyderabad</td>
                </tr>

                <tr>
                    <td class="green-link">10</td>
                    <td>02-12-2015</td>
                    <td>02-12-2015</td>
                    <td>Birthday function</td>
                    <td>Banjarahills,Hyderabad</td>
                </tr>

                <tr>
                    <td class="green-link">11</td>
                    <td>02-12-2015</td>
                    <td>02-12-2015</td>
                    <td>Birthday function</td>
                    <td>Banjarahills,Hyderabad</td>
                </tr>
            </tbody>
        </table>
        <div class="pagination">
            <ul>
                <li><a href="javascript:void(0)">Prev</a></li>
                <li><a href="javascript:void(0)" class="active">1</a></li>
                <li><a href="javascript:void(0)">2</a></li>
                <li><a class="pagination-gap">...</a></li>
                <li><a href="javascript:void(0)">24</a></li>
                <li><a href="javascript:void(0)">25</a></li>
                <li><a href="javascript:void(0)">Next</a></li>
            </ul>
        </div>
        <div class="clear"></div>
    </div>
    <div class="clear"></div>
</div>
