@{
    ViewBag.Title = "Deals";
    Layout = "~/Views/SharedWeb/NMasterPage.cshtml";
}
@using System.Globalization
<div class="container-fluid">
    <div class="row innerPagesBg py-2">
        <div class="col-12 col-sm-8 col-md-8 col-lg-9 mb-2 mb-sm-0 mb-md-0" id="dealssection">
            @{Html.RenderAction("Loadmore", "NLiveDeals"); }
            @*@{Html.RenderPartial("deallist", "NLiveDeals");}*@
            <input type="hidden" id="dealcount" value="@ViewBag.dealcount" />


        </div>
        <div class="col-12 col-sm-4 col-md-4 col-lg-3 pl-md-0 dealsCategories">
            <div class="px-15">
                <div class="row bgWhite mb-3 firstBlock">
                    <div class="w-100 px-4 py-3">
                        <div class="row mx-0">
                            <h3 class="noteWorthybold">
                                Trending Deals
                                <div class="blackBorder"></div>
                            </h3>
                        </div>
                        <div class="row mx-0 my-4">

                            <div class="w-100 block">

                                <div class="topVenueBlockImg d-inline-block">
                                    <a href="/NLiveDeals/Index?eve=Engagement" class="item">
                                        <img src="http://design.maa-aahwanam.com/newdesign/images/engagement.jpg" class="img-fluid" alt="Top Venue" />
                                    </a>
                                </div>
                                <div class="w-100 topVenueDetails d-inline-block ml-2">
                                    <a href="/NLiveDeals/Index?eve=Engagement" class="item">
                                        Engagement
                                    </a>

                                </div>
                            </div>
                            <div class="w-100 block">

                                <div class="topVenueBlockImg d-inline-block">
                                    <a href="/NLiveDeals/Index?eve=Birthdays" class="item">

                                        <img src="http://design.maa-aahwanam.com/newdesign/images/baby_birthday.jpg" class="img-fluid" alt="Top Venue" />
                                    </a>
                                </div>
                                <div class="w-100 topVenueDetails d-inline-block ml-2">
                                    <a href="/NLiveDeals/Index?eve=Birthdays" class="item">

                                        Birthdays
                                    </a>
                                </div>

                            </div>
                            <div class="w-100 block">

                                <div class="topVenueBlockImg d-inline-block">
                                    <a href="/NLiveDeals/Index?eve=Kitty Cocktails Parties" class="item">

                                        <img src="http://design.maa-aahwanam.com/newdesign/images/kittycocktails.jpg" class="img-fluid" alt="Top Venue" />
                                    </a>
                                </div>
                                <div class="w-100 topVenueDetails d-inline-block ml-2">
                                    <a href="/NLiveDeals/Index?eve=Kitty Cocktails Parties" class="item">

                                        Kitty Cocktails Parties
                                    </a>
                                </div>
                            </div>
                            <div class="w-100 block">

                                <div class="topVenueBlockImg d-inline-block">
                                    <a href="/NLiveDeals/Index?eve=Corporates Cocktail parties" class="item">

                                        <img src="http://design.maa-aahwanam.com/newdesign/images/corporatescocktails.png" class="img-fluid" alt="Top Venue" />
                                    </a>
                                </div>
                                <div class="w-100 topVenueDetails d-inline-block ml-2">
                                    <a href="/NLiveDeals/Index?eve=Corporates Cocktail parties" class="item">

                                        Corporates Cocktail parties
                                    </a>
                                </div>

                            </div>
                            <div class="w-100 block">

                                <div class="topVenueBlockImg d-inline-block">
                                    <a href="/NLiveDeals/Index?eve=Annual Day Celebrations" class="item">

                                        <img src="http://design.maa-aahwanam.com/newdesign/images/annualday.png" class="img-fluid" alt="Top Venue" />
                                    </a>
                                </div>
                                <div class="w-100 topVenueDetails d-inline-block ml-2">
                                    <a href="/NLiveDeals/Index?eve=Annual Day Celebrations" class="item">

                                        Annual Day Celebrations
                                    </a>
                                </div>

                            </div>
                            <div class="w-100 block">
                                <div class="topVenueBlockImg d-inline-block">
                                    <a href="/NLiveDeals/Index?eve=Corporate Buffet Lunch / Dinner" class="item">

                                        <img src="http://design.maa-aahwanam.com/newdesign/images/banquet-bg.png" class="img-fluid" alt="Top Venue" />
                                    </a>
                                </div>
                                <div class="w-100 topVenueDetails d-inline-block ml-2">
                                  
                                        <a href="/NLiveDeals/Index?eve=Corporate Buffet Lunch / Dinner" class="item">

                                            Corporate Buffet Lunch / Dinner

                                        </a>
                                </div>

                            </div>
                            <div class="w-100 block">

                                <div class="topVenueBlockImg d-inline-block">
                                    <a href="/NLiveDeals/Index?eve=Honeymoon packages Rooms CP Plan" class="item">

                                        <img src="http://design.maa-aahwanam.com/newdesign/images/honeymoon.png" class="img-fluid" alt="Top Venue" />
                                    </a>
                                </div>
                                <div class="w-100 topVenueDetails d-inline-block ml-2">
                                    <a href="/NLiveDeals/Index?eve=Honeymoon packages Rooms CP Plan" class="item">

                                        Honeymoon packages Rooms CP Plan
                                    </a>
                                </div>

                            </div>

                        </div>
                    </div>
                </div>
                <div class="row bgWhite trendingEvents">
                    <div class="w-100 px-4 py-3">
                        <div class="row mx-0">
                            <h4 class="noteWorthybold">
                              Events
                                <div class="blackBorder"></div>
                            </h4>
                        </div>
                        <div class="row mx-0 my-4">
                            <div class="col-6 col-sm-4 col-md-4 block mt-2">
                                <a href="/NQuestionNaire?servicetype=Wedding">
                                    <img src="~/newdesign/images/choreographer-bg.png" class="img-fluid" alt="Trending Events" />
                                </a>
                                <div class="d-block mt-2 text-center">
                                    <a href="/NQuestionNaire?servicetype=Wedding" class="themeColor">Wedding</a>
                                </div>
                            </div>
                            <div class="col-6 col-sm-4 col-md-4 block mt-2">
                                <a href="/NQuestionNaire?servicetype=Party">
                                    <img src="http://design.maa-aahwanam.com/newdesign/images/kittycocktails.jpg" class="img-fluid" alt="Trending Events" />
                                </a>
                                <div class="d-block mt-2 text-center">
                                    <a href="/NQuestionNaire?servicetype=Party" class="themeColor">Party</a>
                                </div>
                            </div>
                            <div class="col-6 col-sm-4 col-md-4 block mt-2">
                                <a href="/NQuestionNaire?servicetype=BabyFunction">
                                    <img src="http://design.maa-aahwanam.com/newdesign/images/annualday.png" class="img-fluid" alt="Trending Events" />
                                </a>
                                <div class="d-block mt-2 text-center">
                                    <a href="/NQuestionNaire?servicetype=BabyFunction" class="themeColor">BabyFunction</a>
                                </div>
                            </div>
                            <div class="col-6 col-sm-4 col-md-4 block mt-2">
                                <a href="/NQuestionNaire?servicetype=Corporate">
                                    <img src="http://design.maa-aahwanam.com/newdesign/images/corporatescocktails.png" class="img-fluid" alt="Trending Events" />
                                </a>
                                <div class="d-block mt-2 text-center">
                                    <a href="/NQuestionNaire?servicetype=Corporate" class="themeColor">Corporate</a>
                                </div>
                            </div>
                            <div class="col-6 col-sm-4 col-md-4 block mt-2">
                                <a href="/NQuestionNaire?servicetype=Birthday">

                                    <img src="http://design.maa-aahwanam.com/newdesign/images/baby_birthday.jpg" class="img-fluid" alt="Trending Events" />
                                </a>
                                <div class="d-block mt-2 text-center">
                                    <a href="/NQuestionNaire?servicetype=Birthday" class="themeColor">Birthday</a>
                                </div>
                            </div>
                            <div class="col-6 col-sm-4 col-md-4 block mt-2">
                                <a href="/NQuestionNaire?servicetype=Engagement">

                                    <img src="http://design.maa-aahwanam.com/newdesign/images/engagement.jpg" class="img-fluid" alt="Trending Events" />
                                </a>
                                <div class="d-block mt-2 text-center">
                                    <a href="/NQuestionNaire?servicetype=Engagement" class="themeColor">Engagement</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="margin-top-50">
        <div class="row mx-0">
            <h3 class="noteWorthybold">
                What's Trending
                <div class="blackBorder"></div>
            </h3>
        </div>
        <div class="row">
            <div class="col-12 col-md-12">
                <div class="owl-carousel owl-theme mt-3">
                    <a href="/NQuestionNaire?servicetype=Hotel" class="item">
                        <img src="~/newdesign/images/hotels-bg.png" alt="Hotels" />
                        <span class="d-block mt-2 themeFontColor">Hotels</span>
                    </a>
                    <a href="/NQuestionNaire?servicetype=Function Hall" class="item">
                        <img src="~/newdesign/images/functionhalls-bg.png" alt="Function Halls" />
                        <span class="d-block mt-2 themeFontColor">Function Halls</span>
                    </a>
                    <a href="/NQuestionNaire?servicetype=Banquet Hall" class="item">
                        <img src="~/newdesign/images/banquet-bg.png" alt="Banquet Halls" />
                        <span class="d-block mt-2 themeFontColor">Banquet Halls</span>
                    </a>
                    <a href="/NQuestionNaire?servicetype=Convention Hall" class="item">
                        <img src="~/newdesign/images/convention-bg.png" alt="Convention Halls" />
                        <span class="d-block mt-2 themeFontColor">Convention Halls</span>
                    </a>
                    <a href="/NQuestionNaire?servicetype=Resort" class="item">
                        <img src="~/newdesign/images/resort-bg.png" alt="Resort" />
                        <span class="d-block mt-2 themeFontColor">Resort</span>
                    </a>
                    <a href="/NQuestionNaire?servicetype=Banquet Hall" class="item">
                        <img src="~/newdesign/images/banquet-bg.png" alt="Banquet Halls" />
                        <span class="d-block mt-2 themeFontColor">Banquet Halls</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>


@section scripts{
    <script>
        $(document).ready(function () {
            var owl = $('.owl-carousel');
            owl.owlCarousel({
                margin: 10,
                nav: true,
                loop: true,
                responsive: {
                    0: {
                        items: 1
                    },
                    600: {
                        items: 3
                    },
                    1000: {
                        items: 5
                    }
                }
            })
        })
    </script>
<script type="text/javascript">
        //$(document).ready(function () {
        //    $('body').attr("id", "userAuthentication");
        //});
        $('.container').hide();
        $('.search').hide();
</script>

    <!------ Auto Complete ---------->

    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script>
        $(function () {
            var availableTags = [
              "Hyderabad",
              "Secundrabad",
              "Vizag",
              "Mumbai",
              "Guntur",
              "Hyderabad",
              "Secundrabad",
              "Vizag",
              "Mumbai",
              "Guntur",
              "Hyderabad",
              "Secundrabad",
              "Vizag",
              "Mumbai",
              "Guntur",
              "Hyderabad",
              "Secundrabad",
              "Vizag",
              "Mumbai",
              "Guntur"
            ];
            $("#tags, #tags1").autocomplete({
                source: availableTags
            });
        });
    </script>

    <script>
    <!--//---- Top Section Area Search ---------->
	  var areaSpan = $(".topSearchArea").find("span:last-child"),
	      topThisUiWidget = $(".topSearchArea").next(".ui-widget");
  $(".topSearchArea").click(function(event){
	  $(areaSpan).css({"display":"none"});
	  $(topThisUiWidget).css({"display":"block"});
	  $(topThisUiWidget).find("input").focus();
	  });
	//    <!------ Top Section Area Search ---------->

	//<!------ Venue Area Search ---------->
	  var venueSearch = $(".venueSearch").find("span"),
	      venueSearchSpan = $(".venueSearch").find("span:first-of-type"),
	      venueUiWidge = $(".venueSearch").find(".ui-widget");
		  $(venueSearch).click(function(){
			  $(venueSearchSpan).css({"display":"none"});
			  $(venueUiWidge).css({"display":"block"});
	          $(venueUiWidge).find("input").focus();
			  });
	//<!------ Venue Area Search ---------->

	//<!------ Category Select ---------->
	var catgSearch = $(".categorySearch > span"),
	    catgSearchSpanFirst = $(".categorySearch > span:first-child"),
	    catResults = $(".categorySearch .categoryResults")
	$(catgSearch).click(function(){
		$(catResults).css("display","block");
		});
	$(catResults).find('li').click(function(){
		var catResultsText = $(this).text();
		$(catgSearchSpanFirst).empty().append(catResultsText);
		$(catResults).css("display","none");
		});
	//<!------ Category Select ---------->

    </script>

    <script>
        function load(typ) {
            var lastrecord;
            if (typ == 'deals') {
                lastrecord = document.getElementById("dealLastRecord").value;
                dealcount = document.getElementById("dealcount").value;
                dealevent = document.getElementById("dealevent").value;

                // alert(dealevent);
            }
            var url = '/NLiveDeals/Loadmore?lastrecord=' + lastrecord + '&eve=' + dealevent;
            $("#dealssection").empty().load(url);

        }


    </script>
}
