@using MaaAahwanam.Web.Custom

@if (System.Web.HttpContext.Current.User.Identity.IsAuthenticated == false)
{
    <ul class="navbar-nav ml-auto">
        <li class="nav-item active"> <a class="nav-link text-white" href="/Contests">Home <span class="sr-only">(current)</span></a> </li>
        <li class="nav-item active">
            @*<a class="nav-link dropdown-toggle text-white" href="#" id="myModal" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> Signin / Signup </a>*@
            <a class="nav-link text-white" data-toggle="modal" data-target="#myModal" href="#">Signin / Signup </a>
        </li>
        @*<li class="nav-item dropdown"></li>*@
        @*<a class="nav-link dropdown-toggle text-white" href="#" id="myModal" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> Signin / Signup </a>*@
        @*<div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="#">Action</a> <a class="dropdown-item" href="#">Another action</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Something else here</a>
            </div>*@
        @*</li>*@
    </ul>
}
else
{
    var user = (CustomPrincipal)HttpContext.Current.User;
    <ul class="navbar-nav ml-auto">
        <li class="nav-item active"> <a class="nav-link text-white" href="/Contests">Home <span class="sr-only">(current)</span></a> </li>
        <li class="nav-item dropdown" style="min-width:100px;">
            <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> @ViewBag.username </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                @*<a class="dropdown-item" href="#">Action</a> <a class="dropdown-item" href="#">Another action</a>
                    <div class="dropdown-divider"></div>*@
                <a class="dropdown-item" href="/NUserRegistration/SignOut">Sign Out</a>
            </div>
        </li>
    </ul>
}

