@{
    Layout = "~/Views/SharedWeb/ContestMaster.cshtml";
}

@section banner{
<div class="container-fluid indexBannerBg">
    <nav class="navbar navbar-expand-lg navbar-light">
        <a class="navbar-brand text-white logo primaryFont" href="/">AHWANAM</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"> <span class="navbar-toggler-icon"></span> </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            @{Html.RenderAction("Authenticate", "Contests"); }
        </div>
    </nav>
    <div class="w-100 bannerContent">
        <h3 class="text-center primaryFont primaryTextColor bannerTextHead">Contests</h3>
        <p class="text-white text-center fontWeight700 bannerText">Participate &amp Earn Exciting Prizes.</p>
    </div>
</div>
}

<div class="container-fluid" style="background:#e1e1e1; padding-bottom: 50px; padding-top: 50px;">
    <div class="container">
        <div class="row indexPage">
            @foreach (var item in ViewBag.contests)
            {
            <div class="col-12 col-sm-4 col-md-4 block mb-3">
                <div class="w-100">
                    <figure style="background:url('http://design.maa-aahwanam.com/contest/images/fathers-day-square-image.png');">
                        @*<img src="http://design.maa-aahwanam.com/contest/images/fathers-day-square-image.png" alt="Father's Day" class="img-fluid">*@
                    </figure>
                    <h3 class="primaryFont secondaryTextColor text-center">@item.ContestName</h3>
                    <p class="text-center"> Showcase your love by posting most memorable pic with your Dad. </p>
                    <a class="text-white"><div class="themeRedBgColor text-center py-2" style="background:black"> Contest Ended </div></a>
                    @*<a href="/ParticularContest?id=@item.ContentMasterID" class="text-white"><div class="themeRedBgColor text-center py-2"> Participate Now </div></a>*@
                    @*<a class="text-white"><div class="themeRedBgColor text-center py-2"> Starts From June 18,2018 </div></a>*@
                </div>
            </div>
            }
            @*<div class="col-12 col-sm-4 col-md-4 block">
                    <figure> <img src="http://design.maa-aahwanam.com/contest/images/plainimg.jpg" alt="Father's Day" class="img-fluid"> </figure>
                    <h3 class="primaryFont secondaryTextColor text-center">???</h3>
                    <p class="text-center"> Contest Starts Soon.... </p>
                    <div class="themeRedBgColor text-center py-2"> <a href="#" class="text-white">Coming Soon</a> </div>
                </div>*@
            @*<div class="col-12 col-sm-4 col-md-4 block">
                    <figure> <img src="http://design.maa-aahwanam.com/contest/images/plainimg.jpg" alt="Father's Day" class="img-fluid"> </figure>
                    <h3 class="primaryFont secondaryTextColor text-center">???</h3>
                    <p class="text-center"> Lorem Ipsum is simply dummy text of the printing and typesetting industry. </p>
                    <div class="themeRedBgColor text-center py-2"> <a href="#" class="text-white">Participate Now</a> </div>
                </div>
                <div class="col-12 col-sm-4 col-md-4 block">
                    <figure> <img src="http://design.maa-aahwanam.com/contest/images/plainimg.jpg" alt="Father's Day" class="img-fluid"> </figure>
                    <h3 class="primaryFont secondaryTextColor text-center">???</h3>
                    <p class="text-center"> Lorem Ipsum is simply dummy text of the printing and typesetting industry. </p>
                    <div class="themeRedBgColor text-center py-2"> <a href="#" class="text-white">Participate Now</a> </div>
                </div>*@
        </div>
    </div>
    </div>
