@charset "utf-8";
/* CSS Document */
.profile{
	 /*width: 221px;*/
    height: 203px;
    padding: 0px;
	border: 1px solid rgba(0,0,0,.125);
	box-shadow: 0 0 30px 0 rgba(0,0,0,.1);

}
.services{
	/* width: 221px;*/
    height: 450px;
    padding: 50px;
	border: 1px solid rgba(0,0,0,.125);
	box-shadow: 0 0 30px 0 rgba(0,0,0,.1);
	margin-top:4px;
}
.side-content{
	
	/*width: 300px;*/
    height: 200px;
	border: 1px solid rgba(0,0,0,.125);
	box-shadow: 0 0 30px 0 rgba(0,0,0,.1);
	margin-top:4px;
	   
}
.side-content-2{
	
	/*width: 300px;*/
    height: 265px;
	border: 1px solid rgba(0,0,0,.125);
	box-shadow: 0 0 30px 0 rgba(0,0,0,.1);
	margin-top:4px;
	
}
.side-content-1{
	
	/*width: 300px;*/
    height: 450px;
	border: 1px solid rgba(0,0,0,.125);
	box-shadow: 0 0 30px 0 rgba(0,0,0,.1);
	margin-top:41px;
	
}
.h4-1 {
    font-family: lato;
    font-size: 14px;
    font-weight: 600;
    position:absolute;
    top:140px;
    left:22px;
}
.ui.violet.label, .ui.violet.labels .label {
    background-color: #6435c9!important;
    border-color: #6435c9!important;
    color: #fff!important;
}
.h6-in {
    font-family: lato;
    font-size: 14px;
    font-weight: 600;
    left:22px;
    position:absolute;
    color: #1b1c1d;
    text-transform: none;
}
.h6-in-1 {
    font-family: lato;
    font-size: 14px;
    font-weight: 600;
    left:22px;
    top:307px;
    position:absolute;
    color: #1b1c1d;
    text-transform: none;
}
.h6-in-2 {
    font-family: lato;
    font-size: 14px;
    font-weight: 600;
    left:22px;
    top:356px;
    position:absolute;
    color: #1b1c1d;
    text-transform: none;
}
.h6-in-3 {
    font-family: lato;
    font-size: 14px;
    font-weight: 600;
    left:22px;
    top:411px;
    position:absolute;
    color: #1b1c1d;
    text-transform: none;
}
.h6-1 {
    font-family: lato;
    font-size: 14px;
    font-weight: 600;
    left:22px;
    top:411px;
    position:absolute;
    color: #1b1c1d;
    text-transform: none;
}
#inline{
	vertical-align: middle;
    display: inline-flex;
    padding-top: 42px;
    padding-left: 44px;
    font-size: 14px;
    font-family: roboto;
}
#inline-2{
	vertical-align: middle;
    display: inline-flex;
    padding-top: 42px;
    padding-left: 44px;
    font-size: 14px;
    font-family: roboto;
}
#Description {
    height: 88px;
    width: 268px;
    background: #f4f5f7;
    border: 0px solid rgba(34,36,38,.15);
    font-weight: 600;
    border-radius: 0px;
    margin-left: 18px;
}
#Address-1 {
    height: 49px;
    width: 131px;
    background: #f4f5f7;
    border: 0px solid rgba(34,36,38,.15);
    font-weight: 600;
    margin-left: 20px;
    margin-top: 14px;
    border-radius: 0px;
}
#Address-2 {
    height: 49px;
    width: 136px;
    background: #f4f5f7;
    border: 0px solid rgba(34,36,38,.15);
    font-weight: 600;
    margin-left: 6px;
    margin-top: 14px;
    border-radius: 0px;
}
#Address-3 {
    height: 49px;
    width: 145px;
    background: #f4f5f7;
    border: 0px solid rgba(34,36,38,.15);
    font-weight: 600;
     margin-left: 6px;
    margin-top: 14px;
    border-radius:0px;
}
#Name {
    height: 49px;
    width: 273px;
    background: #f4f5f7;
    border: 0px solid rgba(34,36,38,.15);
    font-weight: 600;
    margin-left: 15px;
    margin-top: 14px;
    border-radius: 0px;
}
#input1 {
       height: 23%;
    width: 38%;
    background: #f4f5f7;
    border: 0px solid rgba(34,36,38,.15);
    font-weight: 600;
    margin-left: 2px;
    margin-top: 14px;
    border-radius: 0px;
}
#input2 {
      height: 23%;
    width: 38%;
    background: #f4f5f7;
    border: 0px solid rgba(34,36,38,.15);
    font-weight: 600;
    margin-left: 12px;
    margin-top: 14px;
    border-radius: 0px;
}
#Name-2 {
    height: 49px;
    width: 273px;
    background: #f4f5f7;
    border: 0px solid rgba(34,36,38,.15);
    font-weight: 600;
    margin-left: 15px;
    margin-top: 14px;
    border-radius: 0px;
}
.h6-1-1{
	margin-top: 18px;
    margin-left: 6px;
}
.h6-1-2 {
    margin-left: 0px;
    font-family: lato;
    font-weight: 600;
    color: #222;
    top: 505px;
    position: absolute;
}
.h6-1-4 {
    margin-left: 27px;
    font-family: roboto;
    font-weight: 600;
    color: #222;
    top: 250px;
    position: absolute;
    font-size: 18px;
}
.h6-1-5 {
    margin-left: 393px;
    font-family: roboto;
    font-weight: 600;
    color: #222;
    top: 250px;
    position: absolute;
    font-size: 16px;
}
#plancalendar {
    border-radius: 1px;
    margin-top: 505px;
    margin-left: 557px;
    background-color: #f4f5f7;
    border: 5px #f4f5f7;
    color: #222;
    font-family: lato;
    font-weight: 600;
}
#addpackage {
    border-radius: 1px;
    margin-top: -26px;
    margin-left: 675px;
    background-color: red;
    border: 5px red;
    color: #fff;
    font-family: lato;
    font-weight: 600;
}
#banner3{

	height: 215px;
    width: 100%;
    position: absolute;
    left: 0px;
    top: 0px;
}
#profileimage{

    height: 195px;
    width: 100%;
   
}
#service{
	border-radius: 1px;
    width: 100%;
    color: #fff;
    background-color: red;
    font-size: 14px;
    font-family: roboto;
    font-weight: 600;
    border: 5px #f4f5f7;
    height:36px;
}
.policies {
   /* width: 300px;*/
    height: 251px;
    border: 1px solid rgba(0,0,0,.125);
    box-shadow: 0 0 30px 0 rgba(0,0,0,.1);
    
}
table, td, th {    
    border: 1px solid #ddd;
    text-align: left;
}

#table {
    border-collapse: collapse;
    width: auto;
    height: auto;
}
#overflow-scroll{
  overflow-y: scroll;
    min-height: 160px;
    height: 50%;
    overflow-x: hidden;
    padding-left: 22px;
}
th, td {
    padding: 7px;
}
#tablebutton {
      border-radius: 1px;
    
    margin-left: 247px;
    background-color: red;
    border: 5px red;
    color: #fff;
    font-family: lato;
    font-weight: 600;
    position: relative;
    top: -29px;
}
.table-inline{
	    
}
.main-tab {
    height: 220px;
    width: 100%;
    border: 1px solid rgba(0,0,0,.125);
    box-shadow: 0 0 30px 0 rgba(0,0,0,.1);
    /*position: absolute;*/
    left: 0px;
    top: 41px;
}
.upload-section {
    height: 145px;
    /*width: 100%;*/
    border: 1px solid rgba(0,0,0,.125);
    box-shadow: 0 0 30px 0 rgba(0,0,0,.1);
    /*position: absolute;
    top: 338px;*/
    left: 0px;
}
#image-section{
	padding-left:8px;
	padding-top: 25px;
	height: 113px;
	width: 104px;
}
#dashed-upload{
	border: dotted 3px grey;
	height: 90px;
	width:104px;
	margin-left: 30px;
	margin-top: 20px;
    padding-top: 26px;
    padding-left: 32px;
}
.package-box {
    height: 160px;
    width: 100%;
    border: 1px solid rgba(0,0,0,.125);
    box-shadow: 0 0 30px 0 rgba(0,0,0,.1);
    background-color: #543791;
    vertical-align: middle;
    margin-left: 0px;
   margin-top: 20px;
    
}

.package-list {
    height: 159px;
    width: 100%;
    border: 1px solid rgba(0,0,0,.125);
    
    box-shadow: 0 0 30px 0 rgba(0,0,0,.1);
    background-color: #f4f5f7;
   
    margin-left: 0px;
}
.py{
	padding-top: 0;
	padding-bottom: 0;
}
.package-box-1 {
    height: 159px;
    width: 688px;
    border: 1px solid rgba(0,0,0,.125);
    box-shadow: 0 0 30px 0 rgba(0,0,0,.1);
    background-color: #543791;
    position: absolute;
    left: -47px;
    top: 856px;
}
.package-list-1 {
    height: 159px;
    width: 100%;
    border: 1px solid rgba(0,0,0,.125);
    box-shadow: 0 0 30px 0 rgba(0,0,0,.1);
    background-color: #f4f5f7;
    position: absolute;
    top: 1015px;
    left: -47px;
}
.package-box-2 {
    height: 159px;
    width: 100%;
    border: 1px solid rgba(0,0,0,.125);
    box-shadow: 0 0 30px 0 rgba(0,0,0,.1);
    background-color: #543791;
    position: absolute;
    left: -47px;
    top: 1174px;
}
.package-list-2 {
    height: 159px;
    width: 688px;
    border: 1px solid rgba(0,0,0,.125);
    
    box-shadow: 0 0 30px 0 rgba(0,0,0,.1);
    background-color: #f4f5f7;
    position: absolute;
    top: 1333px;
    left: -47px;
}
#pillbutton {
    background-color: #fff;
    border: none;
    color: black;
    padding: 2px 3px 15px 2px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 8px 0px 3px 6px;
    cursor: pointer;
    border-radius: 16px;
    height: 27px;
    /*width: 106px;*/
    /*font-weight: 600;*/
    font-family: lato;
}
#a-text{
	padding-left: 493px;
	margin-top: 3px; 
	color:#dc3545;
	font-weight: 600;
}
#a-text-1{
	padding-left: 17px;
	margin-top: 3px; 
	color:#dc3545;
	font-weight: 600;
}
#days{
    font-family: lato;
    color: #fff;
    font-size: 15px;
    font-weight: 600;
    text-transform: middle;
    margin-left: 5%;
}