#error_page {
    width: 100%;
    height: 650px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #fff;
}
.ui-cards {
    width: 186px;
    height: 236px;
    margin-top: 103px;
}
.card-1 {
    width: 231px;
    padding-top: 0px;
    padding-bottom: 9px;
    border: 1px solid rgba(0,0,0,.125);
    background-color: #f8f8f8;
}
.col-md-12 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
    background-color: #fff;

}
.header {
    color: black;
    font-family: lato;
    font-size: 17px;
    font-weight: 900;
    margin-top: 0px;
}.header-1 {
    color: black;
    font-family: lato;
    font-size: 17px;
    font-weight: 900;
    margin-top: 0px;
}
.col-md-2-2{
	height:358px;
	width:231px;
	border: 1px solid rgba(0,0,0,.125);
	box-shadow: 0 0 30px 0 rgba(0,0,0,.1);
}
.col-md-2-3 {
    height: 298px;
    width: 648px;
    border: 1px solid rgba(0,0,0,.125);
    margin-left: 236px;
    margin-top: -502px;
    box-shadow: 0 0 30px 0 rgba(0,0,0,.1);
}
.col-md-2-4 {
    height: 314px;
    width: 420px;
    border: 1px solid rgba(0,0,0,.125);
    margin-left: 899px;
    margin-top: -923px;
    box-shadow: 0 0 30px 0 rgba(0,0,0,.1);
}
.col-md-2-5 {
    height: 261px;
    width: 419px;
    border: 1px solid rgba(0,0,0,.125);
    margin-left: 899px;
    margin-top: 13px;
    box-shadow: 0 0 30px 0 rgba(0,0,0,.1);
}
.col-md-2-6 {
    height: 314px;
    width: 319px;
    border: 1px solid rgba(0,0,0,.125);
    margin-left: 899px;
    margin-top: 14px;
    box-shadow: 0 0 30px 0 rgba(0,0,0,.1);
}
.col-md-2-8 {
    height: 145px;
    width: 648px;
    border: 1px solid rgba(0,0,0,.125);
    margin-left: 236px;
    margin-top: -1px;
    box-shadow: 0 0 30px 0 rgba(0,0,0,.1);
}
.col-md-2-9 {
    height: 159px;
    width: 648px;
    border: 1px solid rgba(0,0,0,.125);
    margin-left: 236px;
    margin-top: -10px;
    box-shadow: 0 0 30px 0 rgba(0,0,0,.1);
    background-color: #543791;
}
.col-md-2-10 {
    height: 159px;
    width: 648px;
    border: 1px solid rgba(0,0,0,.125);
    margin-left: 236px;
    margin-top: -1px;
    box-shadow: 0 0 30px 0 rgba(0,0,0,.1);
    background-color: #f4f5f7;
}
.col-md-2-11 {
    height: 529px;
    width: 419px;
    border: 1px solid rgba(0,0,0,.125);
    margin-left: 899px;
    margin-top: 9px;
    box-shadow: 0 0 30px 0 rgba(0,0,0,.1);
}
.col-md-6{
	-ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
    background-color: #fff;
	padding-left: 236px;
	padding-top: 28px;
	box-shadow: 0 0 30px 0 rgba(0,0,0,.1);
}
.content-image{
	padding-left: 8px;
	padding-top:8px
}
#details {
   
    font-size: 1.3125rem;
    color: #222;
}
.four-field {
    width: 283px;
    margin-left: 17px;
    margin-bottom: -28px;
    border: 1px solid #ffffff;
}
.field-1 {
    width: 132px;
    margin-top: 0px;
    margin-bottom: 13px;
    margin-left: 18px;
    border: 1px solid #ffffff;
}
.h6-1{
    margin: 30px 0 20px 20px;
    font-family: lato;
    font-size: 17px;
    color: #1b1c1d;
    text-transform: none;
}
.h4-1 {
    margin: -70px 3px 11px 21px;
    font-family: lato;
    font-size: 17px;
    color: #1b1c1d;
    text-transform: none;
}
.h5-1 {
    padding-top: 33px;
    padding-left: 17px;
    margin-bottom: -4px;
    font-family: lato;
    font-size: 14px;
    color: #1b1c1d;
    text-transform: none;
}
.h5-1-1 {
    padding-top: 33px;
    padding-left: 250px;
    margin-bottom: -4px;
    font-family: lato;
    font-size: 14px;
    color: #1b1c1d;
    text-transform: none;
}
.h6-in{
        margin: 0 0 20px 20px;
    font-family: lato;
    font-size: 14px;
    color: #1b1c1d;
    text-transform: none;

}
.h5-amenties {
    padding-top: 22px;
    font-size: 14px;
    color: #1b1c1d;
    text-transform: none;
    padding-left: 127px;
}
.ui.form {
    position: relative;
    max-width: 90%;
    margin-left: 14px;
    margin-bottom: -9px;
}
.image{
        background: #000;
        border: 1px solid #AAAAAA;
        padding: 10px;
        color: #fff;
        width: 100px;
        
    }
 .col-md-2-14 {
    height: 276px;
    width: 419px;
    border: 1px solid rgba(0,0,0,.125);
    margin-left: 889px;
    margin-top: -2869px;
    box-shadow: 0 0 30px 0 rgba(0,0,0,.1);
    overflow: scroll;
    overflow-x: visible;
}