
        .container {
            border: 1px solid #DDDDDD;
            /*width: 200px;*/
            height: 700px;
            padding: 30px;
            position: relative;
        }

        .taghead {
            float: right;
            position: absolute;
            left: 0px;
            top: 13px;
            padding: 15px 15px 15px 15px;
            font-size: 68px;
            margin-left: 465px;
            color: white;
            font-weight: 700;
        }

        .tagbody {
            float: right;
            position: absolute;
            left: 0px;
            top: 100px;
            padding: 15px 15px 15px 15px;
            font-size: 32px;
            margin-left: 154px;
            color: white;
        }

        .md-form input[type=text] {
            color: white;
        }

        .uk-section-primary {
            background: #F12250;
        }

        .main-text {
            margin: -34px 0px 0px 0px;
        }

        .desc {
            margin: 0;
            font-family: 'roboto';
        }

        .footerdiv {
            background-color: #ebebeb;
            color: black;
            font-family: roboto 24;
            padding: 20px;
        }

        .fdiv {
            padding-top: 20px;
            background-color: white;
        }

        .vendorimg {
            max-width: 100%;
            height: 700px;
            overflow: hidden;
            background-repeat: no-repeat !important;
            background-size: cover !important;
            background-position: center !important;
        }

        .msg1 {
            top: 567px;
            left: 382.5px;
            width: auto;
            height: auto;
            font-size: 35px;
            padding: 0px;
            border-width: 0px;
            visibility: visible;
            margin-top: 0px;
            opacity: 1;
            color: white;
            /*margin-top:610px;*/
        }

        .vdiv {
            margin-top: 500px;
        }

        .vendorimg1 {
            max-width: 50%;
            height: 750px;
            overflow: hidden;
            background-repeat: no-repeat !important;
            background-size: cover !important;
            background-position: center !important;
        }

        .msg1 {
            top: 567px;
            left: 382.5px;
            width: auto;
            height: auto;
            font-size: 60px;
            padding: 0px;
            border-width: 0px;
            visibility: visible;
            margin-top: 0px;
            opacity: 1;
            color: white;
            /*margin-top:610px;*/
        }

        .vdiv {
            margin-top: 450px;
        }

        .text-line {
            background-color: transparent;
            color: #eeeeee;
            outline: none;
            outline-style: none;
            outline-offset: 0;
            border-top: none;
            border-left: none;
            border-right: none;
            border-bottom: solid #eeeeee 1px;
            padding: 3px 10px;
            font-size: 16px;
        }

        ::placeholder {
            color: white;
            opacity: 1; /* Firefox */
        }

        :-ms-input-placeholder { /* Internet Explorer 10-11 */
            color: white;
        }

        ::-ms-input-placeholder { /* Microsoft Edge */
            color: white;
        }

        .column {
            float: left;
            width: 25%;
            padding: 10px;
            background-color: #f01e75;
        }

        /* Clear floats after the columns */
        .row:after {
            content: "";
            display: table;
            clear: both;
        }

        .row1 {
            display: grid;
            height: 461px;
            grid-template-columns: auto auto auto;
            background-color: #f01e75;
            /*padding: 5px;*/
        }

        .column1 {
            /*background-color: rgba(255, 255, 255, 0.8);*/
            /*border: 1px solid rgba(0, 0, 0, 0.8);*/
            padding: 5px;
            font-size: 30px;
            /*text-align: center;*/
        }

        .grid-container1 {
            display: grid;
            grid-gap: 10px;
            grid-template-columns: auto auto auto;
            background-color: #f01e75;
            /*padding: 5px;*/
        }

        .grid-item1 {
            /*background-color: rgba(255, 255, 255, 0.8);*/
            /*border: 1px solid rgba(0, 0, 0, 0.8);*/
            padding: 5px;
            font-size: 30px;
            text-align: center;
            width: 50%;
        }

        .col-md-6 {
            background-color: #f01e75;
        }

        .text-line {
            background-color: transparent;
            color: #eeeeee;
            outline: none;
            outline-style: none;
            outline-offset: 0;
            border-top: none;
            border-left: none;
            border-right: none;
            border-bottom: solid #eeeeee 1px;
            padding: 3px 10px;
            font-size: 16px;
        }

        ::placeholder {
            color: white;
            opacity: 1; /* Firefox */
        }

        :-ms-input-placeholder { /* Internet Explorer 10-11 */
            color: white;
        }

        ::-ms-input-placeholder { /* Microsoft Edge */
            color: white;
        }

        .column {
            float: left;
            width: 25%;
            padding: 10px;
            background-color: #f01e75;
        }

        /* Clear floats after the columns */
        .row:after {
            content: "";
            display: table;
            clear: both;
        }

        .row1 {
            display: grid;
            height: 461px;
            grid-template-columns: auto auto auto;
            background-color: #f01e75;
            /*padding: 5px;*/
        }

        .column1 {
            /*background-color: rgba(255, 255, 255, 0.8);*/
            /*border: 1px solid rgba(0, 0, 0, 0.8);*/
            padding: 5px;
            font-size: 30px;
            /*text-align: center;*/
        }

        .grid-container1 {
            display: grid;
            grid-gap: 10px;
            grid-template-columns: auto auto auto;
            background-color: #f01e75;
            /*padding: 5px;*/
        }

        .grid-item1 {
            /*background-color: rgba(255, 255, 255, 0.8);*/
            /*border: 1px solid rgba(0, 0, 0, 0.8);*/
            padding: 5px;
            font-size: 30px;
            text-align: center;
            width: 50%;
        }

        .col-md-6 {
            background-color: #f01e75;
        }

        .mandlaimg {
            margin-left: 33px;
            margin-top: 26px;
        }

        .serviceseperator {
            margin: 5px;
            border-color: black;
            width: 65%;
        }