<div class="profile">
@if (ViewBag.profilepic != "" && ViewBag.profilepic != null)
{
    <img src="/ProfilePictures/@ViewBag.profilepic" id="profilepic1"  style="height:126px;width:100%;">
}
else
{
    <img src="~/noimages.png" id="profilepic1"  style="height:126px;width:193px;">
}
</div>
<div style="background-color:yellow;padding: 0;border-radius: 0;height: 30px;width: 30px;">
    <img src="~/newdesignstyles/VenueIcons/camera.png" id="spc">
</div>
<input type="file" class="form-control" id="profileimage" name="file" style="display:none" /><br>

<div class="row">
    <h4 class="h4-1">
        @ViewBag.Vendor.BusinessName&nbsp;
        <a class="ui violet label">@ViewBag.Vendor.ServicType</a> <br /><br />
        <a href="#" style="color:#dc3545;">View Profile&nbsp;&nbsp;&nbsp;|&nbsp;</a><a href="/Home/SignOut" style="color:#dc3545;">Log Out</a>
    </h4>
</div>

@*<h4 class="h4-1">
    @ViewBag.Vendor.BusinessName&nbsp;
    <a class="ui violet label">@ViewBag.Vendor.ServicType</a>
    <a href="#" style="color:#dc3545;">View Profile&nbsp;&nbsp;&nbsp;|&nbsp;</a><a href="/Home/SignOut" style="color:#dc3545;">Log Out</a>
</h4>*@
