@{
    ViewBag.Title = "Orders";
    Layout = "~/Views/SharedWeb/DashBoardMaster.cshtml";
}

@section Navigation
{
    <div class="breads">
        <div class="breads_inner">
            <div class="pageWidth">
                <div class="title">
                    <h3>Orders</h3>
                </div>
                <div class="breadcrumbs">
                    <ul>
                        @if (ViewBag.Type == "User")
                        {
                            <li><a href="~/index/Index">Home</a></li>
                        }
                        <li><i class="breads_arrow"></i></li>
                        <li><a href="../Dashboard">Dashboard</a></li>
                        <li><i class="breads_arrow"></i></li>
                        <li>Orders</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
}
<div class="dashInner">
    <div class="order-details">
        <div class="clear"></div>
    </div>
    <!-- /order-details -->
    <div class="dashboardList dashboardList-whitebg dashboardList-nospace">
        <table class="responsive">
            <thead>
                <tr>
                    <th style="width:20%">Order ID</th>
                    <th style="width:32%">Event Details</th>
                    <th style="width:26%">Event Date/Time</th>
                    <th style="width:30%">Event Contact Details</th>
                    <th style="width:18%">Price</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><h4>WEQ89564</h4></td>
                    <td>
                        <h4>Photographer</h4>
                        <p>
                            #311/A, Road No.12,<br>
                            MLA Colony, Banjara Hills,<br>
                            (+91) 40 64640441
                        </p>
                    </td>
                    <td>
                        <div class="event-date-time">
                            <div class="event-dates">
                                <p>11/12/2015  9:30 AM</p>
                            </div>
                            <div class="clear"></div>
                        </div>
                    </td>
                    <td>
                        <div class="event-date-time">
                            <div class="event-dates">
                                <p>mobile : 9898989898</p>
                            </div>
                            <div class="clear"></div>
                        </div>
                    </td>
                    <td>
                        <div class="item-price">
                            <p>Rs. 1200.00</p>
                        </div>
                    </td>
                </tr>
            </tbody>
            <tbody>
                <tr>
                    <td><h4>WEQ89564</h4></td>
                    <td>
                        <h4>Photographer</h4>
                        <p>
                            #311/A, Road No.12,<br>
                            MLA Colony, Banjara Hills,<br>
                            (+91) 40 64640441
                        </p>
                    </td>
                    <td>
                        <div class="event-date-time">
                            <div class="event-dates">
                                <p>11/12/2015  9:30 AM</p>
                            </div>
                            <div class="clear"></div>
                        </div>
                    </td>
                    <td>
                        <div class="event-date-time">
                            <div class="event-dates">
                                <p>mobile : 9898989898</p>
                            </div>
                            <div class="clear"></div>
                        </div>
                    </td>
                    <td>
                        <div class="item-price">
                            <p>Rs. 1200.00</p>
                        </div>
                    </td>
                </tr>
            </tbody>
            <tbody>
                <tr>
                    <td><h4>WEQ89564</h4></td>
                    <td>
                        <h4>Photographer</h4>
                        <p>
                            #311/A, Road No.12,<br>
                            MLA Colony, Banjara Hills,<br>
                            (+91) 40 64640441
                        </p>
                    </td>
                    <td>
                        <div class="event-date-time">
                            <div class="event-dates">
                                <p>11/12/2015  9:30 AM</p>
                            </div>
                            <div class="clear"></div>
                        </div>
                    </td>
                    <td>
                        <div class="event-date-time">
                            <div class="event-dates">
                                <p>mobile : 9898989898</p>
                            </div>
                            <div class="clear"></div>
                        </div>
                    </td>
                    <td>
                        <div class="item-price">
                            <p>Rs. 1200.00</p>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="clear"></div>
    </div>
</div>