
<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name='viewport' content='width=1190'>
    <title>Home | Explore My Trip</title>

    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" rel="stylesheet">

    <link href="http://exploremytrip.com/assets/css/styles.css" rel="stylesheet">

    <link rel="stylesheet" href="http://exploremytrip.com/assets/css/owl.carousel.css">

    <link rel="stylesheet" href="http://exploremytrip.com/assets/css/owl.theme.css">

</head>

<body>

    <div class="">
        <div class="mainServiceSlider">

            <div id="homeCategorySlider1">

                <div class="item">

                    <a href="http://exploremytrip.com/listings-info/lis/Yy0x/Scenic-Spots">

                        <img src="http://exploremytrip.com/exploreuser/public/categories/5a19a5eb27313d76b107136f4e43cb36.jpg" style="height: 180px;width: 246px" alt="Scenic Spots">

                        <span>Scenic Spots</span>

                    </a>

                </div>


                <div class="item">

                    <a href="http://exploremytrip.com/listings-info/lis/Yy0xMA/Heritage-Spots">

                        <img src="http://exploremytrip.com/exploreuser/public/categories/28452439bb47898b4b738abc801515e6.jpg" style="height: 180px;width: 246px" alt="Heritage Spots">

                        <span>Heritage Spots</span>

                    </a>

                </div>


                <div class="item">

                    <a href="http://exploremytrip.com/listings-info/lis/Yy0xNg/Religious-Places">

                        <img src="http://exploremytrip.com/exploreuser/public/categories/3aa10c69078dc46ba3e7414db40373e3.jpg" style="height: 180px;width: 246px" alt="Religious Places">

                        <span>Religious Places</span>

                    </a>

                </div>


                <div class="item">

                    <a href="http://exploremytrip.com/listings-info/lis/Yy0yMg/Arts--Crafts">

                        <img src="http://exploremytrip.com/exploreuser/public/categories/244682682a69eb370a9f9654c132719f.jpg" style="height: 180px;width: 246px" alt="Arts & Crafts">

                        <span>Arts & Crafts</span>

                    </a>

                </div>


                <div class="item">

                    <a href="http://exploremytrip.com/listings-info/lis/Yy0yNw/Wild-Life">

                        <img src="http://exploremytrip.com/exploreuser/public/categories/462f8b32fe530f8c932375680141eff9.jpg" style="height: 180px;width: 246px" alt="Wild Life">

                        <span>Wild Life</span>

                    </a>

                </div>


                <div class="item">

                    <a href="http://exploremytrip.com/listings-info/lis/Yy0zMQ/Adventures">

                        <img src="http://exploremytrip.com/exploreuser/public/categories/e07cd4753490f10fdd7edb075ef1c2ca.jpg" style="height: 180px;width: 246px" alt="Adventures">

                        <span>Adventures</span>

                    </a>

                </div>


                <div class="item">

                    <a href="http://exploremytrip.com/listings-info/lis/Yy00MQ/Entertainment">

                        <img src="http://exploremytrip.com/exploreuser/public/categories/451b4380adb046f884289019ad125fa8.jpg" style="height: 180px;width: 246px" alt="Entertainment ">

                        <span>Entertainment </span>

                    </a>

                </div>


                <div class="item">

                    <a href="http://exploremytrip.com/listings-info/lis/Yy00OA/Others">

                        <img src="http://exploremytrip.com/exploreuser/public/categories/c3d2f00246232b5b0107522c4140390c.jpg" style="height: 180px;width: 246px" alt="Others">

                        <span>Others</span>

                    </a>

                </div>


            </div>

        </div>
    </div>
    <div class="clearfix"></div>
    <script src="http://exploremytrip.com/assets/js/jquery.min.js"></script>
    <!-- All Sliders Js -->
    <script src="http://exploremytrip.com/assets/js/owl.carousel.js"></script>
    <script src="http://exploremytrip.com/assets/js/script.js"></script>
</body>
</html>