@model MaaAahwanam.Web.Areas.Admin.Models.UserLoginDetailsModel

@{
    ViewBag.Title = "ChangePassword";
    Layout = "~/Areas/Admin/Views/Shared/Master.cshtml";
}

@*<h2 style="margin-left:20%;color:tomato;font-family:'Book Antiqua';text-decoration:dotted">ChangePassword </h2>*@


<!DOCTYPE html>

<html>
<head>
    <script type="text/javascript">
        alert(TempData["AlertMessage"]);
    </script>
    <meta charset="UTF-8" />
    <title>MaAdmin Change Password</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <meta content="" name="description" />
    <meta content="" name="author" />
    <!--[if IE]>
       <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
       <![endif]-->
    <!-- GLOBAL STYLES -->
    <!-- PAGE LEVEL STYLES -->
    <link rel="stylesheet" href="~/Assets/plugins/bootstrap/css/bootstrap.css" />
    <link rel="stylesheet" href="~/Assets/css/login.css" />
    <link rel="stylesheet" href="~/Assets/plugins/magic/magic.css" />
    <!-- END PAGE LEVEL STYLES -->
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
</head>
<!-- END HEAD -->
<!-- BEGIN BODY -->
<body>

    <!-- PAGE CONTENT -->
    <div class="container">
        <div class="text-center">
            @*<img src="~/Assets/img/logo.png" id="logoimg" alt=" Logo" />*@
            <br/><br /><br />
        </div>
        <div id="ResetPassworddiv" class="tab-pane active">
            @using (Html.BeginForm("ChangePassword", "Dashboard", FormMethod.Post, new { @class = "form-signin", @id = "ResetPasswordForm" }))
            {
                <p class="text-muted text-center btn-block btn btn-primary btn-rect">Change Password</p>
                @Html.TextBoxFor(Model => Model.Password, new { @class = "form-control", placeholder = "Old Password",type="password", required = "required", @id = "PasswordValue_Login" })

                @Html.TextBoxFor(Model => Model.NewPassword, new { @class = "form-control", placeholder = "New Password", type = "password", required = "required", @id = "PasswordValue_Login1" })
                <button class="btn text-muted text-center btn-success" name="Command" value="Register" type="submit">Reset Password</button>

            }
        </div>
    </div>

    <!--END PAGE CONTENT -->
    <!-- PAGE LEVEL SCRIPTS -->
    <script src="~/Assets/plugins/jquery-2.0.3.min.js"></script>
    <script src="~/Assets/plugins/bootstrap/js/bootstrap.js"></script>
    <script src="~/Assets/js/login.js"></script>
    <!--END PAGE LEVEL SCRIPTS -->
    <script>
        $(document).ready(function () {
            $.ajax({
                type: "POST",
                url: window.location.href.split("/")[0] + '//' + window.location.href.split("/")[2] + '/Login/RegularExpressionPattern_Password',
                data: {},
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                success: function (result) {
                    document.getElementById("PasswordValue_Login").pattern = result;
                    document.getElementById("PasswordValue_Login1").pattern = result;
                    //document.getElementById("PasswordValue_Reg").pattern = result;
                },
                error: function (data) {
                },
            });
        });
        function check() {
            if (document.getElementById("PasswordValue_Reg").value == document.getElementById("ConfirmPassword").value) {
                ConfirmPassword.setCustomValidity("");
            }
            else {
                ConfirmPassword.setCustomValidity("Passwords Don't Match");
            }
        }
        function Clear() {
            document.getElementById("ResetPasswordForm").reset();
        }
    </script>
    <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date(); a = s.createElement(o),
            m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
        })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-66938345-1', 'auto');
        ga('send', 'pageview');

    </script>
</body>
<!-- END BODY -->
</html>