@model MaaAahwanam.Web.Areas.Admin.Models.UserLoginDetailsModel
<div class="media user-media well-small"> 
    <div class="col-lg-12">
        <a class="user-link" href="#"><img class="media-object img-thumbnail user-img" alt="User Picture" src="/Content/AdminUserfiles/@this.Model.UserImgId" style="width:74px; height:74px" /></a>
        </div>
    <div class="col-lg-12">
        <div class="media-body">
            <h5 class="media-heading"> @this.Model.FirstName @this.Model.LastName</h5>
        </div>
    </div>
        <br />
    </div>


