@model MaaAahwanam.Web.Areas.Admin.Models.UserLoginDetailsModel
<div class="media user-media well-small"> 
      
        <a class="user-link" href="#"><img class="media-object img-thumbnail user-img" alt="User Picture" src="/Content/AdminUserfiles/@this.Model.UserImgId" style="width:74px; height:74px" /></a> <br />
        <div class="media-body">
            @*<h5 class="media-heading"> Joe Romlin</h5>
            @*<h5 class="media-heading"> @Html.Label(Model.FirstName)  @Html.Label(Model.LastName)</h5>*@
            <h5 class="media-heading"> @this.Model.FirstName @this.Model.LastName</h5>
            @*<ul class="list-unstyled user-info">
                <li> <a class="btn btn-success btn-xs btn-circle" style="width: 10px;height: 12px;"></a> Online </li>
            </ul>*@
        </div>
        <br />
</div>


