
@{
    Layout = null;
}

<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
 <!--<![endif]-->
<!-- BEGIN HEAD -->

<head>
    <meta charset="UTF-8" />
    <title>MaAdmin </title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <meta content="" name="description" />
    <meta content="" name="author" />
   
    <!-- GLOBAL STYLES -->
    <link rel="stylesheet" href="../Assets/plugins/bootstrap/css/bootstrap.css" />
    <link rel="stylesheet" href="../Assets/css/main.css" />
    <link rel="stylesheet" href="../Assets/css/theme.css" />
    <link rel="stylesheet" href="../Assets/css/MoneAdmin.css" />
    <link rel="stylesheet" href="../Assets/plugins/Font-Awesome/css/font-awesome.css" />
    <!-- END GLOBAL STYLES -->
        
</head>
<!-- END HEAD -->
<!-- BEGIN BODY -->
<body class="padTop53 ">
    @RenderSection("header", false)
    <!-- MAIN WRAPPER -->
    <div id="wrap">
    <!-- HEADER SECTION -->
    <div id="top">
        <nav class="navbar navbar-inverse navbar-fixed-top " style="padding-top: 10px;">
            <a data-original-title="Show/Hide Menu" data-placement="bottom" data-tooltip="tooltip" class="accordion-toggle btn btn-primary btn-sm visible-xs" data-toggle="collapse" href="#menu" id="menu-toggle"> <i class="icon-align-justify"></i> </a>
            <!-- LOGO SECTION -->
            <header class="navbar-header"> <a href="index.html" class="navbar-brand"> <img src="~/Assets/img/logo.png" alt="" /> </a> </header>
            <!-- END LOGO SECTION -->
            <ul class="nav navbar-top-links navbar-right">

                <!--ADMIN SETTINGS SECTIONS -->

                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#"> <i class="icon-user "></i>&nbsp; <i class="icon-chevron-down "></i> </a>
                    <ul class="dropdown-menu dropdown-user">
                        <li><a href="../Admin/DashBoard/UserProfile"><i class="icon-user"></i> User Profile </a> </li> 
                        <li><a href="../Admin/DashBoard/ChangePassword"><i class="icon-bell-alt"></i> Change Password </a> </li>
                        <li><a href="../Admin/DashBoard/Lock"><i class="icon-gear"></i> Lock </a> </li>
                        <li class="divider"></li>
                        <li>@Html.ActionLink("Logout", "SignOut", "Login")</li>
                    </ul>
                </li>
                <!--END ADMIN SETTINGS -->
            </ul>
        </nav>
    </div>
    <!-- END HEADER SECTION -->
       
        <!-- MENU SECTION -->
        <div id="left">
         @{Html.RenderAction("Masterdata", "DashBoard");}
            <ul id="menu" class="collapse">
                <li class="panel"> <a href="../Admin/DashBoard/dashboard"> <i class="icon-table"></i> Dashboard </a> </li>
                <li class="panel ">
                    <a href="#" data-parent="#menu" data-toggle="collapse" class="accordion-toggle" data-target="#component-nav"> <i class="icon-tasks"> </i>Service Requests <span class="pull-right"> <i class="icon-angle-left"></i> </span> </a>
                    <ul class="collapse" id="component-nav">
                        <li class=""><a href="../Admin/ServiceRequest/requests?page=Invitation"><i class="icon-angle-right"></i> Invitation request </a></li>
                        <li class=""><a href="../Admin/ServiceRequest/requests?page=Quotation"><i class="icon-angle-right"></i> Quotation request</a></li>
                        <li class=""><a href="../Admin/Other/Index"><i class="icon-angle-right"></i> Advertiser’s requests</a></li>
                        <li class=""><a href="../Admin/Other/Index"><i class="icon-angle-right"></i> Registration requests</a></li>
                        <!-- Sai code start -->
                        <li class=""><a href="../Admin/ServiceRequest/requests?page=Bidding"><i class="icon-angle-right"></i> Bidding Requests </a></li>
                        <li class=""><a href="../Admin/ServiceRequest/requests?page=ReturnGifts"><i class="icon-angle-right"></i> ReturnGifts Requests </a></li>


                        <li class=""><a href="../Admin/ServiceRequest/requests?page=BookNow"><i class="icon-angle-right"></i> BookNow Request  </a></li>
                        <li class=""><a href="../Admin/ServiceRequest/requests?page=Registration"><i class="icon-angle-right"></i> Registration Request  </a></li>
                        <li class=""><a href="../Admin/ServiceRequest/requests?page=Pending"><i class="icon-angle-right"></i> Pending Cart  </a></li>
                        <!-- Sai code end -->
                   </ul>
                </li>
                <!--<li class="panel ">
                        <a href="#" data-parent="#menu" data-toggle="collapse" class="accordion-toggle collapsed" data-target="#newform-nav">
                            <i class="icon-pencil"></i> New registrations
                        </a>
                    </li>-->
                <li class="panel ">
                    <a href="#" data-parent="#menu" data-toggle="collapse" class="accordion-toggle collapsed" data-target="#ordform-nav"> <i class="icon-pencil"></i> Order requests <span class="pull-right"> <i class="icon-angle-left"></i> </span> </a>
                    <ul class="collapse" id="ordform-nav">
                        @*<li class=""><a href="../Other/Index"><i class="icon-angle-right"></i> All services </a></li>
                        <li class=""><a href="../Admin/BuyNowAdmin/Index"><i class="icon-angle-right"></i> Buying service </a></li>
                        <li class=""><a href="../Other/Index"><i class="icon-angle-right"></i> Event management </a></li>
                        <li class=""><a href="../Other/Index"><i class="icon-angle-right"></i> Quotation Service</a></li>
                        <li class=""><a href="../Other/Index"><i class="icon-angle-right"></i> Invitation Service </a></li>
                        <li class=""><a href="../Other/Index"><i class="icon-angle-right"></i> Premium invitation </a></li>
                        <li class=""><a href="../Other/Index"><i class="icon-angle-right"></i> Pending Carts </a></li>*@


                        <li class=""><a href="../Admin/OrderRequests/Allorders"><i class="icon-angle-right"></i> AllOrders </a></li>
                        <li class=""><a href="../Admin/OrderRequests/Invitationorders"><i class="icon-angle-right"></i> Invitation Orders </a></li>
                        <li class=""><a href="../Admin/OrderRequests/Quotationorders"><i class="icon-angle-right"></i> Quotation Orders </a></li>
                        <li class=""><a href="../Admin/OrderRequests/Biddingorders"><i class="icon-angle-right"></i> Bidding Orders </a></li>
                        <li class=""><a href="../Admin/OrderRequests/Returngiftorders"><i class="icon-angle-right"></i> ReturnGift Orders </a></li>
                        <li class=""><a href="../Admin/OrderRequests/Booknoworders"><i class="icon-angle-right"></i> BookNow Orders </a></li>
                    </ul>
                </li>
                <li class="panel">
                    <a href="#" data-parent="#menu" data-toggle="collapse" class="accordion-toggle" data-target="#error-nav"> <i class="icon-warning-sign"></i> Vendors Setup <span class="pull-right"> <i class="icon-angle-left"></i> </span> </a>
                    <ul class="collapse" id="error-nav">
                        <li><a href="../Admin/Vendor/Index"><i class="icon-angle-right"></i> All vendors</a></li>
                        <li><a href="../Admin/Vendor/Activevendors"><i class="icon-angle-right"></i> Active vendors</a></li>
                        <li><a href="../Admin/Vendor/Pendingvendors"><i class="icon-angle-right"></i> Pending vendors</a></li>
                        <li><a href="../Admin/Vendor/Suspenvendors"><i class="icon-angle-right"></i> Suspended vendors</a></li>
                    </ul>
                </li>

                <li class="panel"> <a href="../Admin/InviDesigns/InvitationDesigns" data-parent="#menu" data-toggle="collapse" class="accordion-toggle" data-target="#uerror-nav"> <i class="icon-warning-sign"></i> Invitation Designs </a> </li>
                <!-- Sai code start -->
                <li class="panel"> <a href="../Admin/giftdesigns/Index"> <i class="icon-gift"></i> Gift Designs </a> </li>
                @*<li class="panel"> <a href="../Admin/Other/Index"> <i class="icon-money"></i> Payments </a> </li>*@

                <li class="panel">
                    <a href="#" data-parent="#menu" data-toggle="collapse" class="accordion-toggle" data-target="#error-nav2"> <i class="icon-warning-sign"></i> Payments <span class="pull-right"> <i class="icon-angle-left"></i> </span> </a>
                    <ul class="collapse" id="error-nav2">
                        <li><a href="../Other/Index"><i class="icon-angle-right"></i> User Payments </a></li>
                        <li><a href="../Other/Index"><i class="icon-angle-right"></i> Vendor Payments</a></li>
                    </ul>
                </li>


                <!-- Sai code end -->
                 @*<li class="panel ">
                    <a href="#" data-parent="#menu" data-toggle="collapse" class="accordion-toggle collapsed" data-target="#Rcommform-nav"> <i class="icon-pencil"></i> Rate Engine <span class="pull-right"> <i class="icon-angle-left"></i> </span> </a>
                    <ul class="collapse" id="Rcommform-nav">
                        <li class=""><a href="/Other/Index"><i class="icon-angle-right"></i> Vendor Discounts </a></li>
                        <li class=""><a href="/Other/Index"><i class="icon-angle-right"></i> Order Discounts </a></li>
                        <li class=""><a href="/Other/Index"><i class="icon-angle-right"></i> Seasonal Discounts </a></li>
                    </ul>
                </li>*@
                @*<li class="panel ">
                    <a href="#" data-parent="#menu" data-toggle="collapse" class="accordion-toggle collapsed" data-target="#commform-nav"> <i class="icon-pencil"></i> Comments <span class="pull-right"> <i class="icon-angle-left"></i> </span> </a>
                    <ul class="collapse" id="commform-nav">
                        <li class=""><a href="/Other/Index"><i class="icon-angle-right"></i> Quotation </a></li>
                        <li class=""><a href="/Other/Index"><i class="icon-angle-right"></i> Invitation </a></li>
                        <li class=""><a href="/Other/Index"><i class="icon-angle-right"></i> Premium </a></li>
                        <li class=""><a href="/Other/Index"><i class="icon-angle-right"></i> Buying Service </a></li>
                    </ul>
                </li>*@
                @*<li class="panel">
                    <a href="#" data-parent="#menu" data-toggle="collapse" class="accordion-toggle" data-target="#chart-nav"> <i class="icon-bar-chart"></i> Manage users <span class="pull-right"> <i class="icon-angle-left"></i> </span> </a>
                    <ul class="collapse" id="chart-nav">
                        <li><a href="#"><i class="icon-angle-right"></i> Customers</a></li>
                        <li><a href="#"><i class="icon-angle-right"></i> Vendors</a></li>
                        <li><a href="#"><i class="icon-angle-right"></i> Admin users</a></li>
                        <li><a href="#"><i class="icon-angle-right"></i> Advertisers</a></li>
                    </ul>
                </li>*@
                @*<li class="panel">
                    <a href="#" data-parent="#menu" data-toggle="collapse" class="accordion-toggle" data-target="#paychart-nav"> <i class="icon-bar-chart"></i> Customer Payments <span class="pull-right"> <i class="icon-angle-left"></i> </span> </a>
                    <ul class="collapse" id="paychart-nav">
                        <li><a href="/Other/Index"><i class="icon-angle-right"></i> Received </a></li>
                        <li><a href="/Other/Index"><i class="icon-angle-right"></i> Refunded </a></li>
                        <li><a href="/Other/Index"><i class="icon-angle-right"></i> Rejected </a></li>
                    </ul>
                </li>*@
                @*<li class="panel">
                    <a href="#" data-parent="#menu" data-toggle="collapse" class="accordion-toggle" data-target="#ipaychart-nav"> <i class="icon-bar-chart"></i> Vendor Payments <span class="pull-right"> <i class="icon-angle-left"></i> </span> </a>
                    <ul class="collapse" id="ipaychart-nav">
                        <li><a href="/Other/Index"><i class="icon-angle-right"></i> Received </a></li>
                        <li><a href="/Other/Index"><i class="icon-angle-right"></i> Refunded </a></li>
                        <li><a href="/Other/Index"><i class="icon-angle-right"></i> Rejected </a></li>
                    </ul>
                </li>*@
                <li class="panel">
                    <a href="#" data-parent="#menu" data-toggle="collapse" class="accordion-toggle" data-target="#settings-nav"> <i class="icon-bar-chart"></i> Settings <span class="pull-right"> <i class="icon-angle-left"></i> </span> </a>
                    <ul class="collapse" id="settings-nav">
                        @*<li><a href="/SiteFaq/Index"><i class="icon-angle-right"></i> Site FAQ</a></li>*@
                        <li><a href="../Admin/Settings/SiteFaq"><i class="icon-angle-right"></i> Site FAQ</a></li>
                        <li><a href="../Other/Index"><i class="icon-angle-right"></i> Payment Methods</a></li>
                    </ul>
                </li>
                @*<li class="panel">
                    <a href="#" data-parent="#menu" data-toggle="collapse" class="accordion-toggle" data-target="#pagesr-nav"> <i class="icon-table"></i> Bulk campaign <span class="pull-right"> <i class="icon-angle-left"></i> </span> </a>
                    <ul class="collapse" id="pagesr-nav">
                        <li><a href="/Other/Index"><i class="icon-angle-right"></i> Customers </a></li>
                        <li><a href="/Other/Index"><i class="icon-angle-right"></i> Vendor </a></li>
                        <li><a href="/Other/Index"><i class="icon-angle-right"></i> Subscribers </a></li>
                    </ul>
                </li>*@
                <li class="panel"> <a href="../Admin/IssueTicketsAdmin/AdminTicketIndex" data-parent="#menu" data-toggle="collapse" class="accordion-toggle" data-target="#uerror-nav"> <i class="icon-warning-sign"></i> Issue Tickets </a> </li>
                @*<li class="panel"> <a href="/Other/Index" data-parent="#menu" data-toggle="collapse" class="accordion-toggle" data-target="#coerror-nav"> <i class="icon-warning-sign"></i> Analytics </a> </li>
                <li class="panel">
                    <a href="#" data-parent="#menu" data-toggle="collapse" class="accordion-toggle" data-target="#sitedata-nav"> <i class="icon-bar-chart"></i> Site Data <span class="pull-right"> <i class="icon-angle-left"></i> </span> </a>
                    <ul class="collapse" id="sitedata-nav">
                        <li><a href="/Other/Index"><i class="icon-angle-right"></i> Home Page</a></li>
                        <li><a href="/Other/Index"><i class="icon-angle-right"></i> Search Page</a></li>
                        <li><a href="/Other/Index"><i class="icon-angle-right"></i> Invitation Page</a></li>
                    </ul>
                </li>*@

                <li class="panel"> <a href="../Admin/Comments"> <i class="icon-comment"></i> Comments </a> </li>
                <li class="panel"> <a href="../Admin/Logs"> <i class="icon-dashboard"></i> Logs </a> </li>
                <li class="panel"> <a href="../Admin/Other/Index"> <i class="icon-user"></i> ManageUsers </a> </li>
                <li class="panel"> <a href="../Admin/Other/Index"> <i class="icon-bullseye"></i> Reviews </a> </li>
                <li class="panel"> <a href="../Admin/Reports/Index"> <i class="icon-bar-chart"></i> Reports </a> </li>
                <li class="panel"> <a href="../Admin/Usermodule"> <i class="icon-bar-chart"></i> Usermodules </a> </li>
                <li class="panel">
                    <a href="#" data-parent="#menu" data-toggle="collapse" class="accordion-toggle" data-target="#Others-nav"> <i class="icon-bar-chart"></i> Others <span class="pull-right"> <i class="icon-angle-left"></i> </span> </a>
                    <ul class="collapse" id="Others-nav">
                        @*<li><a href="/SiteFaq/Index"><i class="icon-angle-right"></i> Site FAQ</a></li>*@
                        <li><a href="../Admin/Eventsandtips?page=events"><i class="icon-angle-right"></i> Upcoming Events</a></li>
                        <li><a href="../Admin/Eventsandtips?page=Beauty"><i class="icon-angle-right"></i> Beauty Tips</a></li>
                        <li><a href="../Admin/Eventsandtips?page=Health"><i class="icon-angle-right"></i> Health Tips</a></li>
                        <li><a href="../Admin/testimonials"><i class="icon-angle-right"></i> Testimonials</a></li>
                    </ul>
                </li>
            </ul>
        </div>
        <!--END MENU SECTION -->
        @RenderBody()

    </div>

    <!--END MAIN WRAPPER -->
    <!-- FOOTER -->
    <div id="footer">
        <p>&copy;  Maa-Aahwanam &nbsp;2015 &nbsp;</p>
    </div>
    @RenderSection("Bottom", false)
  
    <!-- END PAGE LEVEL SCRIPTS -->
</body>
<!-- END BODY -->
</html>

