@{
    Layout = "~/Views/SharedWeb/VendorMaster.cshtml";
}

@section Navigation
{
<script type="text/javascript" src="~/CSSWeb/js/jquery-1.9.1.js"></script>
    <div class="breads">
        <div class="breads_inner">
            <div class="pageWidth">
                <div class="title">

                    <h3>Vendor's Dashboard</h3>
                </div>
                <div class="breadcrumbs">
                    <ul>
                        <li><a href="~/VendorDashboard/index">Home</a></li>
                        <li><i class="breads_arrow"></i></li>
                        <li>Dashboard</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
}
<div>
   <div class="dashDetails">
        <ul class="info-box">
            <li>
                <div class="bg-info bg-info-orange">
                    <div class="info-icon info-icon-orange"> <i class="ti-bell"></i> </div>
                    <div class="info-details">
                        <h4>Biddings</h4>
                        <p>@ViewBag.biddingcount</p>
                     @*   <p>@this.Model.Item3[0].UPCOMINGEVENTS10</p>*@
                    </div>
                </div>
            </li>
            <li>
                <div class="bg-info bg-info-blue">
                    <div class="info-icon info-icon-blue"> <i class="ti-email"></i> </div>
                    <div class="info-details">
                        <h4>Reverse Biddings</h4>
                        <p>@ViewBag.reversecount</p>
                    </div>
                </div>
            </li>
            <li>
                <div class="bg-info bg-info-red">
                    <div class="info-icon info-icon-red"> <i class="ti-ticket"></i> </div>
                    <div class="info-details">
                        <h4>Dates Booked</h4>
                        <p>0</p>
                      @*  <p>@this.Model.Item3[0].TICKETSCOUNT 5</p>*@
                    </div>
                </div>
            </li>
        </ul>
    </div>
    <div class="dashboardList dashboardList-nospace">
        @*<table class=" responsive">
            <thead>
                <tr>
                    <th style="width:10%">S.No</th>
                    <th style="width:15%">Bill No</th>
                    <th style="width:25%">Service Type</th>
                    <th style="width:18%">Requested Date</th>
                    <th style="width:15%">Advanced Amount</th>
                    <th style="width:15%">Status</th>
                </tr>
            </thead>

            <tbody>
                <tr>
                    <td>1</td>
                    <td><a href="#quatation" class="green-link ml-center popup-with-move-anim">SDA15678</a></td>
                    <td>17-12-2015</td>
                    <td>Rs. 6003</td>
                    <td>Birthday function</td>
                    <td>02-12-2015</td>
                </tr>
                <tr>
                    <td>1</td>
                    <td><a href="#" class="green-link">SDA15678</a></td>
                    <td>17-12-2015</td>
                    <td>Rs. 600</td>
                    <td>Birthday function</td>
                    <td>02-12-2015</td>
                </tr>
                <tr>
                    <td>3</td>
                    <td><a href="#" class="green-link">SDA15678</a></td>
                    <td>17-12-2015</td>
                    <td>Rs. 600</td>
                    <td>Birthday function</td>
                    <td>02-12-2015</td>
                </tr>
                <tr>
                    <td>4</td>
                    <td><a href="#" class="green-link">SDA15678</a></td>
                    <td>17-12-2015</td>
                    <td>Rs. 600</td>
                    <td>Birthday function</td>
                    <td>02-12-2015</td>
                </tr>
                <tr>
                    <td>5</td>
                    <td><a href="#" class="green-link">SDA15678</a></td>
                    <td>17-12-2015</td>
                    <td>Rs. 600</td>
                    <td>Birthday function</td>
                    <td>02-12-2015</td>
                </tr>
                <tr>
                    <td>6</td>
                    <td><a href="#" class="green-link">SDA15678</a></td>
                    <td>17-12-2015</td>
                    <td>Rs. 600</td>
                    <td>Birthday function</td>
                    <td>02-12-2015</td>
                </tr>
                <tr>
                    <td>7</td>
                    <td><a href="#" class="green-link">SDA15678</a></td>
                    <td>17-12-2015</td>
                    <td>Rs. 600</td>
                    <td>Birthday function</td>
                    <td>02-12-2015</td>
                </tr>
                <tr>
                    <td>8</td>
                    <td><a href="#" class="green-link">SDA15678</a></td>
                    <td>17-12-2015</td>
                    <td>Rs. 600</td>
                    <td>Birthday function</td>
                    <td>02-12-2015</td>
                </tr>
            </tbody>


            <tbody>
                <tr>
                    <td colspan="6">No Records Found</td>
                </tr>
            </tbody>

        </table>

        <div class="pagination">
            <ul>
                <li><a href="javascript:void(0)">Prev</a></li>
                <li><a href="javascript:void(0)" class="active">1</a></li>
                <li><a href="javascript:void(0)">2</a></li>
                <li><a class="pagination-gap">...</a></li>
                <li><a href="javascript:void(0)">24</a></li>
                <li><a href="javascript:void(0)">25</a></li>
                <li><a href="javascript:void(0)">Next</a></li>
            </ul>
        </div>*@

        <div class="clear"></div>
    </div>
</div>
