
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/SharedWeb/ServicesMaster.cshtml";
}

@section Navigation
{
<div class="breads">
    <div class="breads_inner">
        <div class="pageWidth">
            <div class="title">
                <h3>FAQ</h3>
            </div>
            <div class="breadcrumbs">
                <ul>
                    <li><a href="../index/index">Home</a></li>
                    <li><i class="breads_arrow"></i></li>
                    <li>FAQ</li>
                </ul>
            </div>
        </div>
    </div>
</div>
}

<article>
    <div class="about_categories">
        <select>
            <option>Beautician</option>
            <option>Photographers</option>
            <option>Cake Vendors</option>
            <option>Caterer Decorators</option>
            <option>Designer Photographers</option>
            <option>Entertainment</option>
            <option>Fireworks</option>
            <option>Godi wale</option>
        </select>
    </div>
    <div class="about_content">
        <div class="about-services">
            <div class="acc-container">
                <div class="acc-btn">
                    <h1 class="selected">Neque porro quisquam est qui dolorem ipsum</h1>
                </div>
                <div class="acc-content open">
                    <div class="acc-content-inner">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam tristique eu erat fringilla consectetur. Aliquam quis tincidunt arcu. Vestibulum consectetur sed lorem a facilisis. Donec eu convallis orci. In nec euismod elit. Aenean tristique facilisis ligula, sit amet laoreet diam laoreet sit amet. Mauris pharetra tristique ullamcorper. Curabitur ultrices lectus id tortor ultrices volutpat. Aenean odio nulla, malesuada vitae tincidunt vel, tristique elementum metus. Praesent pretium ut lectus eu bibendum. Duis lacinia at est in accumsan.</p>
                        <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature.</p>
                    </div>
                </div>
                <div class="acc-btn">
                    <h1>Morbi tempor felis ac leo fermentum ullamcorper</h1>
                </div>
                <div class="acc-content">
                    <div class="acc-content-inner">
                        <p>Nulla facilisi. Proin sodales dolor in odio lacinia, ut venenatis massa lobortis. Morbi congue dignissim nisi gravida consequat. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam sed egestas diam. Nunc ut mauris tempus, rutrum massa vel, pellentesque velit. Nullam eget diam sit amet diam pretium scelerisque. Nunc sed odio nisi. Nunc odio est, rhoncus vitae risus a, sagittis ultrices mauris. Fusce scelerisque posuere pulvinar.</p>
                    </div>
                </div>
                <div class="acc-btn">
                    <h1>Phasellus a turpis quam</h1>
                </div>
                <div class="acc-content">
                    <div class="acc-content-inner">
                        <p>Nunc nec pretium elit, sed elementum diam. Phasellus a turpis quam. Sed id lacinia nulla. Fusce in odio vitae lacus mattis ullamcorper. Sed ut sagittis neque. Cras sit amet mollis augue. Mauris ut eleifend massa, non placerat leo. Integer sit amet lectus et nisl condimentum faucibus. Pellentesque tortor lorem</p>
                    </div>
                </div>
                <div class="acc-btn">
                    <h1>Mauris ut eleifend massa</h1>
                </div>
                <div class="acc-content">
                    <div class="acc-content-inner">
                        <p>Fusce eget ultricies ante. In augue urna, rhoncus ac tellus non, porta malesuada magna. Nulla tincidunt orci in metus rhoncus, at malesuada quam varius. Mauris sed tincidunt massa, ut cursus magna. Pellentesque cursus sapien turpis, id blandit magna tempus at.</p>
                    </div>
                </div>
                <div class="acc-btn">
                    <h1>Praesent ac ultricies metus. Integer egestas</h1>
                </div>
                <div class="acc-content">
                    <div class="acc-content-inner">
                        <p>Phasellus at diam enim. Morbi gravida, lacus nec vehicula lacinia, nulla nulla eleifend urna, quis luctus ante libero at magna. Nulla efficitur neque et velit malesuada, pretium maximus odio eleifend. Integer mauris ex, lacinia in mi vel, lacinia venenatis tellus.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="clear"></div>
    </div>
</article>


@section advertisement
{
    <div class="ad">
        <div class="pageWidth">
            <div class="ad_728"><img src="../CSSWeb/images/ad_728.jpg" alt="advertise"></div>
        </div>
    </div>
}
